[2017-08-28 18:02] night commented on #368
This is actually a bug, and that message is not static

[2017-08-28 18:06] night commented on #367
@kantenkugel that was the change I already made (and deployed)

[2017-08-28 18:28] kantenkugel commented on #367
Ah sorry then. I wasn't exactly sure what you deployed and what you had to speak with a dev about.

[2017-08-28 18:33] MinnDevelopment commented on #367
Nevertheless, while this fix is a good improvement and helped my implementation I believe that the 30/60 rate limit should also be documented as there is no way of knowing about it from the headers alone now from what I can tell.
Users might hit 429 and think they are hitting a limit that their handling did not detect and blame their handling instead, the documentation can be improved which is why

[2017-08-28 18:36] night commented on #367
As was stated, this is an unintended limitation and will be fixed, as Jake and I already explained. Rate limits are already documented, your app should respect the headers we provide. As long as you're not spamming a channel you won't really run into issues in the interim.

[2017-08-28 18:45] night commented on #357
a commit has been pushed to address this. thanks for reporting.

[2017-08-28 18:45] #357 closed, assigned to nobody

[2017-08-28 18:45] night commented on #368
a commit has been pushed to address this. thanks for reporting.

[2017-08-28 18:45] #368 closed, assigned to nobody

[2017-08-28 18:50] MinnDevelopment commented on #367
I'm not writing an application, I'm implementing webhook execution in JDA and yes I am respecting the headers already. I just wanted to point out that the documentation on executing webhooks seems very brief in general.
The weird rate limits were only something that I noticed while debugging and testing my rate limit handling, as of now it does not hit 429 unless hitting 30/60 which is completely

[2017-08-29 00:15] dfltr commented on #338
Issue has been fixed, thanks for reporting.

[2017-08-29 00:15] #338 closed, assigned to nobody

[2017-09-01 09:00] blha303 opened #369 "The redirect parameter after login doesn't seem to work; it always sends you to the web chat client"
I was told to submit this here from the Discord Testers server as it's related to the website, not the client.

Steps to Reproduce:
 - Be logged out
 - Go to `https://discordapp.com/developers/applications/me`
 - It redirects to `/login?redirect_to=/developers/applications/me`
 - Log in as normal
 - The redirect parameter is ignored and the web client is loaded instead

Expected Result: The page s

[2017-09-01 20:24] diceroll123 opened #370 "Off-by-one error for estimating pruned members"
![image](https://user-images.githubusercontent.com/1243957/29986544-e11f5802-8f31-11e7-9b39-0e12c06bf7a0.png)

30 does indeed work. I just happened to be in my test server where I'm alone when I took this screenshot. 😩

[2017-09-01 21:20] z64 commented on #370
I guess I'll add this here too:
[code]
You can indeed delete 100 messages

[2017-09-05 22:52] night commented on #369
This is fixed in master. Thanks for reporting.

[2017-09-05 22:52] #369 closed, assigned to nobody

[2017-09-05 22:58] night commented on #370
The error message text is just wrong, and the limits are working as intended. This is fixed in master. Thanks for reporting.

[2017-09-05 22:58] #370 closed, assigned to nobody

[2017-09-09 23:59] GiovanniMCMXCIX opened #376 "Author in embeds are using the embed url when the author url field is not set"
When sending an embed using both author and title fields while having an embed url specified, the author name will use the embed url if the author url field is not used
### How to recreate the bug
when sending this payload it should recreate the said bug
[code]

[2017-09-10 00:03] night commented on #376
This is intended functionality.

[2017-09-10 00:03] #376 closed, assigned to nobody

[2017-09-16 04:10] isabelcoolaf commented on #226
Completed?
https://discordapp.com/developers/docs/topics/community-resources

[2017-09-16 22:29] bkuhl commented on #367
Do these rate limits apply for any given application sending messages to many webhooks on different channels?  e.g. - an app wants to send the same message via a webhook to 100 channels.

[2017-09-16 22:34] bkuhl opened #379 "[Question] Is it possible to encode data in the OAuth webhook creation process?"
I'm using the [OAuth Webhook creation](https://discordapp.com/developers/docs/topics/oauth2#webhooks) approach and would like to be able to base64 encode some data to go with the user as they go to Discord's web site.  There isn't anything in the documentation, so I'm wondering if this is possible?  If not, where can I request this feature be added?

[2017-09-16 22:46] night commented on #379
What kind of data are you base64 encoding? Have you tried using the `state` OAuth2 querystring parameter?

[2017-09-16 22:48] night commented on #367
Rate limits would be per channel, not per application. You are still subject to a global rate limit, so you would still need to fan out at an appropriate rate.

[2017-09-16 22:49] bkuhl commented on #379
I just figured out a way to adjust my workflow so I no longer need this encoded data.  My initial thinking was to encode a gameId that my user selected before going to Discord.

[2017-09-16 22:49] #379 closed, assigned to nobody

[2017-09-16 23:00] cryptiklemur commented on #226
Implemented now

[2017-09-16 23:00] #226 closed, assigned to nobody

[2017-09-17 01:12] LJNeon opened #380 "Document Category Channels"
All the docs do at the moment is mention that they exist once. Full documentation would be nice.

[2017-09-17 06:05] night commented on #380
We will be documenting channel categories once the feature is released to everyone. It's currently in beta testing on Canary.

[2017-09-17 10:12] MinnDevelopment commented on #380
What is the intention not to document it now? The API libraries/applications will still have to support them now or have to at least ignore them accordingly. Do you plan to make any significant changes to the structure before pushing it to stable?

[2017-09-18 17:51] msciotti commented on #226
Forgot to tag the issue—thanks!

[2017-09-18 17:53] msciotti commented on #380
The intention not to document them now is:

1. It's still in beta, so it's possible that breaking changes could be made as we fix bugs and create improvements.

2. I haven't gotten to it yet.

[2017-09-19 06:01] LJNeon commented on #380
In that branch I noticed that channel categories are said to have a nsfw property, is that true? There's no way to mark a channel category as NSFW in the canary UI.

[2017-09-19 06:19] MinnDevelopment commented on #380
@MasterJPixel they are very much released on the live api version, the client does not matter in this case.

[2017-09-19 17:51] msciotti commented on #380
@LJNeon They do currently have a nsfw property. Might be changed in the future, since it is unnecessary

[2017-09-21 20:14] MinnDevelopment opened #385 "Guild-Create endpoint documentation unclear/incomplete"
When creating guilds you can add pre-defined role objects.
The first object in the list is used to change properties (permissions) of the `@everyone` role; this will drop properties such as `name` and causes confusion when not explicitly documented.

See [Create Guild Documentation](https://github.com/discordapp/discord-api-docs/blob/master/docs/resources/Guild.md#create-guild--post-guilds)

[2017-09-22 01:20] night commented on #385
Fun fact would be Mason ran into this same issue when playing with this API endpoint. 😄 It's a real issue.

[2017-09-22 17:44] msciotti commented on #385
Yeah, I will add this. I was in fact bamboozled myself with this endpoint. Who writes these friggin docs anyway.

[2017-09-22 17:44] msciotti commented on #380
Added with #384!

[2017-09-22 17:44] #380 closed, assigned to nobody

[2017-09-22 19:56] jhgg opened #387 "[api/semi-breaking change] (Very) Large Bot Sharding"
**If you are a bot in over _100,000_ guilds,** we are rolling out a new sharding system. You won't need to modify your code, or do anything special except for ONE thing. The number of shards you run must be a multiple of 16 (or another number we may determine deciding upon the size of your bot). I'll be reaching out to each large bot author individually over the course of the next month to perform

[2017-09-22 21:48] jhgg commented on #387
I don't follow @haykam821

[2017-09-22 21:55] Emzi0767 commented on #387
@haykam821 Unless you operate a bot in over 100k guilds, this doesn't affect you. At 100k guilds, 16 shard granularity really isn't large.

[2017-09-23 13:42] haykam821 commented on #387
@Emzi0767 It does affect me

[2017-09-23 14:23] Emzi0767 commented on #387
Your bot is not listed on the list of affected bots; ergo, it doesn't.

[2017-09-23 17:49] LaxSlash opened #389 "User applications developers page partially broken, 304 redirects"
https://discordapp.com/developers/applications/me
Kicking back 304s, redirecting for multiple users.
Chrome did throw a 404 at one point
Cleared both local cache and temp files.
Tried multiple browsers
ipconfig /flushdns

Works if I click on the link to My Applications on the left hand bar, but refreshing that page as well as direct linking is broken.

[2017-09-23 21:14] Kodehawa commented on #387
Looking foward to it!
By the way, will the number of recommended shards change (as you say multiples of x) from the old approximation it made (around 73500 guilds = 74 shards, for example)?

[2017-09-23 21:49] Emzi0767 commented on #387
I believe that about answers your question.

[2017-09-23 21:57] haykam821 commented on #387
@Emzi0767 What if my bot is extremely close to 100k guilds?

[2017-09-23 21:57] Kodehawa commented on #387
I mean, will the recommended shards calculation change at all compared to the current one (instead of being 103 shards on 102600 guilds, for example)
And this change actually concerns me as in the current growth rate, I might aswell reach 100k guilds pretty soon.

Just a question anyway, I think this is pretty nice.

[2017-09-23 21:59] Emzi0767 commented on #387
100k doesn't happen overnight, and bot grow rate is generally logarithmic, not linear. Shard calculations do not change for sub-100k, and at 100k, granularity of 16 shards is not large at all (considering it takes about 96 shards to take a 100k bot to ~1k guilds per shard).

[2017-09-23 22:00] khazhyk commented on #389
Ditto

[2017-09-23 22:02] Kodehawa commented on #387
Yeah, I know :P
100k happens in a good amount of time, and I'm still about 25k guilds away from that milestone, but I still wondered.

Yeah, was just wondering how much shards it would actually give you at that count.
Thanks you

[2017-09-23 22:04] Rapptz commented on #387
@Kodehawa Literally the first bullet point says that the gateway bot endpoint will change to reflect the new calculation.

[2017-09-23 22:06] Kodehawa commented on #387
Ye, I was wondering on how much it actually affected it depending on the number.
For what I understand, I guess it's pretty much just multiples of 16 now, but as it said "or any other number depending on the size of your bot" it was intruguing me a bit.

Whee, I'm just tired today, but I think I got it.

[2017-09-23 23:25] b1naryth1ef commented on #389
Seems to happen on first load, but not navigation after your loaded. @dfltr can you take a look monday?

[2017-09-24 01:32] jhgg commented on #387
Take the current estimate and round up to the nearest number divisible by 16.

[2017-09-25 18:12] Kodehawa commented on #387
Thanks ^^

[2017-09-26 06:27] cookkkie commented on #387
@Emzi0767 Def not logarithmic for Mee6 lol. At least polynomial.

[2017-09-27 17:46] MattIPv4 commented on #389
Looks like hotlinking protection?

[2017-09-27 18:54] dfltr commented on #389
This was due to a misconfiguration on our end, should be fixed now. Thanks for the report 👍

[2017-09-27 18:54] #389 closed, assigned to nobody

[2017-09-28 00:35] Xevryll commented on #387
So, referring to the shard count, out of curiosity, why multiples of 16? Also, the move up from 1,000 to 2,000 is referring to bot restarts, I am assuming? This doesn't quite apply to me as Gnar is only on 85k, but with his current growth, we should be at 100k within the coming week(s).

Also can we still get our recommended shard count directly from Discord?

[2017-09-28 01:10] MinnDevelopment commented on #387
The 2,000 refers the IDENTIFY limits per 24 hours. The 1,000 limit of IDENTIFY requests within 24 hours has been added to prevent bots from falling into reconnect loops and is an issue to larger bots when outages occur that cause RESUME to fail.

To refer to your last question

[2017-09-28 01:23] jhgg commented on #387
Just felt right, ya kno? There's no technical reason other than my preference to numbers that are powers of two that are adequately large.

[2017-09-28 18:36] KoolieAid opened #394 "Wrong placements or whatever you call it"
So umm when i add a bot, my servers doesnt show up, and the bar is too small, ill link a pic
![capture](https://user-images.githubusercontent.com/26061711/30984083-ea7c46ba-a4be-11e7-86ac-dc24419e90ae.JPG)

[2017-09-28 18:37] KoolieAid commented on #394
and if you're wondering why i posted here and not in discord testers server is because i asked them if this was already reported but a hunter said that it should be here
![capture](https://user-images.githubusercontent.com/26061711/30984176-2f9097d8-a4bf-11e7-994c-7fb44ec32c59.JPG)

[2017-09-28 18:41] Fabricio20 commented on #394
The servers not showing up isn't a bug, it happens when you are not logged in on the web browser.

Now the CSS, I don't think it's here, but we'll see.

[2017-09-28 18:43] night commented on #394
The middle area is scrollable. For small screen heights there's not much we can do to improve the experience at this time and it can be considered working as intended.

If servers are not showing up you're likely on the wrong account. Log out on the web app then refresh the authorization form.

[2017-09-28 18:43] #394 closed, assigned to nobody

[2017-09-29 12:44] Bastian opened #395 "Clarify that reactions are a per-account ratelimit"
After receiving some 429 while testing reactions I found out that the reaction endpoint has a per-account ratelimit instead of a per-channel ratelimit like most people (including me and the popular R.Danny bot) seem to believe.
![](https://i.imgur.com/ec3aJt8.png)
I don't really get why they are not per-channel (which would make far more sense), but after some more testing (also with other librari

[2017-09-29 14:03] Alcaro commented on #395
Per https://discordapp.com/developers/docs/topics/rate-limits

and https://discordapp.com/developers/docs/resources/channel#create-reaction

the channel ID should indeed be part of the rate limit. Bug indeed, but I'd say it's in Discord itself, not just the docs.

[2017-10-07 19:35] Darkchaos2 opened #400 "Hidden voice channels showing on web widget"
I always worry that this isn't a bug or it has been mentioned before and is going to annoy someone, so I apologise if that is the case.

Anyway, on with my issue. I have a voice channel with the perms:
![image](https://user-images.githubusercontent.com/14241347/31310980-806ca2be-ab9a-11e7-9832-32910b6bd1f7.png)
(all permission are inherited except for the ones shown above)

I would expect that bec

[2017-10-11 15:10] bkuhl opened #405 "Make clear which options are read only on Embed object"
Can the [embed documentation](https://discordapp.com/developers/docs/resources/channel#embed-object) be updated to make clear which options are read only (e.g. - video)?

[2017-10-11 15:14] z64 commented on #405
It is documented under the [Create Message](https://discordapp.com/developers/docs/resources/channel#create-message) endpoint

[2017-10-11 15:20] bkuhl commented on #405
Ah, gotcha.  Thanks

[2017-10-11 15:20] #405 closed, assigned to nobody

[2017-10-12 11:14] MinnDevelopment opened #406 "GUILD_EMOJIS_UPDATE with null emoji name"
One of our users received a `GUILD_EMOJIS_UPDATE` payload in which one of the emojis had a null name.
As per [documentation](https://discordapp.com/developers/docs/resources/emoji#emoji-object), this should be impossible.

Reference: DV8FromTheWorld/JDA#514

[2017-10-12 12:37] night commented on #406
I’ll spare the details of why this is happening, but this should be fixed for the moment again.

[2017-10-12 12:37] #406 closed, assigned to nobody

[2017-10-13 06:48] justgerd commented on #400
They are also still shown on mobile, aren't they?

[2017-10-14 00:37] Darkchaos2 commented on #400
The channels appear to work as expected on mobile. That being channels with the view channel permission denied are not showing on the list.

Tested on:
Android 8.0.0
Discord 5.3.8 (538)

[2017-10-24 20:07] msciotti commented on #400
Fix has been committed—thanks for the heads up!

[2017-10-24 20:07] #400 closed, assigned to nobody

[2017-10-25 03:57] night commented on #395
this seems like a bug. it would be more sane as a per channel limit to match messages

[2017-10-25 16:00] SinisterRectus opened #413 "Partial emoji structure missing"
When I added reaction events to gatway.md (#269), I recommended a warning to indicate that the emoji only had a name and sometimes an id. I was convinced to not add it because that information was already provided in channel.md.

A few weeks later, the emoji link was changed with #300 and the structure information was removed with 75b222c9c2b5e2e4319b88e3130cb3f92f24d611.

Later still, a dedicated

[2017-10-25 21:05] msciotti commented on #413
I think since we have a specific emoji page now, it would be relevant to make a mention about the partial emoji structure there.

[2017-10-28 00:29] #385 closed, assigned to msciotti

[2017-10-28 14:32] MinnDevelopment commented on #406
I just got the same thing on GUILD_CREATE with an emoji with a null name.

[2017-10-28 18:56] night commented on #406
@MinnDevelopment do you have a guild id I can check?

[2017-10-28 19:14] MinnDevelopment commented on #406
Guild: 118727034708033536
Emoji: 311583433497509889

[2017-10-28 19:43] night commented on #406
thanks.. it is indeed a null emoji. we never merged and deployed the permanent fix for this. i will do that today

[2017-10-29 04:30] night commented on #406
I've deployed a permanent fix for this. It shouldn't occur any longer.

[2017-10-29 11:23] MinnDevelopment opened #415 "Confusing create message documentation"
According to the discord client you can only send files with up to 8 MB in size.
Testing using the api endpoint revealed that sending more than 8 MB (e.g. `8.000.100`) is still possible but sending 8 MiB is not.

I am asking, is this limit an 8 MiB limit to the entire request rather than the file attachments? I have not been able to spot anything mentioning these limits in the documentation.

The

[2017-10-29 18:07] Exahilosys opened #416 ""owner_id" is sometimes missing from GUILD_CREATE payloads"
I don't know what might be causing this, but "owner_id" might stop being sent for some GUILD_CREATE payloads for specific guilds. As #100 mentioned, this should not be the case.

[2017-10-29 18:17] Exahilosys commented on #416
Semantics error on my end, sorry for bothering.

[2017-10-29 18:17] #416 closed, assigned to nobody

[2017-10-29 18:32] night commented on #415
Testing using the api endpoint revealed that sending more than 8 MB (e.g. 8.000.100) is still possible but sending 8 MiB is not.

The 8MB limit is 8388608 bytes on the request itself. This means that you can upload files around 8MB in size. We limit the request instead of the file because we do not want people uploading multiple large files in a single request.

The docs explicitly state that to b

[2017-10-29 19:54] MinnDevelopment commented on #415
I mentioned that it contradicts itself because of the title of the table.

[2017-10-29 23:20] night commented on #415
I didn't notice the table heading, apologies. Feel free to open a PR with a more sensible header.

[2017-10-30 01:31] jagrosh commented on #415
The android client (and possibly the iOS client, but I can't test) supports sending multiple files in a single message.

[2017-10-30 17:18] #415 closed, assigned to nobody

[2017-10-30 18:36] MinnDevelopment commented on #415
So both the 8MiB request limit and sending multiple files is not worth documenting?

[2017-10-30 19:13] msciotti commented on #415
As night mentioned, uploading multiple files in intentionally undocumented. I can add in a caveat about the 8mb being request size rather than actual file size.

[2017-11-01 21:04] iEchoic opened #421 "OAuth flow is broken in Incognito Chrome and inapp browsers (regression)"
Hello,

There's been a recent regression in the Discord OAuth API (web flow), which is causing a lot of user bug reports and is breaking Discord login on our iOS app. When the OAuth URL is opened in incognito mode (or in an in-app browser), it hangs at a blank grey screen.

**Steps to Reproduce**: open www.dynobot.net or www.guilded.gg in Incognito mode, click 'log in' with Discord
**Expected Resu

[2017-11-01 21:06] b1naryth1ef commented on #421
@dfltr can you look at this ASAP?

[2017-11-01 21:09] night commented on #421
it looks like it might be the react router html5 redirect breaking it. refreshing after redirect makes login work

[2017-11-01 22:44] night commented on #421
This should be fixed. Thanks for reporting.

[2017-11-01 22:44] #421 closed, assigned to nobody

[2017-11-02 21:25] bkuhl opened #422 "Guild list in the same order the user as them in"
https://discordapp.com/developers/docs/resources/user#get-current-user-guilds does not currently describe any way to get the guild list in the same order the user has them in in the Discord client.  Is there a way to accomplish this that I'm not able to find?

If not, is this issue enough to request this feature or should I go to the Feedback section on the main site, even though it's an API reque

[2017-11-02 21:30] night commented on #422
Order is not useful to bots, and we do not support user bots. Since guild order is stored as a user setting it is unlikely we'll consider this for other purposes like OAuth2.

[2017-11-02 21:30] #422 closed, assigned to nobody

[2017-11-02 21:31] MinnDevelopment commented on #422
Wouldn't this be useful for OAuth2 applications?

[2017-11-02 21:31] bkuhl commented on #422
Correct, order is not useful to bots.  However I don't need the order for my bot, I'd like to utilize it on the site my user logged in via oauth with.  My users login via oauth to configure how the bot interacts with their Discord guild.

[2017-11-02 21:32] MinnDevelopment commented on #422
Bots would be aware of the order due to the READY payload anyway so this can only be useful for apps.

[2017-11-04 18:17] Tesla010 commented on #17
Is it possible to manually calculate shard number?

[2017-11-04 18:19] jhgg commented on #17
Yes. Given the number of servers your bot is in. And the limit of how many servers can exist in a single shard, it is very easy to calculate the shard count required.

For any further inquiries about this, open a new issue with a specific and detailed question that you need clarification on.

[2017-11-04 18:39] Tesla010 opened #423 "Manual Shard Calculator"
Okay, so the bot isn't responding in certain servers, and since the bot isn't responding, I need to manually calculate what the shard the server is in. The bot has 400 shards and is in 499476 servers.

[2017-11-04 18:41] z64 commented on #423
See the documentation on sharding:

[code]

https://discordapp.com/developers/docs/topics/gateway#sharding

[2017-11-04 19:07] Tesla010 commented on #423
I'm looking for an equation that doesn't need to go into a bot. But thanks.

[2017-11-04 19:11] cryptiklemur commented on #423
That is the equation though

[2017-11-04 19:12] Tesla010 commented on #423
Well, I'm such a noob... I guess the real question is, how do I use it...?

[2017-11-04 19:13] Tesla010 commented on #423
Thanks for the quick responses though.

[2017-11-04 19:13] shikhir-arora commented on #423
What do you mean go into a bot? That calculation doesn’t have anything to do with the bot, just tells you what Shard the bot will be in a specific guild based on the total number of shards and the guild in question.

[2017-11-04 19:14] Tesla010 commented on #423
Oh boy... I'm going to trigger so many people...

[2017-11-04 19:15] cryptiklemur commented on #423
I'm going to assume you are trying to report that one of the shards on DynoBot is down? If so, you'd be best letting them know in the dyno server: https://discord.gg/MRaPFTH

[2017-11-04 19:15] Tesla010 commented on #423
(249259087496216576 >> 22) % 400 == shard_id
I just don't know what to do after...

[2017-11-04 19:16] Tesla010 commented on #423
Yeah, it's Dyno, but I'm already in the server.

[2017-11-04 19:16] cryptiklemur commented on #423
So let them know in the server that a shard is down. You dont need to let them know what shard is down, they can figure it out

[2017-11-04 19:17] Tesla010 commented on #423
That's the thing... They can't.
Noob already tried searching for issues, but Dyno isn't showing any.

[2017-11-04 19:18] Tesla010 commented on #423
So we're looking for shard numbers.

[2017-11-04 19:18] devsnek commented on #423
![](https://gc.gy/ɁƜ⛏.png)

[2017-11-04 19:19] Tesla010 commented on #423
Thank you. That's all I needed.

[2017-11-04 19:21] #423 closed, assigned to nobody

[2017-11-06 01:29] Vampire commented on #182
How about adding a second header that carries milliseconds instead of seconds and deprecate the old one. As long as the old one is still sent, the old implementations work like before and new / fixed implementations could use the new header.

[2017-11-07 18:14] dragonbane0 opened #426 "Conflicting statements about a bot's ability to create group DM channels"
The API makes it quite clear in the OAuth section that a bot cannot join a group DM channel:

[code]

Naturally I assumed this would also mean that a bot cannot create a group DM channel with others in it apart from himself. However considering the API is aimed at bot developers only, why are these 2 functions documented there?

[code]

Even weirder is this property in the Channel Object that clea

[2017-11-07 19:23] MinnDevelopment commented on #426
The api is not only for bot creators but specifically for OAuth2 application. Bots are simply a special feature of applications.
There is a scope that allows an application to create and manage a group DM. This doesn't mean that a bot of that application can join it.

[2017-11-07 19:44] msciotti commented on #426
In this specific case, creation of a group DM and the flow you went through is tied to our Chat SDK under GameBridge. It uses "invisible" group DMs like this to allow games to match players together for voice and text chat. I was under the impression that the `gdm.join` scope was supposed to be whitelist only—perhaps @night can speak more to that.

[2017-11-07 20:22] night commented on #426
for testing purposes we allow some to be made without a whitelist. the documentation is accurate. bots cannot join group dms. the bot/application is managing group dms it creates, but cannot participate in them

[2017-11-07 20:22] #426 closed, assigned to nobody

[2017-11-07 20:29] dragonbane0 commented on #426
Thanks a lot everyone, that cleared it up for me. Very interesting way of matching players together. Perhaps adding a note that it is specifically intended for GameBridge apps would be helpful but I'm fine either way

[2017-11-09 18:31] z64 opened #427 "Get Current User Guilds "permissions", "owner" not explained"
https://discordapp.com/developers/docs/resources/user#get-current-user-guilds

The documentation here shows `permissions` and `owner` in the example partial guild object:
[code]
Where `owner` is `true` if the Bearer is the owner of that guild, and `permissions` representing their (total of all roles, I'm assuming?) permissions in that guild.

This links to the [full guild object](https://discordap

[2017-11-12 19:31] LaxSlash opened #430 "MESSAGE_CREATE on DM not reliably being received"
Multiple reports currently.

MESSAGE_CREATE not always being received on DM.

[2017-11-12 19:45] eritbh opened #431 "Guild widgets: Users on Do Not Disturb don't show a status dot"
For example: https://discordapp.com/widget?id=159404315243577344

![screenshot 2017-11-12 at 15 03 53](https://user-images.githubusercontent.com/4165301/32702842-bf7a8476-c7ba-11e7-99ca-5e9981492d9b.png)

Checked it out with inspect element, it seems the stylesheet doesn't have anything set for the `.widget-member-status-dnd` CSS class. The class is added to the appropriate elements, it's just not

[2017-11-12 19:46] SinisterRectus commented on #430
https://status.discordapp.com/incidents/dymd4ctbtlcb

[2017-11-12 20:52] LaxSlash commented on #430
^ Can be closed, issue resolved it looks like.

[2017-11-12 20:52] #430 closed, assigned to nobody

[2017-11-14 21:19] msciotti commented on #431
@TheSisb I think you're in charge of widget things?

[2017-11-14 21:39] TheSisb commented on #431
Thanks for reporting this.  Will be fixed in our next release.

[2017-11-14 21:39] #431 closed, assigned to nobody

[2017-11-16 13:28] Wreeper opened #434 "Token keeps changing"
[Click to see video.](https://www.youtube.com/watch?v=6Kr6LgTRwc8)
# _**What can i _do?**_ #

[2017-11-16 13:34] devsnek commented on #434
that's normal, discord doesn't store tokens so every time you reload the page it will be slightly different. All the tokens you see there will be valid until you click regenerate.

[2017-11-16 18:13] #434 closed, assigned to nobody

[2017-11-18 09:19] Wreeper commented on #434
But to me , these aren't valid.

[2017-11-18 09:28] b1naryth1ef commented on #434
@Wreeper can you clarify what you mean by that? The tokens are all valid, they just change along with the date and time. Clicking the regenerate button will cause all prior generated tokens to be invalidated, and any subsequently generated ones to be valid.

[2017-11-18 14:38] JustPoppy commented on #434
@everyone Hmm.

[2017-11-18 14:38] MinnDevelopment commented on #434
If these aren't valid you are doing something wrong. The header for authorization on REST requests have to be `Authorization: Bot TOKEN` and for sending messages you have to connect to the gateway at least once.

[2017-11-21 01:27] #427 closed, assigned to nobody

[2017-11-23 16:49] Wreeper commented on #434
I don't know what you are saying,
If you mean package.json , here is it

{
  "name": "𝕓𝕦𝕝𝕝𝕖𝕩ʜɪ†",
  "version": "1.0.0",
  "description": "Wreeper is the owner.",
  "main": "bot.js",
  "author": "Wreeper 2k17",
  "dependencies": {}
}

The code worked , until the update.
The bot.js worked..

[2017-11-28 21:47] #413 closed, assigned to nobody

[2017-11-28 22:07] SinisterRectus commented on #413
Thanks.

[2017-11-29 19:14] #350 closed, assigned to nobody

[2017-11-29 19:19] #367 closed, assigned to nobody

[2017-11-30 00:39] MrLar opened #440 "Clarify the Usage Self & Userbots in the Terms of Service"
I know there have been made multiple statements about not using selfbots and such and even a support article now. But I personally believe and so do a few of my firends. That Discord should make an Official and final statement in the Developer Terms, as we as much as I hate to admit it do hear different things almost on daily base's. I also think it should be clarified (in the Terms) whenever call

[2017-11-30 00:41] Rapptz commented on #440
What exactly is ambiguous about this?

[2017-11-30 00:43] msciotti commented on #440
The docs are clear on this. Self botting and user botting are not allowed.

[2017-11-30 00:43] #440 closed, assigned to nobody

[2017-11-30 00:44] Kodehawa commented on #440
I'd like this being added to the Developer ToS to avoid further confussion.

[2017-11-30 00:50] LikeLakers2 commented on #440
@msciotti Without trying to cause a big argument here, I need to ask... if self-bots are disallowed, then why are so many people publicly using self-bots without being terminated? I've seen lots of people in the **Discord API server** (among other servers) use self-bots without repercussion. Not to mention, I imagine it'd be pretty freaking easy to track down self-bot usage without even needing to

[2017-11-30 00:52] Rapptz commented on #440
I don't understand why you guys are debating something that is so explicitly stated as disallowed.

Just because something is disallowed doesn't stop other people from doing it (repercussions or not), just how making something illegal doesn't stop illegal activity.

[2017-11-30 00:52] Kodehawa commented on #440
I have exactly the same question.
Also, this matter is not clear on the Developer or User ToS, as the stance from discord on that matter is posted on a *separate article*, which makes everything very fragmentated and way harder to find.

[2017-11-30 00:53] msciotti commented on #440
@LikeLakers2 if you believe that you see users using selfbots, you can report them to abuse@discordapp.com with ids, screenshots, message ids, etc.

Much like in-server abuse, we do not monitor every user on every server. If you see something you believe is violating our TOS in some way, you should report it.

[2017-12-02 18:51] Dramex opened #443 "View audit logs permission don't appear in oauth2/authorize"
Hi,

view audit logs permission don't appear in authorize page.

with all permission:
https://discordapp.com/oauth2/authorize?client_id=161660517914509312&scope=bot&permissions=2080374975

with 128 (view audit logs) :
https://discordapp.com/oauth2/authorize?client_id=161660517914509312&scope=bot&permissions=128

please fix, this annoying me :( .

Thanks

[2017-12-03 18:10] msciotti commented on #443
Sounds like a web bug 👍

[2017-12-06 18:08] devsnek opened #444 "put a note next to the token that explains that it will change every time the page reloads"
most people don't know how discord's token system works and they get confused about why the tokens are updating, this would help

[2017-12-06 18:29] Emzi0767 commented on #444
Alternatively, a message which says something along the lines of:

[2017-12-09 14:18] vladfrangu opened #445 "UserObj.verified stating it requires a scope it doesn't actually need"
The current documentation states that you need the `email` scope to be able to receive the `verified` field on a user object.

That isn't the case, as such you don't need the `email` scope to get `verified`, although you probably need `identify`. Either that, or this in an API Bug

![Image](https://i.kingdgrizzle.ml/2017/12/48p6K9.png)

[2017-12-10 03:37] LaykaKiro opened #447 "what do i do?"
it's been like this for the past week!
![image](https://user-images.githubusercontent.com/34409251/33801701-41697ac8-ddaf-11e7-9f91-86be89140fe2.png)

[2017-12-10 03:38] LaykaKiro commented on #447
i've uninstalled and reinstalled it, restarted everything and defragged my computer, nothing has changed!

[2017-12-10 03:50] Rapptz commented on #447
This is not the place for these types of issues.

This is for the API documentation and issues regarding the discord API.

Go to [discord testers](https://discord.gg/discord-testers) for bug reporting Discord issues or email support@discordapp.com

[2017-12-10 08:42] #447 closed, assigned to nobody

[2017-12-10 20:33] LaxSlash opened #448 "API Feature Request: Track invite used."
Feature request to include the invite code used as well as the inviting member in the member join event. Alternatively, include invite used information in the member object (invited-by: [USER SNOWFLAKE]).

[2017-12-10 20:39] jhgg commented on #448
Hi,

What's the use case here?

[2017-12-10 20:42] Vexs commented on #448
Handy for bot-logging, so you can tell what invite is being used for raids, or if unsavory people are joining, you can find out how. Currently can be done by polling the invite list for increments, but thats unreliable at times.

Similar vein, a create invite event would be nice.

[2017-12-10 20:53] MinnDevelopment commented on #448
There is an OAuth scope which allows applications to add users to guilds. This could be used instead.

[2017-12-10 21:03] cryptiklemur commented on #448
Not really the same use case that vexs pointed out

[2017-12-10 23:42] sugoidogo opened #449 ""Ghost" channels - Channel update sent after Channel delete"
https://pastebin.com/Zr5P6WQN

in the cases listed there, a channel update is being sent out after a channel delete, causing the channel to re-appear in the official discord clients.

[2017-12-11 02:33] s5bug commented on #448
@MinnDevelopment vexs means that when a user joins, the invite information would be sent in an event. _Not_ add a user to a guild using an invite.

[2017-12-11 05:54] msciotti commented on #445
I'll take a look. If you can receive information about the user's email without explicitly requesting scopes around their email, that does seem silly.

[2017-12-11 09:21] MinnDevelopment commented on #448
He is talking about adding this for raid prevention, I'm just saying that this OAuth scope already makes this possible as it gives full control over who gets added in the first place making this information available.

[2017-12-11 09:29] Emzi0767 commented on #449
Eventual consistency. This is a bug, but someone will argue that also a feature.

[2017-12-11 09:31] MinnDevelopment commented on #449
I just wanna point out that this is handled properly by JDA already: [ChannelUpdateHandler L215](https://github.com/DV8FromTheWorld/JDA/blob/ae646da571e0db1a55f578329417ca1b4929a025/src/main/java/net/dv8tion/jda/core/handle/ChannelUpdateHandler.java#L215)

[2017-12-11 09:32] Emzi0767 commented on #449
The issue here is about the official clients from what I understand, JDA was used to present the cause of an issue.

[2017-12-11 09:55] jhgg commented on #445
This is working as intended. The thought is you can ask if a user has a verified e-mail w/o having to ask for their e-mail. The docs should be updated in this case.

[2017-12-11 10:11] sugoidogo commented on #449
I *think* this issue lies in the discord server, an update shouldn't be sent out on deleted channels

[2017-12-11 10:32] MinnDevelopment commented on #449
@josephsmendoza https://discordapp.com/developers/docs/reference#consistency

[2017-12-11 16:58] cryptiklemur commented on #448
OAuth scope doesn't let people create invite links for others to join. It also means you lose the discord.gg link.

[2017-12-11 17:26] msciotti commented on #445
Interesting. OK, I'll update the docs!

[2017-12-11 17:47] msciotti commented on #445
Not sure if the above comment is correct actually. If I go through a fresh OAuth2 flow with _just_ the `identify` scope, my `/users/@me` endpoint returns:

[code]

@KingDGrizzle is it possible that your application previously requested authorization with the user and included the `email` scope? AFAIK, we don't "remove" previously requested scopes if you re-auth. You'd have to fully de-auth with th

[2017-12-12 00:57] msciotti commented on #449
This is an eventual consistency thing. Some libraries (like JDA) have taken it upon themselves to handle it, but the official API does go by eventual consistency.

[2017-12-12 00:57] #449 closed, assigned to nobody

[2017-12-12 08:33] jhgg commented on #445
@msciotti it would appear you are right. disregard my previous comment. i checked the code... we definitely only send verified if email scope is present

[2017-12-12 08:33] #445 closed, assigned to nobody

[2017-12-14 18:41] vladfrangu commented on #445
Ah. Interesting. Thanks for letting me know this. _Got a bug to fix somewhere now :P_

[2017-12-16 00:50] msciotti commented on #443
Fix is in master and will be merged—thanks for the heads up!

[2017-12-16 00:50] #443 closed, assigned to nobody

[2017-12-17 19:26] HellPie opened #450 "Support Custom Scheme Redirect URIs in OAuth2"
My case has only been tested with Android-compliant native URIs.

Android allows apps to define custom urls in the form of `fakeprotocol://normaluri` as their own to easily redirect from browsers to native apps.

OAuth2's [RFC8252](https://tools.ietf.org/html/rfc8252) specifies in [Section 4]() that:

   perform the OAuth authorization request in an external user-agent
   (typically the browser) r

[2017-12-18 02:24] night commented on #450
The only current methods you have for mobile apps is to use the authorization code grant with a server or use the implicit grant without a server (which does not support refreshing). In both of these methods you can use an in-app webview to grab the authorization code or access token off the redirect url.

It's worth noting that this is a "best practices" RFC, which is not an adopted standard nor

[2017-12-23 09:55] incognico opened #452 "Status update does not work, sending Opcode 3 closes with 4001 (Unknown Opcode)"
Status updates do not work, sending Opcode 3 closes with 4001 (Unknown Opcode.)

It works when sending a presence object in Opcode 2 Identify but I have no idea how to set a status manually.

Also https://discordapp.com/developers/docs/change-log#august-16-2017
links to "Gateway Status Update" which clearly states Opcode 3 is used and the link to "Presence Update" does not work.

[2017-12-23 10:00] z64 commented on #452
IIRC, Unknown opcode can also mean your `d` object is invalid (wrong types / invalid values / missing values). (That said, presence updates are working fine - my bot, and everyone using discord right now, their clients are using OP 3)

Could you share the full payload you're sending to the gateway that is closing your connection?

[2017-12-23 10:07] shikhir-arora commented on #452
Just to touch on that, make sure you are sending the correct payload. That is, the `type` paramater is no longer optional (for updating presence with 'Playing' the `type: 1`) and this has been the case for a while. I can also confirm what @z64 stated -- presence updates are working just fine. I just tested it on one of our dev bots, just an example in Python:

[code]

[2017-12-23 10:26] incognico commented on #452
Okay it was of course my fault. I did always send the type but I didn't send the "afk" value which is required too but only in the manual OP 3 status update and not in the OP 2 one.

[2017-12-23 10:29] z64 commented on #452
Not a problem. I think we may like to keep this issue open (at the least) to track the fixing of the broken links you reported.

I think it also may be worth clarifying in the gateway error code table that a valid JSON, but invalid structured `d` object can cause Unknown Opcode. cc @msciotti :smile: ?

[2017-12-23 17:14] ConcernedHobbit opened #454 "Two-factor auth screen doesn't remember where to redirect"
When going from OAuth 2 prompt to login to two-factor authentication, it redirects to the web client after logging in through two-factor authentication instead of redirecting back to the OAuth 2 prompt.

[2017-12-23 22:24] vladfrangu opened #455 "[Doc Error] GET /channels/ID/messages requires READ_MESSAGE_HISTORY as well"
Re-reading the docs for https://discordapp.com/developers/docs/resources/channel#get-channel-messages , I've noticed that it doesn't state anywhere that you also need `READ_MESSAGE_HISTORY`, and then the API doesn't error out due to missing permissions, but rather returns an empty array.

In my opinion this is very unclear, and it should state that you need `READ_MESSAGE_HISTORY`. Also, `READ_MESS

[2017-12-24 02:51] night commented on #455
fixed by d64b7c6ef8d1a60f23b45a4c68798191490f54d3

[2017-12-24 02:51] #455 closed, assigned to nobody

[2017-12-24 03:43] night commented on #454
I just tried this and was not able to reproduce. Can you provide more information about your environment?

[2017-12-24 03:59] macdja38 commented on #454
I've had this issue before with my website, I just tried to reproduce it and was not able to, it seems their's a certain set of circumstances under which it occurs. Perhaps you could provide us with the parameters you are leading users to the discord page with @ConcernedHobbit ?

[2017-12-24 08:44] MinnDevelopment opened #456 "Document discord epoch for snowflakes"
In the reference page is a section dedicated to "Snowflake IDs" which should document the epoch used to retrieve the time for a snowflake creation.
Additionally I believe it should mention how to retrieve the time as in: `(snowflake >> 22) + DISCORD_EPOCH`. I currently don't see this documented anywhere and the twitter documentation only mentions a "custom epoch" from what I can tell.

[2017-12-25 04:23] omegalink12 opened #457 "Rich Presence Uploaded Assets List is broken"
The uploaded assets list is not loading the actual images.
![image](https://user-images.githubusercontent.com/12601948/34332648-47e73d42-e901-11e7-9bef-88654d2320ce.png)
The scrollbar also is not functioning correctly.
![image](https://user-images.githubusercontent.com/12601948/34332660-667a30f2-e901-11e7-9a4e-146210191935.png)

[2017-12-26 19:17] Exahilosys opened #458 "Way to connect all http endpoints to their respective gateway events."
For a good portion of the http endpoints, there is currently no way to properly validate their connection between their respective gateway events. For example, there is no way to know that the CHANNEL_PINS_UPDATE event I received was triggered by me or by someone else. This might and often has resulted in misleading polling (asynchronously waiting for the gateway event even before the request is m

[2017-12-26 22:01] z64 commented on #458
Message pinning seems to be a pretty weak example of whatever you're trying to convey as being the issue;

Almost all REST methods return the created or modified resource, or `204` corresponding to whatever action you were applying (or error), which should be enough to maintain your state right away without waiting for a gateway event which, [from discord's consistency guarantees](https://discorda

[2017-12-26 22:42] Exahilosys commented on #458
Indeed, the message pinning example was just to demonstrate the issue.

Getting more specific - When it comes to endpoints that update or delete entries (ex. [Add Guild Member Role](https://discordapp.com/developers/docs/resources/guild#add-guild-member-role) or [Delete User Reaction](https://discordapp.com/developers/docs/resources/channel#delete-user-reaction)), it would seem counter-intuitive t

[2017-12-26 22:46] ghost commented on #458
Your best bet is to update the cache when the request suceeds, and not wait for the event to be emitted. Due to the **Eventual Consistency**, you are to **expect** that the event for the request may **never** be emitted at all. Relying on consistency, when there is **no** guaranteed true consistency, is the wrong way to solve the caching problem.

[2017-12-27 06:23] msciotti commented on #452
Can do on both accounts—thanks!

[2017-12-27 09:00] night commented on #452
@msciotti i already did both of those .. check master

[2017-12-27 09:00] #452 closed, assigned to nobody

[2017-12-27 09:02] night commented on #457
Thanks for bringing this to our attention. Once we're back from break our team will investigate.

[2017-12-27 09:05] cookkkie commented on #452
About the `Unknown Opcode` bug, feels like a bad elixir matching lol. They probably match the `op` and `d` in the same time/function instead of only matching the `op` then `d`. cc @jhgg

[2017-12-27 09:06] jhgg commented on #452
^ this is correct, the error message may not be the best, it's "unknown opcode, or invalid opcode payload"

[2017-12-27 09:16] night commented on #456
I don't think we'd be opposed to documenting the snowflake id composition in that section, including our epoch start time. PRs welcome, obviously.

[2017-12-28 04:56] z64 opened #459 "Revert removal of information from GET /gateway and GET /gateway/bot"
It seems in the refactor of the gateway docs, this information was removed from `GET /gateway` and `GET /gateway/bot` regarding the distinction and recommended usage of each endpoint in greater detail.

https://github.com/discordapp/discord-api-docs/commit/86629716e8fe7c48f8891a8d45703c3f86168f9a#diff-b307d936b736f302bc7cc153f0d8a0a3L7

https://github.com/discordapp/discord-api-docs/commit/8662971

[2017-12-28 18:13] luemob opened #461 "Error when launching discordsetup 'installation has failed'"
when attempting to insntall discordsetup.exe after download, the following occurs. See document.
![installfailed](https://user-images.githubusercontent.com/8705646/34419261-6a6ee616-ebc8-11e7-9868-27dd11bce4ae.png)

2017-09-03 22:06:05> Program: Starting Squirrel Updater: --install .
2017-09-03 22:06:05> Program: Starting install, writing to C:\Users\User\AppData\Local\SquirrelTemp
2017-09-03 22:0

[2017-12-28 18:25] vitalkanev commented on #461
This issue is not related to API. Contact support AT discordapp DOT com.

[2017-12-28 20:41] jhgg commented on #461
@vitalkanev is correct. This is not the place for general support/client issues, but only for API/api documentation related issues.

Please reach out to our support team here: https://support.discordapp.com/hc/en-us/requests/new

[2017-12-28 20:41] #461 closed, assigned to nobody

[2017-12-29 17:33] msciotti commented on #459
Oh, woops! Probably got lost in the shuffle of all the pieces. Thanks—will re-add.

[2017-12-29 17:39] #459 closed, assigned to nobody

[2017-12-29 17:41] msciotti commented on #456
Agreed. DAPI has a really handy infographic that could be added and explained. PRs welcome, or I can get to it myself.

[2017-12-29 18:52] z64 commented on #459
Thanks Mason :)

[2017-12-30 15:27] liqloi opened #462 "W-T-F-is-wrong-i-dont-know issue"
Saw this with my friend in an app. v. 0.0.249 (0.0.249)
Video must have been related, but it doesn't support *.mov, so i relate pics
Oh, yeah. It is MacOS 10.13.2
![screen shot 2017-12-30 at 19 25 52](https://user-images.githubusercontent.com/34963507/34455369-516626fe-ed97-11e7-81eb-2855f82046fa.png)
![screen shot 2017-12-30 at 19 25 56](https://user-images.githubusercontent.com/34963507/34455370

[2017-12-30 15:29] night commented on #462
This is not for general Discord support. Contact our support team instead: https://support.discordapp.com/hc/en-us/requests/new

[2017-12-30 15:29] #462 closed, assigned to nobody

[2017-12-30 21:19] clamburger commented on #271
For anybody who needs to workaround this issue, I solved it by converting to binary and changing the 33rd lowest bit from a `0` to a `1` (which is at index 31 when padded to a 64 length string)

Example in PHP:

[code]

Example in Python:

[code]

[2017-12-31 17:45] night commented on #458
I think the community did an alright job explaining eventual consistency. We use gateway events to update stores of information in our app, usually not for the client being used for the request but for other clients a user has open. Outgoing requests succeed when the API call succeeds, and you can update your stores upon success of that request if you need to. The gateway is really built to the ne

[2017-12-31 17:45] #458 closed, assigned to nobody

[2017-12-31 17:49] night commented on #454
Closing this since we were not able to reproduce and OP has not replied. Feel free to reply again with proper reproduction steps and/or more information and we can re-open this.

[2017-12-31 17:49] #454 closed, assigned to nobody

[2018-01-01 17:29] darichey opened #463 ""Watching" Activity Type Removed"
The "Watching" Activity type was removed here:
https://github.com/discordapp/discord-api-docs/commit/50999182f307ffda9ac7208a48570586ea446c08#diff-b307d936b736f302bc7cc153f0d8a0a3L779
(Edit: specifically, in this commit: https://github.com/discordapp/discord-api-docs/pull/436/commits/8b9905d9847514538aa3b925a6bc0625890b6018)

I think this was probably an accident?

[2018-01-01 21:49] night commented on #463
This is intentional. Watching is not something our clients support at this time, and it is subject to change.

[2018-01-01 21:49] #463 closed, assigned to nobody

[2018-01-03 04:10] Cynosphere opened #464 "Region field on Guild documentation missing description."
![](https://i.braixen.party/5k0vocr4.png)

[2018-01-05 18:52] ARivottiC opened #465 "Attachment with non alphanumeric fails in embed"
I think I discovered a bug while using attachments within embeds. If the uploaded file has "_" in the name, the server returns 400.
To tests this I created the following script:
[code]
And tested with the same image but diferente names:
[code]
The first works as intended the second returns 400.

Also, in the documentation (https://discordapp.com/developers/docs/resources/channel#create-message-usi

[2018-01-05 20:21] night commented on #465
What is curl reporting the filename as in the upload data? the server just tries to find an attachment matching the provided filename in your upload data.

[2018-01-05 20:31] ghost commented on #465
I've tried embedding a file with `_` in the filename in a rich embed too, using Postman and I get the error as well.

[code]

Postman shows only a part of the response body
[code]

but my bot shows the full error.
[code]

[2018-01-05 20:43] night commented on #465
Ah, it's not the file name comparison at all. Our regex for urls disallows `_` in that part of the url, which is why it fails validation.

[2018-01-05 21:58] #464 closed, assigned to nobody

[2018-01-05 22:50] msciotti commented on #444
Good call. PR open - will close this when merged.

[2018-01-06 17:32] Mheetu commented on #448
+1 Would be helpful to find out who keeps inviting ban evaders/troublemakers.

On a side note, I'd also like to see this information in the user's profile within the client. An admin shouldn't have to write a bot to figure it out.

I'd honestly like to see the HTTP REFERRER header information too if it was defined when the user joined through discord.gg... though I can imagine that may raise some

[2018-01-06 21:16] night commented on #457
as an update: it looks like a fix for the asset images and scroll bar was deployed. the styling of the scrollbars on that page is still wrong, but it should be functional.

[2018-01-08 00:15] FireController1847 opened #467 "Resized GIF's don't animate properly."
Originally submitted into Discord Testers, but was deemed invaid.

**Short description:** Resized GIF's don't animate properly.
**Steps to reproduce:**
- Get the URL for a GIF avatar.
- Add ?size=2048 (or &size=2048, if there's already a query) to the end of *any* GIF url.

**Expected Result:** When previewing the GIF it loads and shows properly.
**Actual Result:** The gif doesn't play at all, eve

[2018-01-08 04:47] khazhyk commented on #467
Relevant trello from 6 months ago https://trello.com/c/Tbm9nZZA

[2018-01-08 10:41] MinnDevelopment opened #468 "Gateway close codes in a weird location"
There is a dedicated topic for [response codes](https://discordapp.com/developers/docs/topics/response-codes) which includes error codes for REST requests.
Currently the close codes for the main gateway are documented under [disconnections](https://discordapp.com/developers/docs/topics/gateway#disconnections) in the gateway docs. This section is not listed in the navbar and not as easy to locate w

[2018-01-08 15:40] Sacharose opened #469 "No emoji animated field."
As said in the title, there seems to be no actual animated field for Emoji.

[2018-01-08 18:18] msciotti commented on #469
The `animated` field is optional, as denoted by the `?` appended to the field name in the documentation.

https://discordapp.com/developers/docs/resources/emoji#emoji-object

[2018-01-08 18:18] #469 closed, assigned to nobody

[2018-01-08 18:28] msciotti commented on #468
Makes sense to move all the error codes to the response codes page to me. I'll PR the changes.

[2018-01-08 18:54] msciotti commented on #387
@jhgg can we tick the last checkbox and close the issue?

[2018-01-10 05:26] Techdude404Gaming opened #471 "Add Bot site UI Bug"
I attempt to add a bot to my discord, it's still functional to use the site, but due to it being so tiny, its rather annoying to see it like this... I attempt to add the toasty bot in this screenshot, but it's the same for any bot I attempt to add as well.

What I'm talking about:
http://prntscr.com/hycs6i

If you know how I can fix it (If its only me) please let me know!

[2018-01-10 05:36] night commented on #471
duplicate of #394

[2018-01-10 05:36] #471 closed, assigned to nobody

[2018-01-11 00:19] #468 closed, assigned to nobody

[2018-01-11 01:43] shot242 opened #472 "Installation Error For Discord"

[2018-01-11 01:45] b1naryth1ef commented on #472
This Github is for our API and its documentation only, please contact our support team; https://support.discordapp.com/hc/en-us/requests/new

[2018-01-11 01:45] #472 closed, assigned to nobody

[2018-01-11 19:38] MinnDevelopment commented on #456
Closed by #466

[2018-01-11 19:38] #456 closed, assigned to nobody

[2018-01-13 23:56] Taarek opened #474 "The vertical scrollbar on the developers page makes it look like it's not possible to scroll anymore."
As mentioned in the title, the scrollbar makes it look like you can't scroll anymore, when in fact it's possible and makes it impossible to use the page with a trackpad on a laptop.

https://discordapp.com/developers/docs/intro
Talking about this page, and I'm using Chrome 63.0.3239.132

I couldn't find an existing issue reported so, I submitted one, apologies if it's not an actual bug.

![Gif](ht

[2018-01-16 14:10] ARivottiC commented on #465
Regarding "attachment://" not working in other url fields, is it supposed to work?

[2018-01-16 18:10] twhalley opened #476 "OAuth2 URL Generator is not working."
I've created my bot and when I click my link to add the bot to my server, https://discordapp.com/api/oauth2/authorize?client_id=40287XXXXXX&permissions=2048&scope=bot

I get redirected to a page saying "UNKNOWN_ERROR"?

I'm using the FireFox web browser.

[2018-01-16 18:17] msciotti commented on #476
You may have forgotten to create a bot user. Do you see this button in your application's dashboard?

![image](https://user-images.githubusercontent.com/4193854/35004847-5b34f680-faa6-11e7-9308-7a5bda3fe9ab.png)

[2018-01-16 18:40] twhalley commented on #476
My bad! This has fixed my issue, maybe have better handling instead of just "UNKOWN_ERROR"?

[2018-01-16 18:40] #476 closed, assigned to nobody

[2018-01-16 18:58] z64 commented on #476
@DonW16 In the future to debug the issue you can follow these steps:

1. Load the OAuth2 page
2. Open the web inspector with `ctrl+shift+i`
3. Go to the `Network` tab and filter on `XHR` requests
4. Press the `Authorize` button that will generate the "unknown error"
5. You will see the request come up in red (likely with a `400` status code). Click on it, view the response section and it will tell

[2018-01-16 19:24] night commented on #465
it only for images in image urls

[2018-01-16 20:47] msciotti commented on #444
Merged!

![image](https://user-images.githubusercontent.com/4193854/35011536-547019f0-fabb-11e7-85b3-f75a4c72523c.png)

[2018-01-16 20:47] #444 closed, assigned to nobody

[2018-01-16 22:04] macdja38 commented on #444
It may also be use-full to note that the token may become invalidated for other reasons, such as hitting the ready per day limit.

Or more likely adjust the wording to not completely eliminate other possible causes for a token reset. Something like:

This token changes on page refresh, to invalidate the token regenerate below.

Though that wording doesn't make it clear that the token changing on p

[2018-01-17 01:17] Dussed opened #477 "Responsive Documentation"
Hi,

I've raised this with the team on twitter but only was made aware there was a repo afterwards.

I'm unable to view documentation on my phone. I know this is a less common practice in development, but I often look at docs on my commute in order to plan ahead for projects.

Please see the image attached. The sidebar menu is static, and does not hide at all.

![dtphzowxkaaycwm](https://user-imag

[2018-01-17 02:03] night commented on #477
Our docs site is not mobile capable (responsive to viewport size) at this time. We will likely have responsive docs in the future.

[2018-01-17 07:23] night commented on #467
this is now fixed.

[2018-01-17 07:23] #467 closed, assigned to nobody

[2018-01-17 08:33] MinnDevelopment opened #478 "Unsupported field for creating guilds"
The `explicit_content_filter` field is currently not supported by the [create guild endpoint](https://discordapp.com/developers/docs/resources/guild#create-guild). Instead one has to create a guild and then PATCH in that single property.

[2018-01-17 08:59] #387 closed, assigned to jhgg

[2018-01-17 15:12] b1naryth1ef commented on #478
This has been added and deployed.

[2018-01-17 15:12] #478 closed, assigned to jhgg

[2018-01-17 15:12] b1naryth1ef commented on #395
This has been fixed and deployed.

[2018-01-17 15:12] #395 closed, assigned to night

[2018-01-17 15:47] igo95862 opened #480 "Guild Voice channels have "nsfw" field, example in documentation is not correct."
Here is a link to documentation example: https://github.com/discordapp/discord-api-docs/blob/master/docs/resources/Channel.md#example-guild-voice-channel

It is missing "nsfw" field even though those channels do have them.

[2018-01-17 18:21] #480 closed, assigned to nobody

[2018-01-17 18:21] msciotti commented on #480
Thanks!

[2018-01-17 19:39] Wodki opened #481 "Gifs in embedded thumbnails don't auto-play"
So as the title says, the gifs in the thumbnails on the embedded dont auto-play as of the update today.

[2018-01-17 19:44] night commented on #481
No images should autoplay in our app except for animated emoji. If they were autoplaying it was a bug.

[2018-01-17 19:44] #481 closed, assigned to nobody

[2018-01-17 20:16] Wodki commented on #481
@night Animated emoji dont auto-play either as thumbnails.

[2018-01-17 23:20] Cynosphere commented on #448
A current way to do this is to be able to check the invites that exist at the current point in time, store them yourself, then on member join, check which invite count updated that way. I don't know if this is possible but it should be as long as the bot has perms to make invites I think.

[2018-01-17 23:25] igo95862 opened #482 "GUILD_CREATE gateway event is missing 'embed_enabled', 'embed_channel_id', 'widget_enabled', and 'widget_channel_id' fields for the guild object."
Not entirely sure if this is an issue with documentation or event itself.

This page https://github.com/discordapp/discord-api-docs/blob/master/docs/resources/Guild.md#guild-object does not mark those fields as optional as the 'permissions' and 'onwer' fields are.

[2018-01-18 04:25] night commented on #474
this is now fixed

[2018-01-18 04:25] #474 closed, assigned to mgreer

[2018-01-18 04:25] night commented on #457
this is now fixed

[2018-01-18 04:25] #457 closed, assigned to mgreer

[2018-01-18 04:26] #482 closed, assigned to nobody

[2018-01-18 19:06] UrzaKeFrostgard opened #485 "embed width"
Hey!

Since yesterday I noticed that there seems to be a maximum width for embeds now.
Any text/image that is bigger than the actuals embeds width is now cut.

Examples:
https://cdn.discordapp.com/attachments/249880432932421644/403625965030342657/unknown.png
https://cdn.discordapp.com/attachments/248451312373465088/403293950040866816/unknown.png

Is this a bug or this is a design decision?
In case

[2018-01-18 19:11] night commented on #485
This repo is only for developer site and API discussion. For client bugs you need to report it to our [support team](https://support.discordapp.com/hc/en-us/requests/new) or in our [testers server](https://discord.gg/discord-testers).

[2018-01-18 19:11] #485 closed, assigned to nobody

[2018-01-19 14:25] schnapster opened #487 "MANAGE_ROLES/MANAGE_PERMISSIONS does not implicitly grant MANAGE_MESSAGE"
Hi,
the docs say

According my understanding a user that may manage roles/permissions, can end up giving themselves the permissions to manage messages, so that permission should be granted implicitly. However, in reality, it is not.
Informally, this was verified with a chat with Jake/binzy (sorry I don't remember who exactly it was anymore, and can't find it in DAPI anymore :^) ) that this is inde

[2018-01-19 15:35] eritbh commented on #448
@BoxOfFlex I feel like there would be some edge cases with that method, for example when two invites are used by two different users at once. You might also have to handle single-use invites differently. Not impossible to implement, but not perfect either.

[2018-01-19 15:38] z64 commented on #487
Please correct me if I'm misunderstanding, but you're saying that a person with Manage Roles can and needs to *explicitly* grant themselves Manage Messages in order to do so, so everyone with Manage Roles should just always have Manage Messages because they *might* grant it to themselves? I'm not sure I see the problem, as it's so much easier to check for explicit permissions granted in the permis

[2018-01-19 16:12] Seklfreak commented on #448
Another issue of polling the existing invites are that vanity invites for partners are not listed in the server invites.

Including the used invite in the member join event would provide a much cleaner way to track invites. It would also reduce the HTTP API traffic as you don't have to request all server invites for every member joining a server.

[2018-01-19 16:13] schnapster commented on #487
Yes. A user with Manage Roles permissions can create a permission override for themselves or anyone else or any role, giving them Manage Messages (interestingly, they cannot create or edit a role granting Manage Messages).

That's not really the point. The point is that there appears to not be a clear documentation of whether Manage Messages should be implicit to Manage Roles, or not. There are ot

[2018-01-19 16:22] z64 commented on #487
It would not be practical to provide an exhaustive list of all permission combinations to fully describe what permissions are implicit, and why that note about "logical use" is there.

In any case, this is how the API currently behaves with Manage Messages *not* being implicitly granted with Manage Roles. It is easy to test this, you already know that this is how it works. That is clearly a bug wi

[2018-01-19 18:18] vladfrangu commented on #487
I don't see why giving a user `Manage Roles` should give them `Manage Messages` automatically. While a user **can** make themselves an overwrite and give themselves `Manage Messages` (loophole much?), `Manage Roles` should NOT give `Manage Messages` automatically.

The fact that JDA _assumes_ that `Manage Roles` yields `Manage Messages` automatically sounds like a  bug on their side. Either way, I

[2018-01-19 18:26] MinnDevelopment commented on #487
When I first reported this issue to @jhgg I was told it was going to be worked on. This is clearly an inconsistency on discord's end and I'm not willing to change our logic when this will change in the future.
The permission allows a user to grant themself other permissions, this implies they implicitly also hold those permissions. As long as that is the case I consider this an inconsistency on di

[2018-01-19 18:39] msciotti commented on #487
OK, I think the case has been fairly laid out here. Thank you for the note @napstr. @jhgg will check it out and see if and when we plan to change things. I'll mark this issue and keep it open. Thanks.

[2018-01-19 18:59] eritbh commented on #448
Now that I think about it, that would actually be a massive pain to implement... You'd have to also watch for when invites are invalidated to make sure your cache stays up-to-date so users don't get associated with two invites. And yeah, even that's assuming that you don't have a vanity link, that would mess everything up.

[2018-01-21 00:13] night commented on #465
this is now fixed

[2018-01-21 00:13] #465 closed, assigned to night

[2018-01-21 00:19] night commented on #487
`Manage Roles` permission is essentially a "super power" on Discord currently. While it follows role hierarchy on the server level, the same does not apply for channel level permission overwrites. We have discussed changing how `Manage Roles` acts for channel overwrites, including the requirement of `Read Messages` and/or `Manage Channels` permission in addition to `Manage Roles` for modifying cha

[2018-01-21 21:55] melmsie commented on #387
There is a list of affected bots somewhere? Is this public? 👀 @Emzi0767

I should be affected within the next few hours 🎉

[2018-01-22 02:44] jhgg commented on #387
When it's time to make the change, we'll reach out.

[2018-01-23 09:24] MrLotU opened #490 "Bots able to change role color of @everyone role"
Through the [Modify guild role](https://discordapp.com/developers/docs/resources/guild#modify-guild-role) endpoint, the role of the @everyone role is changeable (bot needs Manage Roles permission). This however, is not possible for users, even if said user is the server owner or has admin permissions. I tested this using the API V7 using the Disco library (v0.0.12-rc.4).

<img width="713" alt="scr

[2018-01-23 10:57] ghost commented on #490
The colour of the `@everyone` role gets ignored by the official clients (outside of role management).

[2018-01-23 10:58] MrLotU commented on #490
What do you mean with that?

[2018-01-23 10:59] ghost commented on #490
The official clients won't show the members with the `@everyone` colour, instead they're either black or white (depending on selected theme).

[2018-01-23 11:00] MrLotU commented on #490
I know, and they are, but the color in the roles panel is changed

[2018-01-24 08:34] nyannoying1337 opened #491 ""self-bots""
So i know it got kinda answered already that "self bots" arent allowed. However if i see that right

But if the bot behaves only for YOU inside of those api/OAuth2 and does not accept other users input its fine?

[2018-01-24 08:46] shikhir-arora commented on #491
If the bot *doesn't* behave for you then it's commonly called a "userbot" which is absolutely forbidden and doing this will almost certainly lead to a very quick report/ban.

And yes, even if the bot behaves for you only, as it has been long standing in several official Discord Terms and Policies - **any** usage of a user token with the bot API's are forbidden, - not condoned and can lead to your

[2018-01-24 08:54] jagrosh commented on #491
Keep in mind that logging in to your account (via a 'user token') is not within the OAuth2 api. Any form of logging in with a user token or email/password is forbidden.

Do you have an example of something that is possible with the OAuth2 api that would involve responding to another user's input?

[2018-01-24 08:58] nyannoying1337 commented on #491
so it is fine. if i use a selfbot which can use like simple stuff... muting a user ( removes permission from him like you go into channel settings and you tick "send messages" to false? or like i use ".textflip and it flips the text?. that beeing said if i use a google custom search api it is also ok since it doesnt interact with Discord´s bot API's ?

Edit: So to be simple ( my explaining is bad

[2018-01-24 09:00] Daniel-Worrall commented on #491
Selfbot usage of any form is forbidden no matter how simple the tasks it is performing are.

[2018-01-24 09:30] Vexs commented on #491
I don't know why this is so complicated. It's been reiterated, time and time again that selfbots are not kosher. As Jag said, logging in via token or user/pass is outside the OAuth2/bot api, and is thus banned. If this isn't enough for you, [here's the FAQ on it.](https://support.discordapp.com/hc/en-us/articles/115002192352-Automated-user-accounts-self-bots-)

Your account won't be automatically

[2018-01-24 09:32] jagrosh commented on #491
@Lolihunter1337 OAuth2 api cannot mute a user because it cannot modify permissions. AFAIK editing messages via oauth is also not possible. Can you give an example _using the available OAuth2 api?_ Remember, all OAuth2 actions would be performed using a BOT account's token and an authorized access token for a specific scope.

[2018-01-24 09:47] nyannoying1337 commented on #491
@jagrosh i dont use OAuth2. i use my token which i get from the Discord Client itself. As for the muting. here an example: [I use this command ".mute <User>" which end in this output](https://puu.sh/z8wbQ/436cb42f68.png) which ends in [that result](https://puu.sh/z8wcR/855f63e466.png)

[2018-01-24 09:49] jagrosh commented on #491
If you're not using OAuth2, then your actions are strictly forbidden.

Additionally, your original question was about using OAuth2:

[2018-01-24 09:52] nyannoying1337 commented on #491
@jagrosh i am sorry i just asked in the Dev discord of that bot. it does use Oauth2 sorry D:

[2018-01-24 09:52] jagrosh commented on #491
The command you linked cannot be done via OAuth2, so can you be a bit more specific? Also, if you're getting a token from the Discord client, that is not OAuth2.

[2018-01-24 10:03] nyannoying1337 commented on #491
well the main thing i wanted to be specific is that ( got a littlebit offtopic ). some people say its kinda *keyword beeing kinda* ok to use them aslong you dont abuse the API. or use them for stuff you wouldnt be able to. as of today is that beeing the case or is it now an instaban reason? But like the 100% save way would be using bots like Nadeko and use them over an Bot account you create on th

[2018-01-24 10:06] jagrosh commented on #491
No. Automating client accounts (outside of the OAuth2 api, which is a completely different process and does not involve a 'user token' gotten from the client) is forbidden.

[2018-01-24 11:19] Vampire commented on #491
@Lolihunter1337 I also was confused about the wording "outside the OAuth2 scope" and brought the guys at the DAPI discord nearly to despair with my questions until someone managed to explain it understandably. :-D

If you look at https://discordapp.com/developers/docs/topics/oauth2#shared-resources-oauth2-scopes, you can see exactly which actions are legally doable for a user-account which is a ve

[2018-01-24 11:23] vladfrangu opened #492 "API Request: Add the user object to /guild/gid/emojis/eid"
Currently, the only way to get the author of an emoji is to GET `/guild/id/emojis` and filter through the array to find the emoji with the same ID.

While that's fine, and easy to do, I don't see why the user shouldn't get returned from `/guild/id/emojis/id`.

So, is it possible for `/emojis/id` to get the user object as well? It wouldn't be hard for the devs to filter an array, but it would be cl

[2018-01-24 12:43] nyannoying1337 commented on #491
@Vampire i see. thank you very much ^^

[2018-01-24 13:32] #491 closed, assigned to nobody

[2018-01-25 15:57] kantenkugel commented on #487
I think that the behavior of channel-specific `Manage Roles` (aka `Manage Permissions` in channels), as in granting the user all permissions for that channel (effectively giving him admin mode for given channel) is perfect as it is, as that allows servers to give some members their own "realm" in which they can do whatever they want.

But that means that it is in theory granting all permissions im

[2018-01-25 18:21] MinnDevelopment commented on #487
The current work-around I see is granting yourself the permissions explicitly.
I don't believe this is how it should be and it only makes things even more complicated for users and library authors.
[code]

I suggest one of either:

- Add administrator as override permission (grants all permissions for that channel)
  and don't allow users with manage permissions to grant themself permissions they

[2018-01-27 14:06] jondpenton opened #496 "Incorrect Connection ID"
**I apologize in advance if this is the wrong place to post an API bug.**

The Steam connection under my account has an incorrect STEAMID64 stored under the ID.

Steps Made:

1. Remove Steam connection
2. Add Steam connection
3. GET /users/\<id\>/profile

I have tried adding my Steam connection with the stable and canary clients, as well as requesting from discordapp.com/api and canary.discordapp.

[2018-01-27 14:11] devsnek commented on #496
this is related to #271

[2018-01-27 16:13] jondpenton commented on #271
Example in Javascript:

[code]

[2018-01-27 16:15] jondpenton commented on #496
So it is. I've figured out how to convert it in javascript and I've added an example to #271.

[2018-01-27 16:15] #496 closed, assigned to nobody

[2018-01-29 19:54] jhgg commented on #492
sure.

[2018-01-30 02:09] jhgg commented on #492
This is in the next API deploy.

[2018-01-30 02:09] #492 closed, assigned to jhgg

[2018-01-30 02:09] jhgg commented on #490
we should probably ignore these fields for PATCH requests on `@everyone` role.

[2018-01-30 02:15] SinisterRectus commented on #492
Does this apply to emojis obtained elsewhere, ie, guild.emojis or GUILD_EMOJIS_UPDATE?

[2018-01-30 02:28] jhgg commented on #492
no.

[2018-01-30 21:40] night commented on #490
this will be fixed in the next api release

[2018-01-30 21:40] #490 closed, assigned to jhgg

[2018-02-01 08:18] millspeter opened #502 "Screen share - Multiple Screen Issue"
If you have multiple screens, it is not detecting the correct screen.
For instance you want to share screen 1 but then when you share screen 1 it is actually sharing screen 3.

Also if you share a screen it is not showing the cursor when you have multiple screens.

It works fine when you are sharing just an application but not the screen itself.

[2018-02-01 08:25] jhgg commented on #502
This Github is for our API and its documentation only, please contact our support team; https://support.discordapp.com/hc/en-us/requests/new

[2018-02-01 08:25] #502 closed, assigned to nobody

[2018-02-01 21:54] aetheryx opened #504 "16-bit avatars not parsed properly"
I recently updated my bot avatar. The backend seems to have some issues parsing it, though.
[This](https://cdn.discordapp.com/avatars/290947970457796608/baf4c723f2c11f012e7297e93ee06aa9.png) is the PNG version of the avatar. Looks fine. It's what I uploaded it as.
[This](https://cdn.discordapp.com/avatars/290947970457796608/baf4c723f2c11f012e7297e93ee06aa9.jpg ) is the JPG version of the avatar. I

[2018-02-01 22:25] night commented on #504
try resaving your png avatar again and reuploading it. it might have some malformed bytes tripping up our media proxy

[2018-02-01 22:33] aetheryx commented on #504
I changed the avatar to something else and then back - no luck. Once I set it back to [this](http://nuttysu.cc/rmbvvvvvvvvvvvvvvvvvv.png), it breaks.

[2018-02-01 22:36] night commented on #504
![hahahahaha](https://user-images.githubusercontent.com/2942184/35707098-4257c9bc-075d-11e8-89b1-3cbb1f44b161.png)

here i resaved it for you.. tested and it works fine

[2018-02-01 22:45] aetheryx commented on #504
The main bot started getting ratelimited. I tested this on a second bot account.
This is the script I ran:
[code]
Still does the same thing. Could this possibly be related to the piece of code above?

[2018-02-01 23:27] night commented on #504
i downloaded the image i uploaded here and then set it via the web app with the following results:

https://cdn.discordapp.com/avatars/402209979181826049/610ede6d5a693da34c4ef164f7c11759.png
https://cdn.discordapp.com/avatars/402209979181826049/610ede6d5a693da34c4ef164f7c11759.jpg
https://cdn.discordapp.com/avatars/402209979181826049/610ede6d5a693da34c4ef164f7c11759.webp

assuming `res.headers['co

[2018-02-01 23:37] aetheryx commented on #504
Correct me if I'm wrong, but changing the image on the web app only changes the application image. Not the Bot User avatar, I thought.

I retried with the data parameter as a string, and I checked whether it was a buffer:
[code]

Same issue, still.

[2018-02-01 23:59] shikhir-arora commented on #504
Do you get an issue with this?

[code]

[2018-02-02 00:04] aetheryx commented on #504
Nope, that works. Even setting a PNG url with `data:image/jpg` works. Although, notably, the image quality (even when setting the source PNG version, with `data:image/jpg`) is noticeably worse than the png version of when I used the source with `data:image/png` (and jpg/webp were broken).

Closed? Kinda?

[2018-02-02 00:07] shikhir-arora commented on #504
Something with that png -- I tried using all the rendered versions and it seems to have the same issue and artifacts you had originally - with several bots and different libraries. Could just be this specific image and how it was rendered.

[2018-02-02 00:08] aetheryx commented on #504
Interesting. I wonder how night was able to upload it - all of his formats work and the PNG format looks as crisp as it should.

[2018-02-02 00:11] shikhir-arora commented on #504
Using the one night rendered sends fine (https://hastebin.com/raw/oxiciyuwuj), but I have the same issue with the artifacts, etc as you did (https://cdn.discordapp.com/avatars/265699556681842690/75e75db3d4c7d95b993ff01828b5d228.jpg, https://cdn.discordapp.com/avatars/265699556681842690/75e75db3d4c7d95b993ff01828b5d228.webp)

Seems to be something with this particular PNG.

[2018-02-02 00:25] shikhir-arora commented on #504
Found the issue.

Your PNG was 16-bit color depth, rendering it in 8-bit will fix the issue.

![render](https://user-images.githubusercontent.com/8797918/35710473-aa412fb4-0785-11e8-83ce-81db38f02769.png)

https://hastebin.com/raw/milowusadu

https://cdn.discordapp.com/avatars/265699556681842690/73c1e47df2be2b2688ce96553eb878fd.png
https://cdn.discordapp.com/avatars/265699556681842690/73c1e47df2be

[2018-02-02 00:42] night commented on #504
mmm yeah, that would do it. we don't support 16bit pngs right now. was rused by webapp canvas resizing when uploading, which also converts to 8bit.

[2018-02-02 01:02] aetheryx commented on #504
I see. Is this issue marked as fixed then, or should I rename it appropriately?

[2018-02-02 02:42] jhgg commented on #504
@brian-armstrong-discord - looks like media proxy chokes on resizing 16-bit PNGs. Do with this what you will.

[2018-02-02 02:46] brian-armstrong-discord commented on #504
Yeah, I've known for 2-3 months. They're exceedingly rare, so it's not clear that they're worth supporting.

[2018-02-03 11:28] MinnDevelopment opened #506 "Missing documentation for message.activity"
See https://github.com/discordapp/discord-api-docs/blob/master/docs/resources/Channel.md#message-object

Since the spotify integration/rpc has been made public the message object has a new property, this is not documented.
I would like to see this being documented including all the possible types/permutations that can be present before I merge the PR on JDA DV8FromTheWorld/JDA#610

[2018-02-03 12:37] vladfrangu commented on #506
In fact, there's another field that is missing. `message.application`, which is present on game invites (for instance, osu! spectate invites).

[2018-02-05 13:58] Vampire opened #507 "My bot gets reaction add events for channels where he doesn't have READ_MESSAGES permission"

[2018-02-05 14:13] MinnDevelopment commented on #507
Bots also get reaction events in PMs on every shard even though only shard 0 gets the messages and the channel creates, although that's probably intended.

[2018-02-05 14:15] Vampire commented on #507
Also doesn't sound reasonable imho

[2018-02-05 17:29] msciotti commented on #506
This seems reasonable, yes. I will do this today.

[2018-02-06 01:23] msciotti commented on #506
OK, so https://github.com/discordapp/discord-api-docs/commit/06fe304e6885c1e32cce38f7b574e33c8b0b331f adds the activity field to the message object. After some talk, we're not sure we want to document additional fields on the activity object right now.

While they are there and readable, they may change in the future. Stuff like `sync_id`, for example, may change as the Spotify integration matures

[2018-02-06 08:15] jhgg commented on #507
This is known. I think bots also receive typing events for channels they're not able to read.

[2018-02-06 08:17] jhgg commented on #507
Not intended. Will fix this one too.

[2018-02-06 08:34] jhgg commented on #507
Merged a PR fixing this. Was just adding a few events to an array. Should be in our next deploy.

[2018-02-06 12:40] #507 closed, assigned to jhgg

[2018-02-06 17:33] WolfspiritM opened #508 "Authorize over RPC/IPC not working"
Hi!

I have a very strange behavior when using the API. I'm trying to authorize a user via RPC/IPC. I get a popup in discord asking for authorization but after accepting the popup I get a response saying "4009 Token does not match current user".

The code I use is very simple:
[code]

I digged a bit deeper into this including the dev-tools in discord and noticed that authorize works fine, the app

[2018-02-06 17:52] msciotti commented on #508
Hey @WolfspiritM—so, I think you're confusing a couple things. This discordjs extension for `discord-rpc` is used for both Rich Presence (available to all) and RPC (closed, private alpha).

It looks like you're trying to use the `ipc` transport, which is intended for Rich Presence. In such case, there is no auth portion. You might want to check out their [Rich Presence example](https://github.com/

[2018-02-06 17:52] #508 closed, assigned to nobody

[2018-02-06 18:17] MinnDevelopment commented on #506
Is the activity in messages actually the same as the one presented in presence updates?
The structure and types seem to be different if I'm not mistaken

[2018-02-06 19:46] Sanduhr32 commented on #506
The structures are different.

I would like to see more documentation so i can continue DV8FromTheWorld/JDA#610. Sadly i cant research everything myself and somehow can not send every activity in messages for researching but others can. (Related to message.activity and message.application). Somehow your linked activity is also wrong.
I received not matching data. Either the api uses different acti

[2018-02-06 23:25] msciotti commented on #506
I believe https://github.com/discordapp/discord-api-docs/commit/0a0eb2f2634e777dc7a330f22055ece4bd2ba32f should cover this properly now.

[2018-02-06 23:27] Sanduhr32 commented on #506
Great it does! Going to commit it to DV8FromTheWorld/JDA#610. Ty Mason :)

[2018-02-06 23:43] #506 closed, assigned to nobody

[2018-02-07 23:29] jhgg opened #510 "[voice] protocol v4"
This issue tracks the breaking changes & additions in voice protocol v4. We won't ship docs for this until the entire fleet is v4. v3, v2 and v1 remain backwards compatible.

## Breaking Changes:
- [x] `speaking` is now an integer (bitmask) with 2 flags,
    - `NONE` = `0`
    - `VOICE` = `1 << 0`
    - `SOUNDSHARE` = `1 << 1`
- [x] `ready` will no longer contain `heartbeat_interval`, use the one

[2018-02-07 23:41] b1naryth1ef commented on #510
We should note that `xsalsa20_pola1305_suffix` is unrelated to v4.

[2018-02-08 00:10] jhgg commented on #510
it is, but i think it'll be officially deployed everywhere with v4, hence why i included it here.

[2018-02-08 00:26] macdja38 commented on #510
Hi, is their any chance we could get a tentative schedule on this? Mostly at what point we should expect to see v4 on voice servers and around when we should be able to drop v3 support by.

[2018-02-08 00:35] jhgg commented on #510
no schedule unfortunately. v4 has a bunch of internal changes that we're still testing - and v4 will incrementally roll out to everything as we gain confidence in the code.

[2018-02-08 01:45] eagledadiii opened #511 "banished from my server"
- comment removed -

[2018-02-08 03:13] jhgg commented on #511
This issue tracker is for API/documentation issues only. For general support, visit: https://dis.gd/contact

[2018-02-08 03:13] #511 closed, assigned to nobody

[2018-02-08 17:28] ARivottiC opened #513 "Attachments within embeds for non-image files"
The same way you can upload an image as use it as an attachment([see](https://discordapp.com/developers/docs/resources/channel#create-message-using-attachments-within-embeds)) it would be great to have the same thing for other files.
This could by accomplish by adding the following to embed:
[code]
My suggestion is to have the file type as image and a link to the uploaded file.

[2018-02-08 17:32] ARivottiC commented on #513
This is how files are handled atm:

https://lh3.googleusercontent.com/m9CphinohWIQp-43MXQ8jcF_uNiwHenf72lA876hZE5CNFeQH3DMCB6diVQb1Upyi94HXf44R31bQg=w1920-h1109

[2018-02-08 21:00] BigDvsRL opened #514 "Assign specific role to a specific URL"
Hello, i try to figure out how to assign a specific role to a specific URL

for example:

User1 uses "URL-Streamer" ---> User got Role "Streamer"
User2 uses "URL-Viewer" ---> User got Role "Viewer"

Maybe you have some tips or Ideas. Would be nice, if someone could help me with this Problem

[2018-02-08 21:28] vladfrangu opened #515 "docs: /guild/id/vanity-url isn't documented"
As I asked in DAPI, #api, this isn't documented.

[2018-02-09 00:22] msciotti commented on #514
Hey @BigDvsRL. This issue tracker is for API issues. If you're looking for help with interacting with our API, I suggest looking at one of the [libraries](https://discordapp.com/developers/docs/topics/community-resources#libraries-discord-libraries) that make things easy in whatever coding language you're most familiar with.

You can also visit discord.gg/discord-api for help with the use of those

[2018-02-09 00:22] #514 closed, assigned to nobody

[2018-02-09 00:33] #515 closed, assigned to nobody

[2018-02-09 00:33] msciotti commented on #515
Added, thank you!

[2018-02-09 08:51] ErikMcClure opened #517 "GUILD_CREATE event packet contains invalid "parent_id" value"
One of the servers (ID: 164188105031680000) using my discord bot is returning a GUILD_CREATE response that contains `"parent_id":0` for one of the channels (ID: 356926220707037184). Because this field is supposed to be either a string or null, this breaks Go's JSON parser.

I believe this issue has existed before in various forms, but the [discordgo](https://github.com/bwmarrin/discordgo) library

[2018-02-09 09:31] night commented on #517
This is most likely just a channel that has a bad `parent_id` from the first time this happened. The validation has been fixed since September of last year, and there's no recent logs for this channel id (which would help us point to it being a regression). You may run into old channels with this condition rarely, unfortunately. I've gone ahead and fixed this problematic channel.

[2018-02-09 17:18] ErikMcClure commented on #517
I just checked, and the channel is still sending `"parent_id":0`. I am assuming that 8 hours is sufficient time for the change to propagate through the databases. I may have provided the wrong channel ID if I read the packet wrong, so just in case, here is the problematic section of the GUILD_CREATE event with everything immediately surrounding it: https://pastebin.com/UK9p3rVi

This only became a

[2018-02-10 01:21] jhgg commented on #504
Fixed in https://github.com/discordapp/lilliput/pull/15 - closing this issue, but the fix will be deployed some time soon.

[2018-02-10 01:21] #504 closed, assigned to brian-armstrong-discord

[2018-02-10 01:53] night commented on #513
i'm not sure i understand your feature request. if you want to share a random file that is not media, why do you need an embed? you can simply upload the attachment and it renders as a file attachment

[2018-02-10 02:14] jhgg commented on #504
Fix is live! Thanks, @brian-armstrong-discord - old cached assets may be still broken, but newly uploaded files should be good.

[2018-02-10 03:41] ErikMcClure commented on #517
UPDATE: All 3 channels that displayed problems now appear to be fixed, so I'm closing this issue as resolved. I still recommend cleaning out any remaining corrupt channels in the database to prevent any future issues.

[2018-02-10 03:41] #517 closed, assigned to nobody

[2018-02-10 18:28] ARivottiC commented on #513
I'm using embed to distinguish local messages from messages synced from another channels/apps.

[2018-02-11 04:39] night commented on #517
i've gone through and repaired the remaining channels, so this specific issue should not happen again. thanks for reporting.

[2018-02-11 12:29] vladfrangu opened #519 "docs: PATCH /guild/id/vanity-url isn't documented"
Mainly, this would be useful to know the result of a call to this endpoint, as well as the params that are meant to be sent. (although the only param required is `code`)

EDIT: I don't know if this is meant to be documented in the first place. Probably not. But I don't know

[2018-02-11 18:20] msciotti commented on #519
I think this one may be better left undocumented. Vanity URLs do not often change once settled on, and if so, it should be done by the partner who owns the server, which probably means doing it via the server settings UI.

I understand that bots with certain permissions could change it, but I think I'd rather leave this undocumented.

It's no problem at all to suggest these things. Sometimes (like

[2018-02-11 18:20] #519 closed, assigned to nobody

[2018-02-11 21:40] xron89 opened #521 "Discord URL meta crawling over accessing"
Maybe this is in the developer documentation, I certianly couldn't find it in which case aplogies in advance.

I'm having issues understanding how when I paste urls in this instance my own website how discord is retriveing page data not outlined within meta tags. You produce this well crafted rich data card as do most applications now, however I'm seeing instances where the application is showing

[2018-02-11 21:42] ghost commented on #521
Open Graph is what Discord uses.

http://ogp.me/

[2018-02-11 21:57] xron89 commented on #521
I assumed as much, but I can't get any other social platform, or application to retrieve anything like the rich data card Discord retrieves. For some reason, discord isn't happy with page URL, title, and description it retrieves additional information no other platform does, data that isn't within the page source.

Thanks for confirming I will check open graph, still seems like a bit of an odd ove

[2018-02-11 21:59] ghost commented on #521
Some websites have custom embeds (like youtube, imgur, etc.), which gets done by discord.

[2018-02-12 20:47] b1naryth1ef commented on #521
If you post a specific example I'd be happy to clarify where the embed data is coming from, but unless its a third party service as @CharlotteDunois mentioned we don't do any additional crawling.

[2018-02-13 08:12] NickUfer opened #522 "Change of shardcount on the fly?"
Hello,
i plan to create a bot which has high hardware requirements and high bandwidth usage. To not waste money on servers my plan was do scale the shardcount and the rented servers based on the demand / based on the features which are used. Is there any way to change the shardcount on the fly to accomplish this goal?

[2018-02-13 08:15] Emzi0767 commented on #522
You would exceed your daily IDENTIFY every day by doing that.

[2018-02-13 08:18] RaidAndFade commented on #522
Since bot usage can vary significantly at certain times of day you can go from having a significantly high amount of shards to a low amount of shards within a few hours.

This is not practical in any sense since the whole point of sharding is to reduce stress, and shardcount modification on the fly would require that every time you add/remove a new shard, all other shards be updated accordingly (s

[2018-02-13 08:42] liampwll commented on #522
Why not just have multiple shards on one server when demand is low?

Also messages don't need to be sent from the same machine that's connected to the gateway so building your own load balancer should be trivial if shards aren't flexible enough.

[2018-02-13 09:01] xron89 commented on #521
Hi thanks for getting back to me, no third party services are being used. As a random example then when I paste this link - *Removed*

The biggest heading Discord gives it's data snippet is "admin" which is I assume an author.

The meta tags don't have an author tag, and the og:type is set to website not 'article' so to my understanding there should be a no crawl anyway to look for an author even

[2018-02-13 09:18] night commented on #521
The site is using Wordpress, which exposes an oembed API that tells us the author is `admin`: http://devground.zare.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevground.zare.com%2F

[2018-02-13 18:22] msciotti commented on #522
Hey @DerTechNick! This issue tracker is for API bugs/issues, and not for help in architecture of bots. That being said, it looks like you've gotten the help you needed, so awesome 😄 Gonna close this issue.

In the future, you might want to check out dicord.gg/discord-api, the unofficial API community. They are a wealth of knowledge for things like this.

[2018-02-13 18:22] #522 closed, assigned to nobody

[2018-02-13 21:59] msciotti commented on #513
I don't think this is something we're going to support at this time. While I understand your use case, there is already a working means for uploading attachments, and this seems like a non-trivial amount of work for an edge case.

[2018-02-13 21:59] #513 closed, assigned to nobody

[2018-02-14 07:48] zorkian commented on #454
Happened to me just now. Could not repro, though. 😕

It happened after logging in to Nightbot and trying to authorized my Discord. I did the login, 2fa, and ended up in the app. Took a screenshot... not that it helps with repro.

[2018-02-14 07:49] Nicolapps opened #523 "The “Modify Current User’s Nick” in the sidebar doesn’t work"
It leads to the top of the _Guild Resource_ page instead.

_Safari 11.0.3 / macOS Sierra 10.12.6_

<img width="246" alt="Screenshot" src="https://user-images.githubusercontent.com/7029582/36192806-88615f6c-1163-11e8-80fa-b20316f475d4.png">

[2018-02-14 20:51] rowenjbt opened #525 "test's"

[2018-02-14 21:00] #525 closed, assigned to nobody

[2018-02-14 21:02] jhgg commented on #521
Hi @xron89 - looks like @night answered your question, and since we haven't heard back in a few days, going to close this issue. If you have any further questions, feel free to re-open, or ask in the #api channel @ https://discord.gg/discord-api

[2018-02-14 21:02] #521 closed, assigned to nobody

[2018-02-14 21:08] rowenjbt commented on #525
okeh

2018-02-14 22:00 GMT+01:00 Mason Sciotti <notifications@github.com>:

[2018-02-14 21:21] msciotti commented on #523
Weird. Works fine on chrome, but is indeed broken on Safari. Maybe the apostrophe. Thank you!

[2018-02-14 21:30] #523 closed, assigned to nobody

[2018-02-16 13:32] Doode-r opened #527 "No notifications"
Hello,

I have an issue. When I receive a new message, I have no notifications exept the little red dot on the discord app. I still have the sound and the little rectangle appearing when it is a pm. I am on Mac (OS Mac Sierra 10.13.3). I haven't muted my servers and I have checked my parameters, everything seems to be ok. It's been like 2 weeks, maybe a month.

[2018-02-16 13:45] Emzi0767 commented on #527
This isn't discord support, contact support@discordapp.com

[2018-02-16 13:49] Doode-r commented on #527
ok thanks, I couldn't find the support on the website, I only found this page.

[2018-02-16 17:36] msciotti commented on #527
Thanks for directing them to the right place! Support will be able to help you out 👍

[2018-02-16 17:36] #527 closed, assigned to nobody

[2018-02-19 23:50] SomeoneCares11 opened #530 "Events when invites CREATED/UPDATED/DELETED"
Hi,

We want to cache invites to know who created that invite and know if someone used it by an event when that invite updated (used), to attach inviter name in the welcome messages.

i saw many of developers asked about this many times in api server, but i don't know why not yet.

Thanks

[2018-02-20 07:58] WalshyDev commented on #530
Related to https://github.com/discordapp/discord-api-docs/issues/448

[2018-02-20 14:14] yexh00 opened #531 "Can't verify new account by email in China"
It seems that my friends in China can only use vpn to verify their new account.
Could you solve this problem? Thanks

[2018-02-20 14:18] z64 commented on #531
This repo is for issues related to Discord's API documentation.

Please have your friend contact support via https://dis.gd/contact

[2018-02-20 19:41] msciotti commented on #531
Hey @YExh00, please do contact support via that link above for this issue. Thank you!

[2018-02-20 19:41] #531 closed, assigned to nobody

[2018-02-20 19:52] msciotti commented on #530
I'll let @jhgg or @night weigh in on whether or not this is feasible.

[2018-02-21 16:49] RandomName76234 opened #532 "Privacy Issue With The Way Discord Stays Open."
When discord closes by the 'x' button by the top right the application closes and doesn't show up in the task manager. It also does the same if you close the application in task manager. This is an issue because it remains open in the processes (note: it does still show up under processes of the task manager, but checking processes is not normal nor easy because they can be hard to find) and your

[2018-02-21 16:51] Emzi0767 commented on #532
This repository is for API questions and/or issues. For other issues, please see https://dis.gd/contact.

[2018-02-21 16:51] #532 closed, assigned to nobody

[2018-02-21 19:06] brysont opened #533 "Webhook Arbitrarily Rate Limited"
POSTing to my webhook URL. Had one URL in use for about a year, made a new one and switched last night trying to test this issue, no change. Currently, getting rate limited on requests. Tried 1 10 minutes ago, went through and showed 4/5 requests left. Tried again after 10 minutes, rate limited.

Webhook is triggered by WordPress's publish and schedule hooks. We schedule and post up to 5 a day. Ha

[2018-02-21 21:23] msciotti commented on #533
Found your questions in DAPI. Posting this image here to show that you've just got one webhook running:

![image](https://user-images.githubusercontent.com/4193854/36506071-55fbb80e-170a-11e8-900b-15123d443de8.png)

@jhgg is this something we can take a look at by webhook_id?

[2018-02-21 21:25] jhgg commented on #533
We haven't touched this code either, but I can pull logs by webhook ID.

[2018-02-21 21:34] brysont commented on #533
FYI Sent ID via DM on DAPI.

[2018-02-21 22:00] jhgg commented on #533
Issue was that user was sending an invalid bot token as a header. Removing that header fixed the issue.

[2018-02-21 22:00] #533 closed, assigned to nobody

[2018-02-27 12:32] andrei1058 opened #535 "Get User Language"
Hi!
It would be nice to know the user's language so we can provide content in user's language.
Thanks.

[2018-02-27 19:03] msciotti commented on #535
I will let @night or @jhgg weigh in on the feasibility of this. Thank you for the request!

[2018-02-27 19:51] mu3106 opened #536 "Disconnected from the Discord gateway: Error: Login failed"
So I get this error when starting my bot, :Disconnected from the Discord gateway: Error: Login failed
I have changed my token in the bot code but still doesnt work. Help?

[2018-02-28 00:43] AidanRedux opened #537 "Instillation has failed!"
So while I was playing some Wow with some of my friends my discord shortcut just froze I tried closing and re-opening it but just brings me back to the same frozen screen everything else on my computer works fine.. When i try to install discord.exe this will pop up "There was an error whilst installing the application check the setup log for more information and contact the author". What should I

[2018-02-28 00:46] night commented on #537
This repository is for API questions and/or issues. For other issues, please see https://dis.gd/contact.

[2018-02-28 00:46] #537 closed, assigned to nobody

[2018-02-28 00:47] night commented on #536
You are likely using the wrong token or misconfiguring the Discord library you utilize. I suggest asking for help in the unofficial API server: https://discord.gg/discord-api

[2018-02-28 00:47] #536 closed, assigned to nobody

[2018-02-28 00:50] AidanRedux commented on #537
Thank you.

Sent from Mail for Windows 10

From: Zack
Sent: Tuesday, February 27, 2018 7:46 PM
To: discordapp/discord-api-docs
Cc: AidanRedux; Author
Subject: Re: [discordapp/discord-api-docs] Instillation has failed! (#537)

This repository is for API questions and/or issues. For other issues, please see https://dis.gd/contact.
—
You are receiving this because you authored the thread.
Reply to th

[2018-02-28 06:28] GeneralDil opened #538 "Discord Move Member Permissions"
Hello,

It currently looks like the Move Members permission isn't working properly on Discord. There are many people who do not have the Move Members permission ticked on and they can freely move members around. The specific channel permissions are set to / which should be by default taking the Role Permissions and for some reason they still have the permission to Move Members that they shouldn't.

[2018-02-28 06:30] Vexs commented on #538
This isn't really what the API issues are for, it's for issues with the actual API/Docs, not just discord general. Also, the Move Members permissions is working fine. You probably have a role with a funny permission somewhere.

[2018-02-28 06:31] GeneralDil commented on #538
Okay thanks, I don't often use Discord so I just clicked the first thing that said 'ask for help' sorry about that. I'll look into it more what's going on with our server then

[2018-02-28 06:38] #538 closed, assigned to nobody

[2018-02-28 13:14] MaximeDawn opened #539 "Color read-only wasn't working that way"
Hi ! I dev python bots for some months now, and i used to use embeds to display my Bots documentation.
I used to change the embed color usign this line :

`em = discord.Embed(description="Some description", colour=0x720000)`

This worked perfectly until this morning, where i get this message :

`discord.ext.commands.errors.CommandInvokeError: Command raised an exception: AttributeError: 'Colour' o

[2018-02-28 13:20] MinnDevelopment commented on #539
Ask in the repository of the discord wrapper you are using, this is unrelated to the discord api docs.

[2018-02-28 13:24] MaximeDawn commented on #539
@MinnDevelopment  What do you mean by "discord wrapper" ? :c

[2018-02-28 13:27] MinnDevelopment commented on #539
You are using the [discord.py wrapper](https://github.com/Rapptz/discord.py) and should ask there

[2018-02-28 13:28] #539 closed, assigned to nobody

[2018-03-01 04:31] batkins62 opened #540 "API throttle Limitations"
Weve coded a request to post a message in a channel when a twitch automod message happens. it was fine when our chat was 1000 people, but when we grew to 5000, the bot doesnt post the messages in the discord chan. is there a throttle limit? if so how do we go about requesting more

[2018-03-01 12:41] Fabricio20 commented on #540
Discord has ratelimits, which you should follow, they won't increase the ratelimit for someone unless their bot fits in a very specific criteria. The documentation on ratelimits is available on https://discordapp.com/developers/docs/topics/rate-limits but basically: X-RateLimit-Reset header will tell you how much time you have to wait before sending another message.

[2018-03-01 16:20] Corentin974 opened #541 "Problems Installation"
![image](https://user-images.githubusercontent.com/36963671/36855855-0552eee2-1d8e-11e8-9c23-a4cc3143c439.png)

[2018-03-01 16:21] #541 closed, assigned to nobody

[2018-03-02 00:22] davecraige opened #542 "“www” links don’t work"
This seems important.

“www.” links don’t work in Discord

Just posted a number of them and then don’t auto link. Examples I just tried:
“www.DaveCraige.com”
“www.TheStudio.io”

[2018-03-02 00:32] AntiTcb commented on #542
URLs are required to have a protocol to be hotlinked. http://, https://, etc.

[2018-03-02 11:21] brawaru opened #543 "Weird margin-top for descriptions on permission calculator page"
There's a weird `margin-top` set to `13px` on [permission calculator page](https://discordapp.com/developers/tools/permissions-calculator) for every checkbox description, which moves descriptions to bottom of checkbox wrappers. Without it descriptions shown just fine.

To compare:

| **With `margin-top`** | **Without** |
|:---:|:---:|
| ![image](https://user-images.githubusercontent.com/10401817/3

[2018-03-02 17:43] #542 closed, assigned to nobody

[2018-03-02 17:45] msciotti commented on #543
Thanks for the heads up - probably something I needed previously, then marketing page changed and broke it. I'll get this fixed.

[2018-03-02 17:49] msciotti commented on #540
Yes, you need to be able to follow rate limits properly, as posted above. If you're using a bot, the library you chose is most likely already handling them, which is why the bot isn't posting messages - it's following the rate limits properly.

If you are using something like a webhook to post log messages into a Discord channel and twitch automod actions happen _that_ frequently, I would caution

[2018-03-02 17:49] #540 closed, assigned to nobody

[2018-03-02 18:19] andersfylling opened #544 "API v7 rumours"
Are there any proof someone is working on a v7 API?

I know you can do `https://discordapp.com/api/v7/{some_endpoint}` and get a result, but you can also set the version to `v18`, or even `v220` and get the same result.

Reason why I ask: I'm writing a little script that checks if any changes has come to the API using the changelog.

[2018-03-02 19:11] shikhir-arora commented on #544
Yes, v7 has been known for a while now. That'd be the latest as of now. As far as I know, anything else like v18 or something will default to the [latest 'official' version](https://discordapp.com/developers/docs/reference) which is v6 (though `v8` may point to `v7` -- not 100% sure, but almost certain that exposing `v20` or whatever is just defaulting to either 6/7; probably 6).

`https://canary.

[2018-03-02 21:19] jhgg commented on #544
API v7 is currently unreleased and undocumented. Anything in v7 is subject to change. We recommend not using it until it's formally announced/documented.

[2018-03-02 21:19] #544 closed, assigned to nobody

[2018-03-02 21:20] jhgg commented on #535
It is feasible. Not sure if we should expose another scope for this, or just have it be in the regular user scope.

[2018-03-02 22:53] shkkmo commented on #208
Is there a issue open for 'introducing a proper "purge channel" endpoint at some point in the future'? Even if this is just something for the UI so I can get rid of old stuff manually

[2018-03-02 22:54] jhgg commented on #208
We have no plans. I recommend clone channel -> then delete the old one.

[2018-03-02 22:54] #208 closed, assigned to nobody

[2018-03-03 14:38] MinnDevelopment opened #545 "Missing documentation of flags field in activity"
The [activity object](https://discordapp.com/developers/docs/topics/gateway#activity-object) should document the `flags` field of the activity.

There are also a few more fields that aren't documented such as `session_id` and `sync_id`.

[2018-03-03 20:34] melos-solro opened #546 "Unhandled exception"
Pressing and holding CTRL+WIN+A causes an unhanded exception:

Error: Uncaught Exception : Error : Object has been destroyed at MenuItem.click

(filepath)

at Function.executeCommand

(filepath)

Apologies but filepath was truncated and I could not read the actual file being referenced in the error window.

[2018-03-03 21:02] MinnDevelopment commented on #546
Go to https://discord.gg/discord-testers for bug reports.

[2018-03-03 23:09] #546 closed, assigned to nobody

[2018-03-04 07:51] shkkmo commented on #208
The documentation currently says "An endpoint will be added in the future to prune messages older than 2 weeks from a channel."

I don't see any  api endpoint for cloning a channel, what are you talking about?

[2018-03-04 09:16] MinnDevelopment commented on #208
You can create a channel with the same properties

[2018-03-04 09:34] SomeoneCares11 commented on #208
@minndevelopment but channel_id will change, so u need to edit your bots properties too

[2018-03-04 09:56] MinnDevelopment commented on #208
Since the bot is performing the update that should not be an issue.

[2018-03-04 21:05] shkkmo commented on #208
So the only solution to bulk delete old message is to completely recreate the channel and re-configure all integrations that use it? Won't this also remove any notification settings users have and break all invites and links to it? That's pretty unfortunate.

At the very least, the documentation  should be updated to no longer indicate that a solution is coming for this.

[2018-03-04 22:12] SomeoneCares11 commented on #208
@shkkmo Time ago, you can't delete default channel, and everyone mass deleting messages - that why they said
`An endpoint will be added in the future to prune messages older than 2 weeks from a channel.`
At least now you can recreate that channel, but i agree with you it is not solution.

[2018-03-04 22:19] macdja38 commented on #208
Through a bot if your bot has the right permissions you could shift the webhooks to target the new channel before deleting the old one? That would probably solve a significant portion of your integration issues.

Still deletes invite links, user notification settings (I think)...

[2018-03-05 01:25] bkuhl opened #547 "Request: Clarification on what a "closed" channel is?"
The concept of "closing" a DM channel is mentioned alongside deleting normal channels.
 Can some clarity be added as to what exactly this does when used on a DM?  Can messages still be sent to a closed DM?  If so, what can you not do when a DM is closed?
  If it didn't do anything, I suspect the docs would just say that DM's can't be deleted.

Relevant docs: https://discordapp.com/developers/docs/

[2018-03-05 05:11] night commented on #547
You can only close a DM channel, you cannot delete it or the recipient's messages. If you send a message to a closed channel it reopens it for the recipients if it has been closed, including yourself. For bots, channels do not have an open/closed state.

[2018-03-05 23:28] msciotti commented on #545
I think the last thing we landed on is that fields like `session_id` and `sync_id` were still in flux, so we don't want to commit to documentation yet. Buuuut I think we said flags are alright? We can probably add those.

[2018-03-06 21:36] msciotti commented on #543
Fixed in master—will deploy soon!

[2018-03-08 18:51] Tylertron1998 opened #550 "Change to pruning."
It would be nice if:

A. You could toggle the role thing; e.g. prune members that have a role, who haven't been "seen" - btw bad example, maybe make this more clear; "haven't sent a message in..."

B. Return a list of members that would be pruned, if it's a "dry" prune, if not, return members that have been kicked.

[2018-03-10 23:18] SomeoneCares11 commented on #550
I want to add something to your suggestion

C. Prune should require Administrator permission, not kick members!

[2018-03-10 23:22] MinnDevelopment commented on #550
All prune does is kick members, you can perform the same action with only the kick permission either way.

[2018-03-10 23:27] SomeoneCares11 commented on #550
@MinnDevelopment
But sometime mods prune the server without administrators knowledge, and no prune using another endpoint, btw who really want it with kick members insted of Administrator?

[2018-03-10 23:33] MinnDevelopment commented on #550
Prune emits an audit log entry. Besides, don't give people you don't trust the ability to kick members.

[2018-03-10 23:49] jhgg commented on #550
This seems like a general product feedback request, and not directly related to the API. I'd advise you post it here: https://feedback.discordapp.com/

[2018-03-10 23:49] #550 closed, assigned to nobody

[2018-03-10 23:49] jhgg commented on #547
No activity on this and it looks like night answered the question, so I'm closing this issue. Feel free to re-open if you have any further questions.

[2018-03-10 23:49] #547 closed, assigned to nobody

[2018-03-11 12:34] CEbbinghaus commented on #448
this would make referring easier for bot programmers. im currently working on a system where people invite multiple friends and get a role as a reward. this would make my life a lot easier

[2018-03-11 23:10] nebakki commented on #530
+1

[2018-03-12 17:44] msciotti commented on #543
Fixed now. Thank you!

[2018-03-12 17:44] #543 closed, assigned to msciotti

[2018-03-16 18:26] SomeoneCares11 opened #559 "decrease ban ratelimit per guild"
Hello,
I trusted a bot and the bot banned my members (50 members / 1s)
which is too high, i tried to make a bot to banned that way to try if its possible and was possible.

bot libraries following (5/1s) and (5/3s) which is awesome and good,
i hope the API make it that way too.

Thanks

[2018-03-16 19:41] jhgg commented on #559
We have no plans to alter the rate limit. Bots should be able to ban quickly to efficiently moderate if a server is being raided.

You can revoke ban permission from bots you don’t trust.

[2018-03-16 19:41] #559 closed, assigned to nobody

[2018-03-17 22:19] StarTrekRules opened #560 "Bot Token Keeps Changing!"
Every now and then, the token for my bot changes out of nowhere and i have to reset it, any way i can just use one?

[2018-03-17 22:23] AntiTcb commented on #560
If your token is changing in such a way that it no longer is valid, then something is getting into your account and forcing a new token generation that invalidates any previously retrieved ones.

[2018-03-17 22:53] Alex-rouse opened #561 "Discord update Failed"
The discord updater just keep updating and saying that it failed it is on the 500 time now

[2018-03-17 23:09] StarTrekRules commented on #560
I don't even touch that page until it changes for no reason

[2018-03-17 23:14] z64 commented on #560
A component of the token is a timestamp that represents when the token was generated. So as the tip on the page explains, every time you refresh the page and view the token it will be different. *Any* token you receive this way is completely valid until you hit the reset link, which invalidates all of them.

If the token you are using in your application is suddenly *invalidated* and your bot fail

[2018-03-17 23:20] AntiTcb commented on #560
Should also note that the below is another reason for being reset by Discord, which certainly can occur during on days where the API isn't 100% fully operational, such as today.

[2018-03-18 00:23] StarTrekRules commented on #560
I don't recall the bot ever doing anything besides responding to messages, 1000 anything would be alot

[2018-03-19 17:18] msciotti commented on #560
It's not a matter of what your bot does, but the ability of the underlying library to properly handle `IDENTIFY` and `RESUME` calls to the websocket.  That being said, unless you've rolled your own gateway connection, that's not something to worry about.

If your token is continuously being reset—you try to connect your bot, and it fails—it's possible that someone else has access. You should chang

[2018-03-19 17:18] #560 closed, assigned to nobody

[2018-03-19 17:19] msciotti commented on #561
Hi @Alex-rouse. This issue tracker is for documentation and API issues. If you're having issues updating our app, please contact support at https://dis.gd/contact. Thank you!

[2018-03-19 17:19] #561 closed, assigned to nobody

[2018-03-20 16:22] pointydev opened #562 "[Docs] Addition of Open Source brand page"
Just found a thing, maybe add it to the docs thing so other people can know about the thing (too lazy and tired to add it myself these days lol)

https://discordapp.com/open-source

aight thanks pointy out

[2018-03-20 17:22] ajloveslily14 opened #563 "Emoji API permissions"
What is the permission node that is needed to gain access to GET /guilds/ID/emojis? Why does this need permissions anyways?

[2018-03-20 17:32] msciotti commented on #563
Thanks for bringing this up! It requires `MANAGE_EMOJIS`. Fixed with e133012fe5fb7bad361bb87f8f9b60890a4a80ee

[2018-03-20 17:32] #563 closed, assigned to nobody

[2018-03-20 21:30] kieraneglin opened #564 "Feature request: See invite expiration with non-authed requests"
**Use case:** At the moment, I can send a `GET` request without any auth information to `/api/invites/<invite code>` and see basic data on the invite.  In our use case, we'd like to ensure that users can only submit invite links that expire _after_ an event on our platform concludes (sorry for being cryptic).

With this in mind, we'd love to see the ability to find an invite's expiration time via

[2018-03-21 00:39] msciotti commented on #564
Thanks for the feature request! @jhgg can weigh in on the feasibility of this feature.

[2018-03-21 06:44] jhgg commented on #510
~As of today, v4 should be rolled out to the entire fleet. We'll be updating docs soon. /cc @msciotti~

I lied, we've still got some old servers... :(

[2018-03-22 00:17] night commented on #564
we intentionally do not expose any metadata about usage and expiration of invites. if you can elaborate on your usage perhaps we can explore other solutions that don't involve sharing more information anonymously than we want to.

[2018-03-22 00:20] night commented on #562
I'm not sure what the open source page has to do with our API documentation. They are pretty separate in terms of use case.

[2018-03-22 00:20] #562 closed, assigned to nobody

[2018-03-22 01:52] ghost opened #567 "Android App needs to be force-closed to account for deleted messages"
My server has Nightbot who is nice enough to squash off those spammers... When a user sent a message the bot deleted, it updated for all of us but a user reported that the message was still in place on his phone until he force closed the app and re-opened.

[2018-03-22 16:59] msciotti commented on #567
Hey @TheAlmightyZach! Thanks for bringing this to our attention. This issue tracker is specifically for API issues, so please write in to support at https://dis.gd/contact. They'll be able to direct this to the right place!

[2018-03-22 16:59] #567 closed, assigned to nobody

[2018-03-23 14:26] bkuhl opened #568 "Missing permission - Manage Server"
https://discordapi.com/permissions.html shows a "Manage Server" permission, but https://discordapp.com/developers/docs/topics/permissions does not show such a permission.  This permission is also available in the Discord app:

<img width="473" alt="screen shot 2018-03-23 at 10 25 58 am" src="https://user-images.githubusercontent.com/524933/37834652-9b7ce146-2e84-11e8-835d-fc4ad8e0632d.png">

Can t

[2018-03-23 14:28] liampwll commented on #568
Servers are referred to as guilds by the API/docs, that permission is MANAGE_GUILD (0x00000020).

[2018-03-23 14:40] #568 closed, assigned to nobody

[2018-03-25 12:30] PotcFdk commented on #271
@night Satisfy my curiosity please, how is it not possible to change it?

[2018-03-26 02:35] MinnDevelopment commented on #365
Could the documentation for this be added together with v4?

[2018-03-26 14:47] MinnDevelopment commented on #510
Since last wednesday people started having issues with receiving audio on bots.
It seems to only receive audio after it sent audio for ~1 second. I cannot find anything in JDA that changed which could cause this to suddenly happen, could this be related to some API changes?

I've looked into it and it doesn't even receive UDP packages until it sent ~50.

[2018-03-26 17:44] msciotti commented on #365
Yeah, seems reasonable.

[2018-03-26 18:04] b1naryth1ef commented on #510
@MinnDevelopment this is something we're investigating now.

[2018-03-26 23:11] #545 closed, assigned to nobody

[2018-03-27 14:00] vassjozsef commented on #510
@MinnDevelopment Do you experience the issue on Desktop app or mobile?

[2018-03-27 16:37] MinnDevelopment commented on #510
Neither, this happened on bots. b1nzy already looked into the issue and found the problem.
There was an issue in the voice server logic where it didn't read the `data.address` field from the select protocol which caused UDP payloads to not be delivered.

[2018-03-29 08:53] jhgg commented on #564
We haven't heard a reply to this in a week, so I'm gonna consider this issue closed.

[2018-03-29 08:53] #564 closed, assigned to jhgg

[2018-03-29 12:58] voicupul commented on #510
do you know how much time it will take you to fix this?

[2018-03-29 20:03] b1naryth1ef commented on #510
The bug has been fixed, however I don't have a timeline for when it will be fully rolled out.

[2018-03-31 10:42] MinnDevelopment commented on #545
Would it be possible to add more details to these flags? I find it rather difficult to understand what each flag means even when looking through presences.
What I understood from looking into it:

INSTANCE: start and end timestamps are set
JOIN: join/listen along button (often in combination with SYNC i believe)
SPECTATE: ask to spectate button available*
JOIN_REQUEST: ask to join button available

[2018-04-02 10:04] eezstreet opened #573 "API Feature Request: HTTP requests"
Hi,

I am the developer of a mod called SWAT: Elite Force. One of the ideas I had in mind was to develop a webhook that could be used to either relay ingame chat, report problem players, or to report when the server has reached a certain number of players.

However, it seems that the webhooks can only function in HTTPS. This is a problem for me, because the game's programming language (Unrealscrip

[2018-04-02 10:09] shikhir-arora commented on #573
Hm, my two cents: I don't think exposing such an endpoint without HTTPS/TLS is **ever** a good idea. In fact webhooks are a model use case where you *would want* to always use HTTPS. I can see users being confused if an option existed among other things.

You can always use IPC/RPC to communicate and for your use case you can probably apply for the additional scopes if needed.

[2018-04-02 16:38] msciotti commented on #573
Hi eezstreet. Unfortunately, I don't think exposing these methods without TLS is not something we're going to want to do. Night or Jake are welcome to correct me, but I'm confident they would agree. Your best bet would be to route to an intermediate server that can make HTTPS requests to our API. I apologize that it's not a more elegant solution, but it is the correct way.

[2018-04-02 16:38] #573 closed, assigned to nobody

[2018-04-03 03:18] jhgg commented on #573
Correct. We will never expose any API over a non secure channel.

[2018-04-03 20:29] JettBurns14 opened #574 "Is there an API for new user mentions?"
I checked the [docs](https://discordapp.com/developers/docs/intro) and even had friends @ mention me while I looked in browser dev tools, but couldn't find any API to view my new mentions (or how many I had). Is there such an API?

I'm asking because I'd like my personal/local Chrome extension to have a small red badge with this number of new mentions, so if I'm not on Discord, it tells me how man

[2018-04-03 20:40] msciotti commented on #574
Hi Jett! Unfortunately, there is not a publicly available way of capturing notifications. There is an RPC scope of `rpc.notifications.read`, but that is behind a whitelist for a program to which we are not currently accepting any more developers. Apologies that I cannot offer you more.

[2018-04-03 20:40] #574 closed, assigned to nobody

[2018-04-04 19:02] R3alCl0ud opened #575 "Get Guild Ban"
Hello.
I was wondering if it would be feasible for a `GET /guilds/{guild.id}/bans/{user.id}` endpoint to be added. This would be used to check if and/or why a user was banned from a guild. This would be an alternative to fetching and searching through the guild's bans list/auditlogs.

### Possible Specifications

#### Returns
Successful requests would return a `Ban` object if the user is banned, a

[2018-04-04 22:20] b1naryth1ef commented on #575
This is possible to add, but likely won't get placed on our roadmap so I can't give you an idea on when / if we would build this.

[2018-04-05 06:53] AEnterprise commented on #575
since you guys are (or might be in the future) looking into such an endpoint, could this endpoint maybe also expose what ban a specific user falls under that is not explicitly banned (like ip ban hitting everyone using the same cellular tower), more details on https://feedback.discordapp.com/forums/326712-discord-dream-land/suggestions/33265234-show-what-ban-a-user-falls-under (hope this link is o

[2018-04-05 17:07] msciotti commented on #575
No worries about the link, it is helpful here for providing context 👍

[2018-04-06 17:19] Naveedali1234 opened #577 "Discord get guild member list with php curl"
I am using socialite to get the access token:

return Socialite::driver('discord')
->scopes(['email', 'identify', 'connections', 'guilds', 'rpc.api',
'guilds.join'])
->redirect();
The call back url is providing me the details, since there is no friend list API call I am trying to get user list of guilds with members detail, for this I use curl:

$authToken ="MYTOKEN";
$url="https://discordapp.com/

[2018-04-06 17:26] MinnDevelopment commented on #577
None of your scopes allows you to access this information.

[2018-04-06 17:27] SinisterRectus commented on #577
https://discordapp.com/developers/docs/topics/oauth2#shared-resources-oauth2-scopes

[2018-04-06 17:28] Naveedali1234 commented on #577
so which scope should i use?

[2018-04-06 17:29] MinnDevelopment commented on #577
There is no scope which allows you to do this.

[2018-04-06 17:47] ghost commented on #577
To get a list of the members, you need to have a bot user in the specified guild.

[2018-04-06 17:48] Naveedali1234 commented on #577
how can i achieve this, you people help would be really appreciated.

[2018-04-06 17:53] SinisterRectus commented on #577
You need to covert your application to a bot user, though this has different uses compared to regular oauth applications. It's explained on the same page with the scopes.

[2018-04-06 18:02] Naveedali1234 commented on #577
from where i can get the idea to implement this. i am stuck on it. :(

[2018-04-06 18:05] SinisterRectus commented on #577
I'm not sure what you mean. Bots are oauth applications that can function similarly to a regular user. They can join Discord servers, send messages, create roles... but they have limitations and privileges different than those that regular users have. Here are some things to read about bots:

- https://blog.discordapp.com/the-robot-revolution-has-unofficially-begun-unofficial-api-23a3c722d5bf
- ht

[2018-04-06 22:56] jhgg commented on #577
Given this doesn't appear to be an issue with the API or documentation, I'm going to close this issue.

You want to add a bot to the guild in question, and use the bot's authorization token to call that endpoint to grab the member list. If you have any further questions, feel free to ask on the Community API server here: https://discord.gg/discord-api

[2018-04-06 22:56] #577 closed, assigned to nobody

[2018-04-07 21:08] owenhickey13 opened #579 "Mic problems"
after the recent update on April 1st, me and my friend's mics stop working in the middle of calls or in voice channels. we want this to be helped, so please leave some suggestions.

[2018-04-07 21:15] DasWolke commented on #579
Not a discord staff member so just my two cents but contacting discords support is probably a better choice. Here are the details:
Web: https://support.discordapp.com/hc/en-us
Email: support@discordapp.com

[2018-04-08 22:32] pyrech opened #580 "List guild's members and bot permission"
Hi! Sorry to bother you with this issue.

I'm currently writing an application with a bot that needs to retrieve all the members of the guild where the bot is installed. That works perfectly as is - thank you for your awesome API and it's documentation !!.

However I didn't require specific permission in oauth flow. That causes the application to only propose guilds where the user has "Manage the

[2018-04-08 22:36] ghost commented on #580
Users can only add bots to servers where they have the manage server permissions. However there is no permission to retrieve the members list of the guilds someone is in. This applies to bots aswell.

[2018-04-09 03:33] StarTrekRules commented on #560
It is never anywhere public, its just every now and then I have to go and get a new one

[2018-04-09 09:33] pyrech commented on #580
Ooh, I see. I totally misunderstood this requirement. Thanks for your quick answer :wink:

[2018-04-09 09:33] #580 closed, assigned to nobody

[2018-04-09 19:51] vladfrangu opened #581 "Bug?: Listing Guild Emojis requires the MANAGE_EMOJI perm but GET guild returns emojis"
Looking through the docs today, I find it very weird that `/guilds/id/emojis` requires the MANAGE_EMOJIS perm but you can get emojis from the `/guilds/id` endpoint. This feel quite inconsistent and weird, considering both actions are GET, not something like PATCH, PUT, or DELETE. Plus, `/guilds/id/emojis/id` also needs the permission for getting basic emoji data.

This feels like an inconsistency.

[2018-04-09 20:12] jhgg commented on #581
It's an inconsistency, but not a bug (as the endpoints were initially specced this way).

Logically the GET endpoint should work too if you're a member of the guild. We can probably change that.

Looks like 2 routes are affected:
- [x] `GET /guilds/:id/emojis` requiring `MANAGE_EMOJIS`
- [x] `GET /guilds/:id/roles` requiring `MANAGE_ROLES`

[2018-04-09 20:13] jhgg commented on #579
See @DasWolke 's post. This issue tracker is only for API / documentation related issues.

[2018-04-09 20:13] #579 closed, assigned to nobody

[2018-04-14 03:37] jhgg opened #582 "documentation for lazy guilds gateway changes"
e.g. `message_create`, `typing_start` from a guild will now contain a guild id, as well as a channel id.

Some events already provide a guild id via `id`, like `GUILD_CREATE` and `GUILD_DELETE`. Those will continue to just use `id` and not `guild_Id`

- [x] fully roll out this
- [ ] update docs

[2018-04-15 11:16] andrei1058 commented on #535
any update?

[2018-04-15 13:25] Seklfreak opened #583 "GUILD_CREATE event does not contain widget_enabled, and widget_channel_id"
I noticed the `GUILD_CREATE` event does not seem to contain the fields `widget_enabled`, and `widget_channel_id`. They do get sent with the `GUILD_UPDATE` event.

This makes tracking changes to `widget_enabled` and `widget_channel_id` harder, as there will always be a change with the first `GUILD_UPDATE` event.

[2018-04-15 13:32] Seklfreak commented on #583
Same thing seems to happen with the fields `embed_enabled`, and `embed_channel_id `.

[2018-04-16 05:55] macdja38 commented on #535
It would be nice to have available without an oauth scope so it could be used to serve commands in a users language and localize formats.

[2018-04-16 13:27] tech6hutch commented on #535
That would be convenient, but what if a user doesn't want a bot to know what language they use? Correct me if I'm wrong, but no user settings are currently exposed to bots.

[2018-04-16 13:29] Still34 commented on #535
Surely the value could be null'd or default to `en-US`?

[2018-04-16 13:42] shikhir-arora commented on #535
Having it as part of the user scope seems to make the most sense, and as @tech6hutch mentioned - I don't think having it exposed without a scope is a great idea. It's not the most private information by any means, but it could cause users to be confused if the application/bot knows their language setting if they aren't familiar.

Keeping it as a scope means the user would allow access explicitly v

[2018-04-16 17:37] msciotti commented on #581
These two changes have just been merged—I will note here when they're deployed!

[2018-04-18 23:30] msciotti commented on #581
Deployed! Should work!

[2018-04-18 23:30] #581 closed, assigned to msciotti

[2018-04-20 13:50] danbopes commented on #448
Right now, my use case is this: A user joins the server. I'd like to detect if the invite link used was temporary or permanent, and if a permanent one, then shoot a DM to the person explaining how to use the bots within discord.

[2018-04-20 22:14] night commented on #583
this is intentional behavior. widget information is not something we store on guild servers as it's not needed. clients fetch and mutate widgets with the `/guilds/:guild_id/widget` endpoint

[2018-04-20 22:14] #583 closed, assigned to nobody

[2018-04-20 23:09] night commented on #530
we try to only send events that our clients need. since #448 sounds like what you actually want, i'll close this as a duplicate of that issue.

[2018-04-20 23:09] #530 closed, assigned to nobody

[2018-04-22 23:17] iiAbady commented on #448
**You can just track the invites, and see which one of them increases when a guild event happen. but this request will make every thing easy**

[2018-04-23 00:54] SomeoneCares11 commented on #448
@Abady321x123 what if the invite max limit is 1.

[2018-04-24 06:52] Yonneh0 opened #586 "GET /guilds/{guild.id}/members is not able to list all guild members"
GET /guilds/{guild.id}/members retrieves a random group of members from the guild; depending on the limit= field. The batch is not sorted by user_id; which makes the after= completely pointless.

It is currently not possible to list all members of a guild, that has over 1000 users.

For instance; iterating through a guild with about 1800 members; with limit=1000, and requesting after= being the hi

[2018-04-24 07:08] #586 closed, assigned to nobody

[2018-04-24 07:15] Yonneh0 commented on #586
Turns out it was my issue. In my subsequent requests; I was using a hard coded guild id; instead of the one that was initially requested; causing subsequent requests to list users of that guild.

[2018-04-25 14:13] crognon opened #587 "request / question : SWAGGER Definition"
Hi all,

thank you for the good job.

have you ever considered using openAPI (aka swagger) format to document your API ?
It would be easier for developper to use your API with this format.

If you do not know about it I could provide some example

thanks
Cyril

[2018-04-25 16:37] msciotti commented on #587
I have personally considered swagger, yes, but we found it wasn't a good fit for our documentation needs/methods. We have some thoughts on how to make our documentation better, more accessible, and maybe even mobile-friendly (!!!!!), but those are a long way out.

Thank you for the suggestion.

[2018-04-25 16:37] #587 closed, assigned to nobody

[2018-05-01 00:04] noctialisy opened #589 "Whole Discord interface disappears after someone deletes a video while you're watching"
I was watching some guide our guild leader had posted to our guide channel (it was a twitch video) and some minutes from the beginning, they deleted the video.

I got back to the discord interface and some elements were missing. just made it to the general channel and everything else had disappeared.

In the attachment you can see what was left of discord during the issue.

![capture](https://user

[2018-05-01 01:29] AlgorithmicOwl opened #590 "discord wont load its stuck in a gray screen"
i dont know why it is like thay

[2018-05-01 03:10] b1naryth1ef commented on #589
This issue tracker is for issues relating to our API documentation and public API. Please reach out to support@discordapp.com for anything else.

[2018-05-01 03:10] #589 closed, assigned to nobody

[2018-05-01 03:10] b1naryth1ef commented on #590
This issue tracker is for issues relating to our API documentation and public API. Please reach out to support@discordapp.com for anything else.

[2018-05-01 03:10] #590 closed, assigned to nobody

[2018-05-02 20:55] Tylertron1998 commented on #448
+1 to this idea.

[2018-05-02 23:24] s5bug commented on #448
@Abady321x123 large amount of users joining from different links at the same time makes that method _very_ problematic.

[2018-05-03 05:10] jellz commented on #448
+1

[2018-05-03 19:10] vladfrangu opened #593 "Gateway Request: Add the user object to emojis received on GUILD_CREATE / GUILD_EMOJIS_UPDATE"
Following #492, I was wondering is said user object can also be added to the WS events to not require a full API call to get the user object.

This would bring some form of consistency with the REST API (in this context anyways), and it would be very useful (in my opinion)

[2018-05-03 21:00] b1naryth1ef commented on #510
Hey folks, as an update to the UDP receive issue that was reported in this thread, our fixed version has been promoted to production and is being rolled out globally over the next few days.

[2018-05-04 00:40] night commented on #593
we consider the uploader of emoji to be private data, which is why it is not exposed to anyone but users in a guild with `MANAGE_EMOJIS` permission via the API.

[2018-05-04 00:40] #593 closed, assigned to nobody

[2018-05-04 00:56] Lilwiggy commented on #593
How exactly would that be private information? Wouldn’t that mean that when someone updates a guild and it shows in the audit logs who did it that it’s private data?

[2018-05-04 00:58] jhgg commented on #593
Audit log is a permission to be granted. Thus, data is private.

[2018-05-04 12:34] thibaultmol commented on #448
I think something like this would be super useful. For example in our case:
We want to have a seperate invite link for Twitter, Facebook, Reddit (individual subreddits we posted in),.... So we actually know what social media sources we're getting the most users from

[2018-05-04 12:38] SinisterRectus commented on #448
Invite metadata already has a `uses` field for that.

[2018-05-04 20:04] b1naryth1ef commented on #448
Hey folks, we've discussed this request internally and agreed that it's got a lot of good use cases. I've worked on an implementation, and we have something we think will work well for this. I don't have a timeline for getting it out in the wild yet, but hopefully we'll have more information in the next week or two.

[2018-05-05 18:05] vladfrangu commented on #593
It's interesting that you say that you need `MANAGE_EMOJIS` to get the user, which is incorrect right now, as any bot WITHOUT said permission can get the user quite easily (GET /guilds/:id/emojis/:id).

![image](https://user-images.githubusercontent.com/17960496/39666269-b204bb4a-50a9-11e8-83f5-65fecac51cb8.png)

I can understand the "private data" part in a way, but at the same time I cannot. Unl

[2018-05-05 19:22] FiniteReality opened #594 "Unknown 'type' change in webhook create audit log entries"
When creating a new webhook (both through OAuth and the client), I get an entry like this in the audit log:
[code]
According to the docs, there should not be a `type` change here, yet there is one. I'm fairly sure it's safe to ignore since I can't think of anything it could mean, but I thought I'd double check anyway in case I'm missing important information.

[2018-05-05 19:51] night commented on #594
webhooks do have a single type `INCOMING` (which is `1`). it looks like they are being serialized to the audit log, probably for future compatibility with outgoing webhooks. we don't yet return `type` for webhook models since we've not added other types yet.

[2018-05-05 19:53] FiniteReality commented on #594
Makes sense. I'll decode them to an enum then for the future, thanks!

[2018-05-05 19:53] #594 closed, assigned to nobody

[2018-05-05 21:02] night commented on #593
That looks like a bug caused by #581 changes. I've rectified and deployed a fix.

[2018-05-05 21:04] #575 closed, assigned to msciotti

[2018-05-07 05:14] Mheetu commented on #448
@CEbbinghaus, while I definitely want this feature implemented... I'd say the scenario you mentioned is arguably a reason to avoid, or at the very least, be weary towards it's implementation.

I've experienced first-hand what happens when users are encouraged through tiered rewards to refer users to a server. While it may not be the case in all situations, it often results in those users joining o

[2018-05-07 17:17] b1naryth1ef commented on #448
@Mheetu spamming invites in other servers is a violation of our terms and folks who choose to do this are generally caught and handled (read; banned) by our automated abuse systems.

[2018-05-07 18:13] Mheetu commented on #448
I'm aware of that, and it seems to work fairly well in your average gaming community where server owners don't care much about numbers. However, get more into other niche communities where admins benefit from larger communities and it's still an issue.

For instance, I've been in a few crypto coin servers and I often find myself getting DMs inviting me to "pump-and-dump" servers where the owners h

[2018-05-07 18:26] SomeoneCares11 commented on #448
@mheetu they already can track numbers by invite.uses, and people can spam to get more link uses, but our request here is different.
if bad people joined your server, you'll know  which link they came from. to stop that link, also if you have PUBG role you can give it to everyone joined via specific link, and so on.
there are no bad things will happen from this feature.

[2018-05-07 18:34] Mheetu commented on #448
They can, indeed. But it's difficult to do, adding a proper API for it will simplify the process and therefore increase the number of those doing it.

Again, I'm not saying I'm against the feature, I'd find it extremely useful as a server owner/community manager. But it will definitely increase the amount of abuse and that's something that Discord should look out and be prepared for.

[2018-05-07 19:52] vladfrangu opened #595 "Bug: API doesn't check if you want to PATCH a message with an empty content"
Sending a message with an empty message content, throws an error, as expected.

But sending a message with any content, then patching it with content `""` results in an empty message. (example uses d.js but can be reproduces with any library)
![image](https://user-images.githubusercontent.com/17960496/39721683-f38447de-5248-11e8-84f0-b96402f0b3d0.png)

Now, I believe this is an oversight. While of

[2018-05-07 20:56] SomeoneCares11 commented on #448
@Mheetu invite "uses" beside each invite in the invites list, how its difficult?
they can reward members using that number, what is the different here?
with the new feature they will know who invite specific user, i gave you examples for use cases above.
which i think rewards not one of the use cases, and this feature will not cause any spam to discord
Its just an extra thing to help bots do amazi

[2018-05-07 22:48] schnapster commented on #448
I second what @Mheetu has said so far.

I am developing a bot that actually does something useful with DMs (sending private information so users can play a game with different roles). This, of course, requires the users to have DMs enabled if they want to play that game. Which sadly opens them up to be abused by spammers. I'm having a hard time ensuring a smooth experience for users so that they a

[2018-05-07 22:55] b1naryth1ef commented on #448
This isn't the appropriate thread for this discussion. Invite spamming and TOS abuse are an entirely separate problem outside of the implementation of this feature. We have various internal tools which track and handle the types of abuse you've all described here. If your seeing prolific abuse of the invite system, or TOS violations in any form you should reach out to our support team (support@dis

[2018-05-08 13:39] LikeLakers2 commented on #595
I do know that Discord allows a message with an embed but no content, perhaps that might be why it's allowed?

[2018-05-08 14:06] eritbh commented on #595
The repro example doesn't have an embed on it, so there's still a check missing somewhere if that's the case.

[2018-05-08 20:08] ed588 opened #596 "What does the Embed Provider do?"
In the API docs for embeds, it mentions the "embed provider"
![image](https://user-images.githubusercontent.com/19167629/39780325-dbff63a8-5303-11e8-8bc9-bc2f2629c18b.png)
![image](https://user-images.githubusercontent.com/19167629/39780337-e797e104-5303-11e8-83d6-4c8bc4d568c1.png)
However, the docs aren't clear about what this does. What is it, and how is it used?

[2018-05-09 00:39] msciotti commented on #596
After a quick look, it looks like it's just used internally for certain embed providers like youtube, twitter, and other things that our unfurler processes. You can pretty safely ignore it, but we probably won't document it further than this since it doesn't change anything for bot embeds.

[2018-05-09 15:21] #596 closed, assigned to nobody

[2018-05-11 10:12] Orphis commented on #365
Any update on this? It would be interesting to see how to receive voice data through WebRTC in a browser, especially documenting how to get the ICE server information and munge the SDP appropriately!

[2018-05-11 13:09] Ngalfar opened #598 "Discord lags video recording."
Hi,

I've been using the integrated windows 10 recorder while playing games. I noticed the other night that when PTT is used, it lags the recording (not the game itself, i only noticed it while rewatching the recording). I've read somewhere that it is possible to set a different profile (?) but i have no idea how to do that or how to resolve this issue. Any help would be great.

For an example of

[2018-05-11 13:11] MinnDevelopment commented on #598
This is not the place to report bugs of the discord client or ask for support.
Go to https://discord.gg/discord-testers or contact the Discord team via https://dis.gd/contact

[2018-05-11 13:14] #598 closed, assigned to nobody

[2018-05-11 18:19] msciotti commented on #365
I or @b1naryth1ef can do this when the new voice protocol stuff is deployed and documented.

[2018-05-11 18:25] b1naryth1ef commented on #365
I don't fully understand what your trying to ask @Orphis, but the implementation that will be documented here is for native bot implementations, not web browsers.

[2018-05-12 00:22] Orphis commented on #365
@b1naryth1ef Why wouldn't a bot be able to use the WebRTC protocol too or run in a browser context? There are certainly some valid use cases!
Also, WebRTC is a native library, not *just* a browser API.

[2018-05-12 00:56] b1naryth1ef commented on #365
@Orphis Effectively the API we expose for bots is opus via RTP + Websocket control layer, with encryption via libsodium/nacl. While this doesn't exclude you from using WebRTC as a client (read; native) library, you would have to do the packet / networking layer translation (I'm not familiar if WebRTC as a library lets you do this trivially). This is actually mostly documented on [this page](https:

[2018-05-12 07:03] darichey commented on #582
I am currently receiving `GUILD_UPDATE` with both `id` and `guild_id`. Is this intended?

[2018-05-12 09:04] shadowedcloud opened #599 "Nitro Account Transfer"
Hello!

So my friends accidentally removed their 2FA App, subsequently removing the ability to access their original account anymore.

They have since made a  new Discord account, but I was wondering if there was a way we could get the Nitro from the first account transferred to the new account?

I am the one who bought it for the account, so I have all the billing information necessary.
Please le

[2018-05-12 09:04] cloudrac3r commented on #599
I think you should email support@discordapp.com.

[2018-05-12 15:04] braguettop commented on #599
They don't have the backup codes?

[2018-05-12 15:12] MinnDevelopment commented on #599
Tell your friend to go to https://dis.gd/contact
This is not the place to ask for support.

[2018-05-12 16:20] #599 closed, assigned to nobody

[2018-05-13 10:06] MinnDevelopment opened #600 "OAuth2 token exchange does not mention scope parameter"
Currently the documentation does not mention that the [Access Token Exchange](https://discordapp.com/developers/docs/topics/oauth2#authorization-code-grant-access-token-exchange-example) has an optional parameter `scope` which allows to specify for which scope the token will be used. This causes a lot of confusion for developers not familiar with OAuth2 who then only get the default `identify` sco

[2018-05-14 16:21] msciotti commented on #600
OK, yes the documentation should be changed for this. I will do that 👍

[2018-05-17 01:14] NewHayer opened #601 "api"

[2018-05-17 01:29] #601 closed, assigned to nobody

[2018-05-17 18:42] #600 closed, assigned to nobody

[2018-05-21 19:35] mstarbuck13 opened #602 "401 Error: Unauthorized"
When loading a token for a bot user, the system throws a 401 error. The 401 is not corrected by getting a new token. Normally, 401's are for incorrect token IDs, but the Token ID is correct each time I attempt it. (Including when I have to generate a new token.)

I had issues with connection the other day and was being forced to redo the Captcha security measures over and over so I was questioning

[2018-05-21 19:38] MinnDevelopment commented on #602
When performing REST requests, bot tokens have to be prefixed using `Bot`:

[code]

For the gateway this is not needed, however.

See https://discordapp.com/developers/docs/reference#authentication

[2018-05-21 21:16] msciotti commented on #602
Minn's point is a good start. It's hard to say the issue without seeing what you're doing. Could you post an example of the code, be it a bot implementation with a library or a raw request or whatever you're doing? Obviously, please omit/censor/obfuscate the actual token.

[2018-05-21 21:17] mstarbuck13 commented on #602
I fixed it. Fun fact: I accidently set the wrong file in my local enviroment variables, so it will trying to start the wrong file for the token. :hecc: my bad.

RESOLVED.

[2018-05-21 21:27] #602 closed, assigned to nobody

[2018-05-21 22:17] queer opened #603 "Is the member data in MESSAGE_CREATE reliable / always present?"
Since lazy guilds was pushed out to all guilds (I believe, haven't noticed this before), it looks like there's now always a `member` field in the `MESSAGE_CREATE` event payload for guild messages. There's been ex. meew0/discordcr#137 for adding library support for it, but as it's not actually documented (yet?) I want to be sure it's reliable before using it.

[2018-05-21 22:24] night commented on #603
[it will always be present going forward](https://github.com/discordapp/discord-api-docs/issues/582), and we will have an upgrade path for bots to use lazy guilds soon™

[2018-05-21 22:24] #603 closed, assigned to nobody

[2018-05-22 17:05] nullpixel commented on #535
I personally like the idea of letting bots have it without a scope for localisation purposes. Perhaps allow an opt-out rather than making it opt-in, since most users won't care.

[2018-05-25 03:46] dpsi opened #604 "Broken Link in docs"
https://github.com/discordapp/discord-api-docs/blob/master/docs/Intro.md

The "Bot related things" link or image is broken.

[2018-05-25 16:45] msciotti commented on #604
Thank you for the note. It's a difference in how github pulls images vs how we do it in our documentation. It looks correct in our rendering:

https://discordapp.com/developers/docs/intro

Thank you though!

[2018-05-25 16:45] #604 closed, assigned to nobody

[2018-05-25 21:35] ghost opened #605 "Can't delete Group DM's after creation through the API"
After doing a [Group DM request](https://discordapp.com/developers/docs/resources/user#create-group-dm) with my app it said that a Group DM was made, but it did not appeared in my list. After that I have seen [another issue](https://github.com/discordapp/discord-api-docs/issues/426) about Group DM's I came to the conclusion that it doesn't work (yet).

I have tried it out a few times, thinking it

[2018-05-25 22:58] night commented on #605
Bots cannot join group DMs, and they can only make managed group DMs for use with Gamebridge. Managed Group DMs do not appear in Discord. You can only join users to group DMs with their access tokens.

Since the bot is not joined it is indeed "missing access" when you send a message. If you're getting a 404 on delete that means a channel with that id doesn't exist. You would receive a 403 if you w

[2018-05-25 23:24] ghost commented on #605
Thanks for the usefull answer! But this still leaves me with 2 questions:

1. If the bot is not joined, then why is the error of 10 active Group DM's thrown?
2. If I am making a GET request with the channel-id (received from the returned GroupDM Channel Object), I get the following: `{"code": 10003, "message": "Unknown Channel"}`, so the channels aren't there too. Are they really somewhere I can't

[2018-05-26 00:11] msciotti commented on #605
For 1: The 10 Group DM limit is a whitelisted limit we put in for developers who were testing GameBridge (no longer available). When they were approved, the cap was removed.

The bot doesn't "join" the DM, but it does own 10 active DMs. Hence the error.

[2018-05-27 03:02] SomeoneCares11 commented on #448
Any news? we didn't hear anything for more than 3 weeks, not one or two. 😬

[2018-05-27 03:05] jhgg commented on #448
It’s still on the roadmap. Our team is very busy right now though so this is relatively low priority relative to other things (such as GDPR).

[2018-05-29 22:51] msciotti commented on #535
This was completed over the weekend, and should be deployed within the next couple days. I will update documentation accordingly and will close this issue when it's deployed.

EDIT: This is deployed!

![image](https://user-images.githubusercontent.com/4193854/40690005-bde5b6c2-6359-11e8-864d-6389ab6a6cff.png)

[2018-05-29 23:03] #535 closed, assigned to msciotti

[2018-06-01 21:57] ghost commented on #605
Question 2 isn't answered, but I'm enough informed. There is not possibility to have bots in Group DM's. I will close the issue.

[2018-06-01 21:57] #605 closed, assigned to nobody

[2018-06-06 18:43] msciotti commented on #595
This is indeed something to be fixed. It's a little bit of a rabbit hole to do properly due to the way that embeds behave in our API, but I will mark it as a bug to be taken care of. Thank you!

[2018-06-06 18:51] vladfrangu commented on #595
I know this has been labeled and everything, but quick side note: calling post on the endpoint with embed being an empty object throws a 400 bad request. Adding type: rich in the object (a value that according to the docs is ignored) makes it send empty messages. So, 2 bugs? I'll let that up to you

[2018-06-08 00:19] xDimGG commented on #595
Just dropping by to mention this can be reproduced using just the Discord client by simply sending a message then editing it to `/nick` (since it brings up the slash command menu).

[2018-06-09 18:52] HelpfulStranger999 commented on #448
Any updates on this feature or are you still busy with GDPR and whatever else?

[2018-06-09 22:45] jhgg commented on #448
There are no updates for this. When we have more we will post.

[2018-06-10 12:52] YoussefExplicit opened #609 "Possibly Add GET /users/ for bots and allow queries for it"
If this was to be added to the API, it could allow clients to access all of the users which are returned  on the GUILD_CREATE event when the client is ready.

It would also be nice if you could make queries, such as {id: 'id here'} or {username: 'username here'} for the different properties on the user object that discord api returns.

If there are multiple users with the same username, return an

[2018-06-10 13:02] luaugg commented on #609
couldn't you just keep track of the users via the events and do this logic yourself? it's a cool feature but it slightly increases load on the API considering how some bots are exposed to *millions* of users

[2018-06-10 13:36] YoussefExplicit commented on #609
you could use GET /users/id to get a user by id, but that is limited to id only, what would be nice if you could do this and be able to use id, username etc.

[2018-06-10 13:45] ghost commented on #609
Use <https://discordapp.com/developers/docs/topics/gateway#request-guild-members>.

[2018-06-10 13:46] YoussefExplicit commented on #609
@CharlotteDunois that requires guild id

[2018-06-10 13:46] ghost commented on #609
Obviously it does. You can't just access every single user. This is open for abuse.

[2018-06-10 13:47] YoussefExplicit commented on #609
but you can when you do GET /users/id where if the bot doesn't share any guilds with the user, it still returns a user object or atleast a partial one.

[2018-06-10 13:51] ghost commented on #609
Yes, but that requires you to know the ID. If you could just require users arbitrarily, then this is open for abuse and data collection. Plus what's the use case of allowing to require users arbitrarily by username or any other property? There's nothing you can do with users you aren't sharing any mutual guilds. The only thing you can do is data collecting.

[2018-06-11 16:58] msciotti commented on #609
Charlotte explained it pretty well above—there isn't a use case for accessing user data on users with whom your bot does not share a guild. We will not be supporting this right now.

[2018-06-11 16:58] #609 closed, assigned to nobody

[2018-06-11 20:00] idan2510 opened #610 "Proposal"
Hello my name is Idan ,
I want to suggest an idea , The idea is to block a certain user from the group , IP address blocking
There will be no problems in the group
And that it will not be repeated if another user opens
Thanks from Idan.

[2018-06-11 20:33] night commented on #610
Product feedback can be given at https://feedback.discordapp.com

[2018-06-11 20:33] #610 closed, assigned to nobody

[2018-06-15 22:33] Skillz4Killz opened #612 "Feature Request: User DM Status Property"
There is no easy method to tell if a user has DM's open, and this forces sending a request to the API to send a message getting back an error to check if the DM was sent or not.

Currently, I have to send a request to the API to send a message and catch it to see if it failed to know that dm was not able to send to X user.

Current form
[code]

What A Property Showing DM Status Could Do:
[code]

T

[2018-06-15 22:59] LikeLakers2 commented on #612
Not sure I can really see a use case for a endpoint dedicated to see if someone's DMs are open to the bot. That just splits one endpoint into two, when the current endpoint can solve both use cases (checking if DMs are open and sending a DM -- if you really need to check if DMs are open, you're probably already trying to send a DM anyways!).

My recommendation is to just catch the error like you'r

[2018-06-16 00:36] msciotti commented on #612
Agreed with LikeLakers; this splits functionality in two. It also means that every successful DM would in fact be two API calls: one to check if their DMs are open, and then one to actually send the message, thereby doubling requests in the most often use case.

Handling the error code is definitely the right way to do this.

[2018-06-16 00:36] #612 closed, assigned to nobody

[2018-06-16 14:00] andre-paulo98 opened #613 "Bot Profile Picture becomes out of sync if you upload from the API"
If you upload a picture for the bot using a command, it won't update the picture on the developers website and stop you from updating the picture from the developers website.

Steps to reproduce:

1. Make a new bot
2. Have a command that changes the profile picture of the bot to some image
3. Update the profile picture from the developers website (it will update automatically)
4. Update the profil

[2018-06-16 16:34] MinnDevelopment commented on #613
The picture on the developers dashboard is for the __application__ while the picture you upload using the bot is for the __bot account__. These are 2 different contexts. I believe this is intended behavior.

[2018-06-16 16:36] andre-paulo98 commented on #613
But there is only one place to upload the picture on the developers dashboard.

[2018-06-16 17:23] ghost commented on #613
@andre-paulo98 To update the bot account avatar, you have to use the API. This behaviour is intended.

[2018-06-16 17:36] andre-paulo98 commented on #613
If the bot is online, you never updated the avatar directly with the API, and you update the avatar from the dashboard, the avatar of the bot (in the application) will update automatically.
So you have 2 places to update the avatar, but you must pick one specifically, because if you try use one and then the other one things might break, doesn't sound intended behavior.

[2018-06-16 17:49] MoordMachineYT commented on #613
Can’t say I haven’t had such problem, I was on holidays making me unable to access my account with my bot. So I went on an alternate account and created a new béta bot to work with, and set the image to the image my other bot has. On the website it showed the image. The bot, however, still had the default image. At that moment I was on my iPad. This happened like 3 months ago.

[2018-06-16 18:31] eritbh commented on #613
A bit confused about what the issue here is, but I've messed around a bit and didn't see anything unusual. Dunno if this will be helpful or not but I've included my full repro attempt below.

<details>

<summary>Attempted repro steps</summary>

1. Create a blank new OAuth application from the dev apps page. No app icon is specified at creation.
2. Create a bot account under the new application.
3.

[2018-06-18 00:10] night commented on #613
The bot avatar and application icon only stay in sync so long as the image hashes are equal. If the hashes differ then a change to an OAuth2 application icon will not update the bot's avatar. Since the avatar for the bot was updated outside of the OAuth2 application page, they no longer sync.

[2018-06-18 00:10] #613 closed, assigned to nobody

[2018-06-18 12:52] chriskolenko commented on #521
Found this link here:

https://www.reddit.com/r/discordapp/comments/82p8i6/a_basic_tutorial_on_how_to_get_the_most_out_of/

I can't figure out how to get the footer or fields working with any type of meta tags. Any ideas?

[2018-06-19 11:41] brakhane opened #615 "Bug: list of DM channels is always empty"
This is at least true for bot accounts.

Both the `private_channels` field in the Ready GW event as well as `users/@me/channels` always return an empty list.

This is either a bug in the documentation (in case it was intentionally removed), or a bug in the API.

I really hope it's an API bug that will get fixed, as it's difficult to work around.

[2018-06-19 11:46] PixeLInc commented on #615
It's intentional and has been like this for like 2 years now.

https://github.com/discordapp/discord-api-docs/issues/184

[2018-06-19 11:50] brakhane commented on #615
Thanks for the links. So at least the docs need to be updated.

**However**, #184 is an incomplete fix. The problem my bot has is that it receives a MESSAGE_UPDATE event without knowing about that channel. So #184 should at least also trigger a CHANNEL_CREATE for updates

[2018-06-19 11:55] PixeLInc commented on #615
Yup, welp that's Discord for ya.
idk if they'll fix it, or if it's intentional, or anything but :man_shrugging:

You'll just have to work around it for now

[2018-06-19 12:01] ghost commented on #615
There will never be a channel create for update or delete. Only for message create. As mentioned in the linked issue.

[2018-06-19 20:00] msciotti commented on #615
Will fix in docs—apologies for inconsistency.

[2018-06-19 20:13] #615 closed, assigned to nobody

[2018-06-19 22:59] brakhane commented on #615
@msciotti Could you also add the information to the Ready event in gateway section, as this event also contains a `private_channels` entry that's always empty?

[2018-06-19 23:00] msciotti commented on #615
It's there as well, is it not? Am I going crazy!?

[2018-06-20 03:11] ghost commented on #615
It is already there, in the field description (`empty array`).

[2018-06-20 12:22] brakhane commented on #615
@msciotti My apologies. I completely missed the diff for gateway

[2018-06-20 13:47] HeapUnderfl0w opened #616 "Additional event when going from Invisible to Offline"
When a user goes invisible, the Offline event is received as expected (from each guild).
Does that user then go offline by closing their client, another Offline event is received.

![bug](https://user-images.githubusercontent.com/28512568/41661896-042281d6-74a0-11e8-92f5-e42addc6a06d.png)
In the image:
1st Box: I have changed my status to Online
2nd Box: Changed my status to Invisible
3rd Box: Clo

[2018-06-20 17:09] msciotti commented on #615
Hah, no problem! Just wanted to make sure my brain wasn't _entirely_ fried quite yet.

[2018-06-21 16:26] cookkkie opened #617 "OAuth2: Show currently logged in user in auth flow to prevent use of wrong account"
On [MEE6's website](https://mee6.xyz), we receive a lot of complaints (at least 5 a day) about people saying that they are connected to the wrong account.

When they try to login via Discord OAuth on our website, it doesn't use their Desktop app account but it uses the account they are logged in to in their browser. The issue is that they don't even realize that they had a Discord account there. A

[2018-06-21 16:59] msciotti commented on #617
Yeah, we do deep link back to our native apps as much as we can. It's great in certain situations, like getting you back to the app after authorizing with something, but can be confusing in situations like this.

I think the solution is to add your currently logged in account somewhere on the authorize page, so you know that you're properly logged in, as you suggested. The bandwidth around getting

[2018-06-29 20:42] kevinbioj opened #618 "API: Bulk react endpoint"
Hey,

Currently, a lot of bots on Discord need to react with multiple emotes: either to make polls or (for example) a reactions-based menu. Right now, we have to react with each emote and this sends a lot of requests (sometimes it's kinda slow due to rate limiting).

My suggestion would be a "bulk react" endpoint, like bulk delete, to avoid API stress. Of course this would be limited, for example

[2018-06-30 00:28] Rapptz commented on #618
Last time this was brought up, it was [rejected](https://github.com/discordapp/discord-api-docs/issues/182#issuecomment-262388833) by the way.

[2018-06-30 11:37] #618 closed, assigned to nobody

[2018-07-01 21:50] atchisontopekasantafe commented on #448
But whats the code.

[2018-07-01 21:55] SomeoneCares11 commented on #448
@ShootingStar-Star i wish they send "invite object" with the [guildmemberadd event](https://discordapp.com/developers/docs/topics/gateway#guild-member-add).

[2018-07-01 21:56] HelpfulStranger999 commented on #448
I believe what this feature will provide once released @SomeoneCares11

[2018-07-01 21:57] HelpfulStranger999 commented on #448
And/or invite object on the guild member

[2018-07-03 00:30] MicahZoltu commented on #365
This ticket seems to imply that the voice documentation is out of date, along with the original issue of voice receiving being missing.  If I am looking to start a project that integrates with Discord's voice API, should I wait for the updated documentation or is this documentation "good enough"?

Also, on the topic of voice receiving, will the client receive UDP packets that look exactly like the

[2018-07-03 00:37] MicahZoltu commented on #365
On the same topic of receiving voice, how does one differentiate between the different voice streams?  In a channel with 2+ people talking at the same time, the client will receive two streams of voice packets at the same time from the same source with (it appears) no way to differentiate those streams.  Each stream does have a sequence, but it will appear as a single stream with broken sequence I

[2018-07-03 00:41] cookkkie commented on #365
@MicahZoltu In an RTP packet header you should find the SSRC corresponding to that packet. The SSRC is basically just a number that identifies the stream the packet belongs to. Additionally, thanks to the websocket connection, you can build a map of `user_id->ssrc`: Discord sends you that information through the websocket connection.

To respond to:
[code]

Basically, the UDP connection sends you

[2018-07-06 18:41] gregorypease280 opened #619 "Invite link breaks if a user has to register a new account"
Steps to reproduce:
1. Create an invite link to your server/channel
2. log out of any of our discord accounts
2. open up discord invite link, Register a discord account (instead of logging in)
3. You won't be directed to the channel you intended to join. : C

This may be the wrong place for this? but I figure I'm not going to get any dev support from twitter.

[2018-07-06 18:55] Taarek commented on #619
Bug reports related to the app should go to https://discord.gg/discord-testers but I am not convinced this is a bug.

[2018-07-06 20:42] gregorypease280 commented on #619
@Tarek1337  thanks! will post there

[2018-07-06 20:47] macdja38 commented on #619
This really is not a bad place for this... there's already 2 other similar issues on this repo.

[2018-07-06 21:02] ghost commented on #619
It's not an API bug, so it doesn't belong here.

[2018-07-06 21:07] macdja38 commented on #619
It's pretty similar to https://github.com/discordapp/discord-api-docs/issues/264, https://github.com/discordapp/discord-api-docs/issues/450, and https://github.com/discordapp/discord-api-docs/issues/617.

[2018-07-06 21:10] ghost commented on #619
These issues are related to the OAuth 2.0 API. This issue here however has nothing to do with OAuth 2.0 or the API itself.

[2018-07-06 21:20] jhgg commented on #619
This is definitely a client bug, and not a bug with the API. @Tarek1337's original comment stands. This isn't the place to report it. When a bug is opened though through trello, we should post it back here.

[2018-07-06 21:20] #619 closed, assigned to nobody

[2018-07-08 18:56] Tropony commented on #271
@PotcFdk, there's probably an unknown amount of deployed code that assumes it can work around the behavior by unconditionally adding 2^32; all that might break if it suddenly started returning "correct" IDs.

[2018-07-14 22:31] Tylertron1998 opened #621 "API Feature Request: User ID with Message Delete event."
One of my biggest annoyances currently is that the user that deleted a message does not come with the message delete payload.

Now, I know, there are audit logs, but using them is somewhat annoying, and for some reason, if you delete your own message, it doesn't show up. A simple snowflake with the event of who deleted it would suffice.

[2018-07-15 22:25] aetheryx opened #622 "kicking/banning without Bot 2FA gives `Privilege is too low...` instead of proper error"
When attempting to kick or ban a member without meeting the 2FA requirements (if said server has 2FA requirements), the thrown error is `Privilege is too low...`. This is inconsistent with (example) deleting a message, which gives the proper `60003 Two factor authentication is required for this operation`.

![image](https://user-images.githubusercontent.com/25572140/42738984-aa00af2c-888e-11e8-806

[2018-07-15 22:57] jhgg commented on #622
When we compute this internally. It’s treated as if you don’t have permission, as you literally don’t, because in order to unlock those permissions on a server with the 2fa requirement, the bot owner must have 2fa enabled.

Will look into why the delete endpoint is inconsistent. Perhaps we have this logic duplicated in a slightly deviated fashion.

[2018-07-17 06:37] ghost commented on #621
Well, that's because Audit Log is for **moderation actions** and deleting your own message is **not** a moderation action.

What would have improvement potential would be deletions by bots, these should be logged too.

[2018-07-17 23:13] aetheryx opened #623 "Sending an embed where one of the fields is completely empty gives HTTP 500"
Sending an embed where one of the fields is missing **either** a `name` or `value` key gives the proper `50035` error code. However, sending an embed where one of the fields is missing **both** the `name` and `value` keys gives a `500 Internal Server Error`.

![image](https://user-images.githubusercontent.com/25572140/42850403-bcba4c0a-8a27-11e8-92fd-b01dc23612e3.png)

[2018-07-17 23:41] night commented on #621
This would leak the user id of the action performer to everyone, which could result with users being witch hunted for performing a moderation task. The audit log is the correct surface for exposing moderation actions.

[2018-07-18 01:27] Tylertron1998 commented on #621
Now, I'd actually say you could put deleting your own message under moderation. Say I had a rule of "no saying the word owo" in my guild, and someone said it, and then deleted there own message, was reported, I could check the audit logs and see "oh, user X deleted there own message around that time".

Deletion by bots isn't logged in the audit logs?

But this is besides the point. I think that th

[2018-07-18 02:18] alexasterisk opened #624 "JS "send" is Undefined?"
Here's the code I'm talking about. It continues to "Cannot read property 'send' of undefined"
![image](https://user-images.githubusercontent.com/31458482/42855611-4c1b8fd0-8a0f-11e8-803f-5c342005b4ce.png)
and
![image](https://user-images.githubusercontent.com/31458482/42855626-5da1b9e6-8a0f-11e8-8570-caac35127ebd.png)

[2018-07-18 02:20] jhgg commented on #624
This issue tracker is for issues with documentation and the raw API only.

[2018-07-18 02:20] #624 closed, assigned to nobody

[2018-07-18 05:31] z64 opened #625 "Inconsistent pagination behavior on /users/@me/guilds"
In this test, I expected the last page to return guild `120571422228742146`, instead of dapi:
[code]
This is inconsistent with other paginated endpoints, such as channel messages. I recognize dapi is still technically "before" that guild, but is it intended for clients to make one `before` request and follow up with `after` requests to fill "the gap" for this endpoint? A paginator implementation i

[2018-07-18 14:57] LikeLakers2 commented on #621
While it'd be nice to know who deleted what message, I don't think the ID should be sent to everyone. Maybe if possible, the event should have the deleter's ID, but only within payloads sent to users/bots with VIEW_AUDIT_LOGS permission in that guild?

[2018-07-18 19:29] Tylertron1998 commented on #621
I agree with the above. It should be only available to the bot API for moderation bots, and for those with the audit-logs permission.

[2018-07-18 23:31] night commented on #625
im not sure I follow. it seems to paginate fine according to my testing. the results are ascending, so

81384788765712384 = first, oldest
169518155008442369 = last, newest

`before` and `after` allow you to navigate pages based on the first or last result on the page. for example, `after=169518155008442369&limit=3` would return the next page, `before=81384788765712384&limit=3` would return the pre

[2018-07-18 23:34] night commented on #622
I pushed out a fix for this. Thanks for reporting.

[2018-07-18 23:34] #622 closed, assigned to nobody

[2018-07-18 23:34] night commented on #623
I pushed out a fix for this. Thanks for reporting.

[2018-07-18 23:34] #623 closed, assigned to nobody

[2018-07-18 23:35] z64 commented on #625
My second query is `before=169518155008442369&limit=1`, not `3`. Should it not return the *first* guild *before* `169518155008442369`, which is `120571422228742146`?

[2018-07-18 23:45] night commented on #625
yeah, I can see how that might occur. we store user/bot guilds across multiple shards, so limit is applied to each query .. and we trim based on limit afterwards. limit isn't properly being handled in this case. cool bug

[2018-07-19 22:16] msciotti commented on #477
Our brand-spankin' new developer portal now has responsive documentation (and the whole portal!) on mobile.

https://discordapp.com/developers/docs/intro

Enjoy :D

[2018-07-19 22:16] #477 closed, assigned to nobody

[2018-07-19 22:39] Lachee commented on #477
Live the responsive doc, however it doesn't scroll on ios

[2018-07-19 23:37] LoganDark commented on #477
Clicking on HTTP request variables ends up with a 404. Click here:
![image](https://user-images.githubusercontent.com/4723091/42975638-088aedec-8b72-11e8-9719-8b8e65372743.png)
to end up here:
![image](https://user-images.githubusercontent.com/4723091/42975644-12a88a46-8b72-11e8-85d7-0b95675979dc.png)
missing the /developers in the URL
![image](https://user-images.githubusercontent.com/4723091/429

[2018-07-21 12:40] nicholasjpanella opened #626 "Detect Language"
Is there a way to tell which language a User has selected in their settings of the Discordapp?

[2018-07-21 12:41] ghost commented on #626
Related issue #535

[2018-07-21 14:48] chteau opened #627 "Get guild icon using json api"
Hey, I just wanna use the Discord API (json) to showing my guild icon on my website, is this possible ?

[2018-07-21 14:56] z64 commented on #627
The guild icon is available as a CDN endpoint, derived from the guild's ID:

`https://cdn.discordapp.com/icons/guild_id/guild_icon.png`

https://discordapp.com/developers/docs/reference#image-formatting-cdn-endpoints

[2018-07-21 15:05] ghost commented on #627
Guild's ID and icon hash.

[code]
https://discordapp.com/developers/docs/resources/guild#guild-object

[2018-07-21 15:46] karimoldacc opened #628 "Why is this unauthorised"
Hey,

I have been trying to solve this for a couple of hours now but I can't seem to find out what's causing it, I've double checked scopes, tokens, and everything in my code and it doesn't seem to work still.

I am certain that my access token is valid and the request should be too. I have a bot with ``bot guilds.join`` scope which is from an application that's created by the user id in the reque

[2018-07-21 15:48] AntiTcb commented on #628
That endpoint is accessed with the Bot token, and you include the Bearer in the `access_token` JSON params. <https://discordapp.com/developers/docs/resources/guild#add-guild-member-json-params>

[2018-07-21 15:59] monitz87 opened #629 "Developer portal feature: collaborators for apps"
It would be beneficial for developer teams if an app could have multiple collaborators. Right now dev teams depend on a single account to access app tokens, modify settings, etc.

[2018-07-21 16:03] karimoldacc commented on #628
Okay so I have replaced the access token with the bot token and replaced the type from Bearer to Bot, however it now does respond with a new error code that I couldn't find in the dev portal.

Log:
[code]
Request:
[code]

Response:
[code]

[2018-07-21 16:50] CarsonHoffman commented on #628
Is the bot you're using to perform the request attached to the *same* application which you used to obtain the bearer token for the user? That's a requirement for this endpoint.

[2018-07-21 16:52] karimoldacc commented on #628
Correct I can confirm the bot is from the same application that's used to generate the token. I checked multiple times and I also tried creating a new application and updating the id, secret and bot token but the result is the same.

[2018-07-21 16:54] ghost commented on #628
If you try the request in Postman, do you get the same result?

[2018-07-21 16:58] karimoldacc commented on #628
I have only tried the requests via ``superagent`` which is a js library, I'll however test with Postman and let you know the results.

[2018-07-21 17:20] karimoldacc commented on #628
The result is pretty much the same, regardless of how I obtain the token (either by my script and then using it in the request or doing everything through Postman), still the response is:

[code]

[2018-07-22 01:26] #627 closed, assigned to nobody

[2018-07-22 01:30] night commented on #629
Not sure I understand the downvotes, but this is probably coming soon™ as part of our dev site overhaul.

[2018-07-22 01:32] night commented on #626
If you check out the related issue CharlotteDunois posted, it is indeed available via our API.

[2018-07-22 01:32] #626 closed, assigned to nobody

[2018-07-22 01:38] night commented on #628
Code `50025` is returned when the token is expired, when the token does not belong to the user id in the path, or when it doesn't belong to the bot's application.

So in other words,

- make sure the token is not expired (you can query against `/api/oauth2/@me` with the bearer token to find out if it's valid)
- make sure the client id used for authorization matches the bot's client id (i.e. they m

[2018-07-22 01:50] SinisterRectus commented on #629
Taking the suggestion at face value, my downvote is mostly due to the liability increase incurred by having multiple users share access to an application. I don't know how it would be implemented, though. Would there be a token per user? If there remains one token, then the ToS would have to be changed. Either way, cynical me sees more chances for a token leak or for the app to be used maliciously

[2018-07-22 02:58] monitz87 commented on #629
How is this different from github collaborations? It is a fundamental part of working with a team as far as I'm concerned

[2018-07-22 03:14] SinisterRectus commented on #629
I'm not against collaborative work. Just concerned about how equal authority and responsibility might be handled, and I felt I owed an explanation about it.

[2018-07-22 04:49] karimoldacc commented on #628
The token is not expired, this works:

![image](http://i66.tinypic.com/14njl1f.png)

However this doesn't:

![image](https://user-images.githubusercontent.com/36323832/43042309-7c2365c2-8d7a-11e8-9df6-5acbd67623ef.png)

The body for this request:

[code]

The bot token is from the same application that's used to generate the bearer token and it's owned by the user id that's used in the guild add r

[2018-07-22 05:24] karimoldacc commented on #628
I have resolved it by using the authorize URL to generate the token (and add the bot) by the same user that owns the application. I was using my main account to add the bot instead of my alternative test account.

Thank you guys very much!

[2018-07-22 05:24] #628 closed, assigned to nobody

[2018-07-22 10:28] queer opened #630 "Developer portal feature: Require 2fa for deleting applications on accounts with 2fa enabled."
2fa is already required for deleting guilds, so it seems logical to require for deleting applications too. Right now deleting applications only requires confirming the application name, even with 2fa enabled, which feels like an oversight.

[2018-07-22 11:20] devoxin commented on #629
Most collaborations these days involve sharing the token to other (trusted) developers. I work on multiple large bots and the tokens for the main/experimental bots are shared with the other devs. I'd imagine if it was a single token shared between multiple collaborators then the same risks would be involved anyway.

It goes without saying that you should only share the token with developers who yo

[2018-07-22 12:46] monitz87 commented on #629
@Devoxin agreed. Furthermore, maybe it could be implemented in a way that the app administrator could revoke tokens and re generate them in case something goes wrong with other team members.

[2018-07-22 15:24] mortebrume opened #631 "Bug : Bot profile picture pixelated / low def"
When configuring my bot in the new dev hub, I set the application icon with no problems. But when I tried to set the profile picture icon, I saw that it was completely pixelated, with a terrible definition (it's the same picture that the app icon).

And on discord, in the guilds where my bot is, the profile picture is clearly in a sort of bad/low def.

I tried using other images, doing it on my Ch

[2018-07-22 15:32] Taarek commented on #631
Sounds similar to https://trello.com/c/l4qP8Zev/

[2018-07-22 17:00] cryptiklemur opened #632 "API Feature Request: Allow passing channel to "Add Guild Member""
Use Case: DiscordServers.com uses the Add Guild Member endpoint to add users to the server they want to join. Server owners would really appreciate the ability to specify what channel people see when they join the server, without updating the order of channels.

Edit:

Another acceptable solution would be an RPC url to redirect any open client to the given channel, assuming the user is in the serv

[2018-07-22 18:25] mortebrume commented on #631
I don't think so, since even if I'm using a picture with no transparency and a different resolution, it appears in low quality.

[2018-07-22 21:19] Taarek commented on #631
If you check other comments in the ticket they mention transparency is not needed to reproduce. I'll update the ticket regarding that whenever I get close to a computer.

edit, done

[2018-07-23 06:10] LikeLakers2 commented on #632
Just so my :confused: reaction doesn't go unexplained... why not use instant invites at that point, at least for this use case? While I don't think being able to pass a channel to Add Guild Member will be a bad idea (it's a good idea, at least in theory), I just don't understand why you can't use invites for that use case.

[2018-07-23 06:12] z64 commented on #632
Because Add Guild Member itself has an entirely different use case.

It allows you to very finely control who you let into a Discord server and when, because with the added OAuth2 step involved you can inspect the discord users account before adding them, possibly cross-referencing them with a 3rd party site (i.e. forum membership or subscriptions)

Instant invites are entirely public links (vs se

[2018-07-23 06:17] LikeLakers2 commented on #632
Okay... and why not just use a bot on that guild for that purpose? Also, we're talking about a website that advertises discord guilds. I don't see why it would absolutely need an app authorized for any reason other than as a sign-up method. What cross-referencing is that sort of website going to do that a bot on a guild couldn't already do?

[2018-07-23 06:22] z64 commented on #632
I'm confused by what you mean; Add Guild Member requires `Bot` authorization, and for the bot to already be present in that guild.

Consider, that I have a private Discord server for my Twitch followers. This allows you to securely add followers to your Discord servers:

1. You give the user an OAuth2 link with `scope=identiy+connections+guilds.join`
2. You query that user to get their Discord ID

[2018-07-23 06:23] cryptiklemur commented on #632
Invites are not reliable, from a server-list perspective.

If you allow users to specify their own invite link you run into at least 2 main issues:

* Its difficult to ensure that links are permanent
* Also hard to tell when the link is expired / deleted.

If you move to a system where the bot *creates* invite links, you run into other issues.

* Do you only generate one?
* Do you generate one at

[2018-07-23 06:24] msciotti commented on #630
Yup, slipped through on the V1 pass. Will get this implemented (CC @jfurrow) thanks!

[2018-07-24 16:16] mortebrume commented on #631
Seems fixed, I just checked on the trello and verified by myself.

Thanks.

[2018-07-24 16:16] #631 closed, assigned to nobody

[2018-07-24 17:27] msciotti commented on #631
Oh woops yeah I fixed this and forgot to post here. Thanks for closing!

[2018-07-25 19:47] kero3009destiny opened #634 "There is no channel name rate limit"
There is no channel name rate limit. http://cdn.imemir.cf/f/2018-07-25_22-35-58.mp4

[2018-07-25 21:59] XkijuX opened #635 "Random remove role."
Ok so i have tried to fix this for over a month now. I happens to about 1/50 users - 1/100 users, RANDOM and i have never managed to recreate the problem. I have spoken to a lot of devs and we are pretty sure its not my code. My code is just a member.add(role) thing nothing more.

https://hastebin.com/jujulodoxu.json RAW audit log (requested from a api dev) line 215 following
https://gyazo.com/b9e

[2018-07-25 22:36] b1naryth1ef commented on #635
@XkijuX the Discord API server is community ran and operated, you would need to reach out to the moderation staff to have your ban appealed.

With regards to your issue, I would wager based on the logs you provided and our internal API logs that the following is happening:

1. Your make a request to `PATCH /guilds/<guild_id>/members/<user_id>` adding a role to the user
2. You make a request to `PA

[2018-07-25 22:43] SinisterRectus commented on #635
I've unbanned you from the API guild. If you still have an issue with the API after this conversation, just post your question(s) there and someone will respond when and if they can. No need to mention many users at once.

[2018-07-26 20:13] b1naryth1ef commented on #635
Going to close this for now, if my earlier comment was wrong feel free to open with more information.

[2018-07-26 20:13] #635 closed, assigned to b1naryth1ef

[2018-07-27 17:50] Skillz4Killz opened #636 "Embeds 2.0"
Inspired by: https://feedback.discordapp.com/forums/326712-discord-dream-land/suggestions/32353498-discord-embeds-2-0

Embeds have become one of the most essential tool to bot developers everywhere. In my experience, they have a huge potential to be improved.

- The first problem that comes to mind is that it is really hard make it nice and responsive across devices. Although they have built in to

[2018-07-27 18:54] LikeLakers2 commented on #636
I'd be up for a few of these myself. Though with that said, I feel the need to critique these ideas, as a 👍 or a 👎 to the comment don't really do my thoughts justice.

**Responsiveness.** Neutral. I don't really have any comments here.

**Buttons in embeds.** Neutral. Despite what the devs have said in the past, after a while I got the impression that they might have gone back on this for one reas

[2018-07-27 19:48] yourWaifu commented on #636
I think the button idea can expanded on. I'm not sure how the layout will exactly look. The bot developer might want to place buttons where he wants. The dev might want at the top or at the bottom or next to some text.

Honestly, I think that they should be a list of responses at the bottom of embed. Kind of like the list of replys on gmail, but instead of sending an email it sends a signal to a b

[2018-07-27 20:30] Skillz4Killz commented on #636
@LikeLakers2 **Buttons**:  As amazing as using reactions can be, it is a workaround for achieving the functionality of buttons. For example, reactions come with rate limit issues. Buttons would be a part of the embed so some "troll" can't delete a reaction and break the entire functionality for users. People can't add new reactions and then when users tap these they get confused why nothing happen

[2018-07-27 21:18] LikeLakers2 commented on #636
@Skillz4Killz

**Buttons:** Don't get me wrong, buttons sound like a fine idea in theory. What I was getting at was that I'm not sure what the position of the Discord Devs on buttons vs reactions currently is, since you yourself brought up their response from long ago.

**Videos:** I misunderstood you on this, then. I thought you were talking about embedding uploaded MP4s, not embedding something

[2018-07-27 21:21] b1naryth1ef commented on #636
While we generally allow minor feature requests on this tracker, I think in this case since there isn't a specific ask but rather a large variety of ideas we'd prefer if this discussion remained on our feedback page. Thanks!

[2018-07-27 21:21] #636 closed, assigned to nobody

[2018-07-30 07:10] LikeLakers2 commented on #632
Just so I don't seem like I'm ignoring what's been said in response, @aequasi I think I understand what you're getting at now. Please excuse me for my misunderstanding in my original comments. I was making a wrong assumption about how Add Guild Member worked!

[2018-07-30 12:19] aetheryx opened #637 "Incorrect error on POST /users/@me/channels with invalid recipient_id: "Bots cannot use this endpoint""
Making a POST request to `/users/@me/channels/` with an invalid recipient_id throws a `20001: Bots cannot use this endpoint`. I don't think this is intentional.

![image](https://user-images.githubusercontent.com/25572140/43396846-387de7d6-9403-11e8-9db1-79b835d61ea4.png)

[2018-07-31 07:30] b1naryth1ef commented on #637
This has been fixed and will be released alongside our next deploy. Thanks for the report!

[2018-07-31 07:30] #637 closed, assigned to b1naryth1ef

[2018-08-01 11:49] wasdennnoch commented on #616
Currently there is also an event being fired every time something happens that would normally change your activity data (for example, launching a game or using a program which supports Rich Presence) even when you are set to invisible. In case of Rich Presence there could be a presenceUpdate event being fired up to every 12 seconds (5 times per minute) even though you're supposedly offline to othe

[2018-08-03 21:25] devoxin opened #639 "Missing documentation for getting single guild ban"
The route `/guilds/{guild.id}/bans/{user.id}` is missing documentation. There are methods shown to retrieve all bans, create a ban and remove a ban but retrieving a single ban is lacking appropriate documentation. ([Relevant](https://discordapp.com/developers/docs/resources/guild))

[2018-08-04 08:30] almostSouji opened #640 "Implicit overwrites can result in unexpected final permissions"
### Description:

Bots can set explicit overwrites for permissions that do not affect the actual effective permissions, do however lead to unexpected result when computing final permissions

### Example:
Set an explicit overwrite for 8 on a channel.
This overwrite is invalid and does nothing in practice, but is accepted and set by the API.
The user does not get any benefit from it.

When computing

[2018-08-04 08:42] almostSouji opened #641 "VIEW_CHANNEL does not implicitly deny MANAGE_ROLES"
Logical use would dictate that not having access to a channel should mean that you don't have any means of interacting with the respective channel and there should be no way for you to change this.

As it stands bots can however set overwrites in channels they don't have VIEW_CHANNEL for, allowing malicious behavior by forcing access to channels they should be locked out from.

If I understand the

[2018-08-04 08:46] shikhir-arora commented on #641
This seems like a duplicate of https://github.com/discordapp/discord-api-docs/issues/487#issuecomment-359213017 🙃

[2018-08-04 10:25] almostSouji commented on #641
I thought the question for implicit grant to be different enough from the explicit deny and thus must've missed nights comment, as well as kantenkugel's recap, which covers it all.
Thanks for pointing it out, will watch that thread closely 👍

[2018-08-04 10:25] #641 closed, assigned to nobody

[2018-08-04 11:07] almostSouji commented on #487
While the use case kantenkugel describes is perfectly reasonable and in fact an amazing feature i feel like i should point a slight irregularity in logical use out that i have not seen mentioned before.

If you explicitly deny VIEW_CHANNEL for a bot you generally don't want it to interfere with this channel at all. The affected target is however able to set overwrites to the channel although "view

[2018-08-05 02:23] SimplyLinn opened #643 "API endpoint to rotate client secrets & bot tokens"
While, in theory, a client secret should be kept very very very secret, sometimes leaks happen. If you have a bot instance running, and that bot instance starts noticing that it's own account is doing things that it hasn't initiated, a last ditch, save-the-servers-the-bots-is-part-of from destruction resort would be to simply invalidate the secret and log off all connected clients to that account,

[2018-08-05 02:24] SimplyLinn opened #644 "Detect other connected clients to current bot account"
If there are multiple active connections to your bot, you should be able to detect those, and preferably get the IP of each connection. This would help detecting malicious people somehow gaining access to you client secret.

Preferably, a websocket event would be emitted when a new client connects to the same account the bot is using, with relevant data for the bot to determine if this is just a d

[2018-08-05 09:16] MinnDevelopment commented on #644
There are currently plans to enable an IP whitelist that can be set on your application dashboard. This should prevent most unwanted access from remote locations. However, this might still be useful.