[2016-03-28 23:19] Almighty-Alpaca opened #3 "First issue"
The link behind the HERE on mainpage doesn't exists.

[2016-03-28 23:23] b1naryth1ef commented on #3
This is a WIP repo, not live yet.

[2016-03-28 23:23] #3 closed

[2016-04-08 23:02] b1naryth1ef commented on #3
@uniquoooo rebase plz

[2016-04-08 23:02] davidcole1340 commented on #3
@b1naryth1ef done fam

[2016-04-10 19:47] jhgg opened #13 "[ReadState] Deprecation for Bots"
We're disabling read states entirely for bots. This shouldn't break any APIs (yet - read on for more).
## Planned:
- [X] The read state array in the READY packet will return an empty array for bots
- [X] The message_ack endpoint will return 401 if you are trying to ack a message on a bot account.
- [X] Sending messages will no longer implicitly self ack the channel the message was sent in.
## Brea

[2016-04-10 19:58] vishnevskiy commented on #13
I think they should just not receive the array at all in the next version bump

[2016-04-10 23:56] khionu opened #14 "API User outline does not include Bot Account differences"
In particular, I would point out [Modify Current User](https://discordapp.com/developers/docs/resources/user#modify-current-user).

[2016-04-11 10:30] davidcole1340 opened #15 "Voice Data Packet is incorrect"
See: https://discordapp.com/developers/docs/topics/voice-connections#voice-data-packet

`The voice packet is a 70 byte payload that begins with a 4 byte big-endian packed unsigned integer, which represents the clients 'ssrc'. The rest of the bytes in the payload are Opus audio data.`

This is incorrect, it should have the same fields as the nonce fields at the bottom of the page AFAIK.

I'll PR it

[2016-04-11 18:04] b1naryth1ef commented on #15
Fixed by #16

[2016-04-11 18:04] #15 closed, assigned to nobody

[2016-04-11 18:46] jhgg opened #17 "[Gateway] Guild Sharding"
Guild sharding is coming soon, after we test & deploy it internally.

You'll soon be able to specify a `shard` in the ready packet. This will cause the gateway to operate in **shard mode**, which will distribute guilds between each shard. The shard key is a tuple of `{shard_id, num_shards}`, where shard_id is a number starting at `0` and less than `num_shards`. `num_shards` must be a number greate

[2016-04-11 22:56] #14 closed, assigned to nobody

[2016-04-11 23:01] khionu commented on #14
\o/

[2016-04-12 08:19] jhgg opened #18 "[Gateway] V5 - OP_HELLO"
Only two changes here:

1) When connecting to a gateway, it will immediately send an `OP_HELLO` (opcode = 10), with the following payload:

[code]

The client should start heartbeating right away, to keep the connection alive while the session is started.

2) The `heartbeat_interval` field has been removed from the READY/RESUME packet, as it's now in the initial OP_HELLO packet.
## Todo:
- [x] dep

[2016-04-12 19:47] jhgg opened #20 "[API] Bot message rate limit"
Although documented, this hasn't been launched yet. This issue is to track the launch of this.

Bot Rate Limits are as follows:
1. A global 50/10 rate limit (meaning, this is the maximum # of messages a bot can send currently across all of discord).
2. A 5/5 per server rate limit.
3. A 5/5 global DM rate limit.

The rate limit applies to message creation and editing.

If your bot is big enough and

[2016-04-13 07:44] gu3st opened #21 "Missing Info: API URL"
It's random, but there's nowhere in the docs that mention the API URL.

[2016-04-13 07:59] abalabahaha commented on #21
Github reactions is not enough to express my XD

[2016-04-13 08:08] #21 closed, assigned to nobody

[2016-04-20 04:57] jhgg commented on #20
This has been released.

[2016-04-20 04:57] #20 closed, assigned to nobody

[2016-04-20 13:51] metagn commented on #20
Yeah

[2016-04-21 00:19] cryptiklemur commented on #17
Should mention that the tuple needs to be a tuple of integers

[2016-04-22 05:59] jhgg opened #24 "[Gateway] Large Bot Session Resuming"
Previously resuming was only supported for users in less than 100 guilds. We are going to bump that limit up to bots in up to 2500 guilds per connection. The limit will be that the gateway will be able to replay up to 2500 messages (the calculation is `max(100, min(3500, num_guilds * 75))`) messages, meaning that if your bot disconnects you will now be able to resume if you do it rather quickly. L

[2016-04-22 06:01] jhgg opened #25 "[Gateway] Heartbeat ACK"
The gateway will soon reply with a `HEARTBEAT_ACK` dispatch. You can use this coupled with regular heartbeats to check if the connection is still alive - and to attempt a reconnect/resume if the gateway doesn't respond in a timely manner.

It will be a message with, `{"op": 11}` in the websocket. It does not have a seq.
# Todo
- [x] Deploy
- [x] Document

[2016-04-22 21:39] iopred commented on #13
We hadn't planned on removing this from our API as we have a number of clients built on discordgo. Seems reasonable to add some documentation though.

[2016-04-22 21:56] jhgg commented on #13
@iopred that's fine - you don't have to remove it from your lib, just need to make sure it doesn't blow up if it's not present for bot users.

[2016-04-22 22:05] bwmarrin commented on #13
It won't blow up @jhgg.

[2016-04-22 22:52] suicvne commented on #13
DiscordSharp never touched read_state

[2016-04-24 19:37] jhgg opened #26 "[Accounts] Removal of Convert Legacy Bot Accounts"
## **7 Days Left to Convert Your Bot**

May 1st is coming up, and legacy bot conversions will be removed [0](https://github.com/hammerandchisel/discord-api-docs/issues/26). Make sure that you have converted your legacy bot account to an official bot account. An official bot account is tied to an application created through the "My Applications" page [1](https://discordapp.com/developers/applicatio

[2016-04-24 19:53] jhgg commented on #13
I've confirmed that all libs should function with this removed. Will make that change on May 1st.

[2016-04-25 00:13] tekulvw opened #27 "Obtaining client ID using bot token"
I contribute to an open source bot project designed for discord users to run their own (small) customized bot on their personal servers. With the introduction of bot accounts we've had a lot of users come to the support server asking how to get their bot to join a server. We'd like to be able to automatically get the client ID using the auth token so this initial set up process and first server jo

[2016-04-25 00:18] KronKraken-zz opened #28 "Missing Information about Modifying Channels"
Apparently, modifying a channel, as followed by https://discordapp.com/developers/docs/resources/channel#modify-channel, apparently requires the NAME field to be defined or else you get a 400 BAD REQUEST. It should either be chaneged or stated on the page that the NAME field is REQUIRED.

[2016-04-25 00:24] b1naryth1ef commented on #28
Everywhere we don't specify fields are optional, they are required. See for example https://discordapp.com/developers/docs/resources/channel#upload-file.

[2016-04-25 00:25] b1naryth1ef commented on #27
I believe we're planning on adding something to the manage applications page that allows generate a URL

[2016-04-25 00:32] KronKraken-zz commented on #28
Thing is, only the name field is optional...

[2016-04-25 00:33] KronKraken-zz commented on #28
You can use him alone, but for changing the topic for an example, you need the topic AND the name field, but nothing else, so that's a bit weird is what i'm saying.

[2016-04-25 00:43] tekulvw commented on #27
Yeah, Jake told me about that, but this is so that a bot would have the capability to generate an oauth link itself (without permissions of course)

[2016-04-25 00:49] jhgg commented on #28
That is a bit weird. We're working on cleaning up the validation logic for these kinds of things.

[2016-04-25 00:50] KronKraken-zz commented on #28
:+1:

[2016-04-25 06:48] jhgg commented on #27
Will be available soon at:

`https://discordapp.com/api/oauth2/applications/@me` when using the bot token, will return the bot's app id, name, icon and description in the following format:

[code]

Will close this issue when it's deployed & documented.

[2016-04-25 10:52] Kowlin commented on #27
~~Just wondering, in your example given there isn't a client ID. Have you guys decided against that?~~

[2016-04-25 12:32] meew0 commented on #27
There is...? The `id` property would be the client ID.

[2016-04-25 14:25] Kowlin commented on #27
Ah my mistake, I thought the Client ID was smaller

[2016-04-25 21:28] jhgg opened #33 "[Gateway] Document WS Close Codes"
Document the different potential close codes - what they mean, and what should be done when you receive them.

| code | reason |
| --- | --- |
| 4000 | unknown error |
| 4001 | unknown opcode |
| 4002 | decode error |
| 4003 | not authenticated |
| 4004 | authentication failed |
| 4005 | already authenticated |
| 4006 | session not valid |
| 4007 | invalid seq |
| 4008 | rate limited |
| 4009 | se

[2016-04-26 09:32] jhgg commented on #27
This has been deployed. Leaving this open until the relevant docs are created. PRs welcome :D

[2016-04-26 14:28] gdude2002 opened #34 "Expand information on presence update event"
Here's what's [in the docs](https://discordapp.com/developers/docs/topics/gateway#presence-update) at the moment.

![](https://dl.dropboxusercontent.com/u/1547120/ShareX/2016/April/vivaldi_2016-04-26_15-26-18.png)

This seems pretty vague, I would appreciate there being some more info on this. For example:
- What exactly is a "User's presence"?
- What conditions cause this event to be fired?
- Why

[2016-04-26 15:43] gdude2002 opened #35 "Missing GUILD_MEMBER_CHUNK documentation"
Can't find it anywhere.

[2016-04-26 19:49] jhgg commented on #35
See here:https://discordapp.com/developers/docs/topics/gateway#gateway-request-guild-members

[2016-04-26 19:50] gdude2002 commented on #35
@jhgg That is completely unhelpful, it doesn't describe the GUILD_MEMBER_CHUNK event at all, or how it's structured. It doesn't even seem to be mentioned.

[2016-04-26 19:50] jhgg commented on #34
1) Presence is a pretty standard term in online chat apps. It refers to their status. (in the case of Discord, Online/Idle/Offline & their playing game)
2) When their presence is updated (and also whenever we feel like it) - the server may decide to send presences to the client to ensure it's in sync.
3) Presences and roles are per-guild, whereas the user object is global.
4) The user object can b

[2016-04-26 19:52] gdude2002 commented on #34
I'm still confused; are online/idle/offline and current game not global? Are you saying that this event may be fired when a user changes role?

[2016-04-26 19:54] jhgg commented on #34
No. They are not. Each guild manages user presence individually. A user can be online in one guild but offline in another. Although this isn't exposed currently to regular users, our infra supports this. One example would be a bot that's using gateway sharding and is only connected to one shard. They'd only be online in a fraction of their total guilds.

[2016-04-26 19:56] jhgg commented on #34
No. That will be fired as `GUILD_MEMBER_UPDATE` - the `roles` is just in there for the sake of ensuring that the client is in sync. Please see this section on eventual consistency https://discordapp.com/developers/docs/reference#consistency.

[2016-04-26 19:57] jhgg commented on #35
I'll re-open this.  You're right. We don't adequately explain the response.

[2016-04-26 20:00] gdude2002 commented on #34
Alright, fair enough, I can always use it for that as well.

Is this something that will likely happen in the actual client in the future? Handling this in my bot for the sake of completeness might be something to do, but is that something that should really be happening with well-behaved clients?

[2016-04-26 20:03] jhgg commented on #34
Yes it's on the road-map. Well-behaved clients may also be partially offline at times during a netsplit scenario. (The client would see an "unavailable guilds" message.) Additionally, your bot may have unavailable guilds from time to time too.  This shouldn't be too often, and usually only happens when we're experiencing internal issues such as a netsplit between our nodes caused by internal netwo

[2016-04-26 20:05] gdude2002 commented on #34
Yeah, I'm already handling unavailable guilds at the moment. My system is really not designed for users with multiple online/offline/away statuses though, that's going to take some lateral thinking... I'll figure something out.

By the by, does this mean I'll receive a presence update for every guild my bot is in if a user shares multiple guilds with it?

[2016-04-26 20:07] jhgg commented on #34
Ultimately, we may deliver the presence update event once, multiple times or not at all. For those purposes, if you want to fire an event when a presence updates, you should compare it to the previous presence update known by the bot, and only bubble up the event if something actually changes.

Yes. The way our client structures this data is to have global user objects - and guild member objects p

[2016-04-26 20:09] gdude2002 commented on #34
Hmm.. Okay, thanks, I think I can work with that. It might be worth adding some of this to the presence update part of the docs, though, so you don't keep getting people with these questions :P

[2016-04-26 20:12] jhgg commented on #34
Sure. PRs are always welcome. Documenting things is hard, and sometimes we don't explain everything 100%. I'll leave this issue open so we can clean up these sections when we get a chance.

[2016-04-28 08:10] deansheather opened #36 "Missing link for "Redirect URI(s)" learn more link on application review page"
The application review page (https://discordapp.com/developers/applications/me/:app_id) has a missing link in the Redirect URI(s) section that points to https://github.com/vishnevskiy/discord-oauth2-example, which is a 404.

[2016-04-28 09:12] jhgg opened #37 "Missing info from READY/RESUME"
There are a bit of fields missing from ready packet. Resume logic is not well documented. I think you're encountering these as you go along and build the D client, but, we should track em here to make sure we add them all appropriately.

[2016-04-28 09:12] jhgg commented on #36
It's fixed in an upcoming update to the docs page. We're blocked on releasing it on some other changes happening on that site.

[2016-04-29 01:14] b1naryth1ef commented on #37
RESUME and RESUMED aren't even documented right now. I'm going to break that out into a section inside the gateway file and properly document/explain the process.

[2016-04-29 02:07] bwmarrin commented on #37
That would be nice since you've been brow beating me for a week to implement RESUME....... .. . :)

[2016-04-29 18:29] deansheather commented on #36
Alright, sounds good.

[2016-04-30 05:55] #36 closed, assigned to jhgg

[2016-05-01 04:29] jhgg opened #40 "[API] Bulk delete endpoint"
Bots need a way to be able to bulk-delete messages - since the rate limit on the individual message delete limit endpoint breaks the use-case for being able to do swatches of moderation (delete history, purge channels, etc...)
# Todo List:
- [x] Bulk Message Delete Endpoint
- [x] Change DELETE to POST - because GCE load balancer doesn't like DELETE with entities.
- [x] Gateway V5 `MESSAGE_DELETE_B

[2016-05-01 07:32] vishnevskiy opened #41 "[API] New MANAGE_ROLES permission"
The old `MANAGE_ROLES` permission is being deprecated favor of a new one with the value of `1 << 28`. The new permission will no longer be a superpower and only let users manage roles with restrictions.
- User can grant roles to other users that are of a lower `position` than their highest role.
- User can edit roles of a lower `position` than their highest role, but they can only grant permission

[2016-05-01 07:53] cookkkie commented on #41
So, how to set a position for a role? Like for bots when in the authorize page?

[2016-05-01 08:16] vishnevskiy commented on #41
@cookkkie That is part of the point. Bots should start just above `@everyone` and be moved by the owner. You should either render on your site or respond in messages if the bot's role is too low. Maybe we will add this to OAuth2 page later so they can choose in advance, but there is no way for your bot to really know the position it wants since every server is different.

[2016-05-01 08:22] Rapptz commented on #41
What about roles that are there only for colour?

[2016-05-01 08:26] rekkih commented on #40
Mistakes.... ALL THE MISTAKES

I've made about 3 ratelimits now

[2016-05-01 09:19] khionu commented on #41
\o/ Long awaited, this is fantastic!! Thank you soooooo much!!!!

[2016-05-01 10:10] srhinos commented on #41
This will severely harm RH1-N0's ability to manage servers. Its already pulling teeth to have perms right on servers where the **role is already created for them**. Now I'll have to explain to servers that RH1 needs to sit at either the highest role or higher than all other moderator roles.

Most servers sort RH1 as the lowest as they display him on the sidebar so people know he's there and being

[2016-05-01 10:32] kantenkugel commented on #41
This also requires the owner to give new permissions like the nick permission to the admin-roles in order for them to be able to use them (as there is no more permission to grant all others).
Would it be possible to keep the Permission with the MANAGE_ROLES offset and rename it to something like: ALL_PERMISSIONS (keep functionality the same, and just add a new MANAGE_ROLES)?

[2016-05-01 10:37] kantenkugel commented on #41
Will the MANAGE_PERMISSIONS on the channel-level also be ported to new offset?

[2016-05-01 11:06] ducc commented on #41
As @kantenkugel said above, something like ALL_PERMISSIONS would be ideal for bots that need to moderate.

[2016-05-01 11:29] DV8FromTheWorld commented on #41
I agree. ALL_PERMISSIONS would be better.

[2016-05-01 14:23] Auralytical commented on #41
I don't understand why we need ALL_PERMISSIONS at all? It's a bitfield... you can just set every bit. Why is there a need for any alternative?

[2016-05-01 14:49] kantenkugel commented on #41
@RogueException because theres multiple scenarios (like co-owner) where its easier to give all perms with one flag than to manually add all permissions (including the work needed to add future permissions). It also makes some Manage-stuff easier (for bots that you actually want to grant all perms (regarding of his role-position)

[2016-05-01 15:10] khazhyk commented on #41
I have roles that are used only for color that are necessarily on the very top of the list. From my understanding, if I grant someone manage_roles and give them a color role (with no permissions) they can add to any role/any member?

Position may also be odd since it has the dual use of sorting the sidebar - I can echo rhino's concern that many servers I've seen put bots lower than staff or other

[2016-05-01 16:10] Azareal commented on #41
ALL_PERMISSIONS would be a great feature for a co-owner / admin type thing.

One way to improve it further is if it overrode the per-channel permissions (kinda like how owner does for a sort of superuser role), as it can be a big hassle fixing channels one by one when you discover that your admins don't have manage roles in a channel thanks to an obscure overlap of permissions.

[2016-05-01 18:54] Auralytical commented on #41
I agree with @Azareal, I'd be up for an ALL_PERMISSIONS if channel permissions couldn't revoke it. See: Discord API where channel owners (with manage permissions) are able to block admins from viewing/interacting their channel.

[2016-05-01 18:57] vishnevskiy commented on #41
I have decided to keep the old bit as a `SUPER_USER` permission that is basically an owner but cannot delete the server and is subject to role hierarchy for managing roles, ban, kicks.

[2016-05-01 19:02] Fabricio20 commented on #41
What @khazhyk said is basically my scenarion, I have roles with colors up on the list with no permissions and roles down the list with permissions.

[2016-05-01 19:03] vishnevskiy commented on #41
You will have to remove colors from your mod roles and just add them to the bottom ones if you want to continue doing that. Role hierarchy is one of the top requested features we have by far so we have to make this change.

[2016-05-01 19:28] ayust commented on #41
Does this change also mean that the new Manage Roles will no longer imply having read access to all channels on the server?

[2016-05-01 19:32] kantenkugel commented on #41
oh nice... so removing color is a thing? (letting below roles determine color)

[2016-05-01 19:33] vishnevskiy commented on #41
@kantenkugel I guess it was not, but we should make it one. I kinda assumed it was the highest role with a color. Will consult the team.

[2016-05-01 19:57] kantenkugel commented on #40
Will there be a limit on the size of the messages array?

[2016-05-01 21:31] vishnevskiy commented on #41
@ayust yes

[2016-05-02 09:43] #26 closed, assigned to nobody

[2016-05-02 09:43] #13 closed, assigned to nobody

[2016-05-02 10:39] Bubka3 commented on #41
What type of timeframe do we have to implement this change (approx release frame, if possible)?

[2016-05-02 18:16] kwando1313 commented on #41
Will managing nicknames on the server follow the logic of the new manage roles permission?

[2016-05-02 19:43] vishnevskiy commented on #41
@kwando1313 will work like ban/kick, lower rank only.

[2016-05-02 19:43] vishnevskiy commented on #41
@Bubka3 its built, hoping to release this week.

[2016-05-02 21:49] TobiTenno commented on #41
Will having the owner being a "supreme" level of permissions make anyone with the "Manage Roles" perm unable to change the guild owner's nickname, all other levels being the same?

[2016-05-02 21:50] vishnevskiy commented on #41
yes the owner cannot be touched currently

[2016-05-02 21:53] khionu commented on #41
Actually, that's only true through the App. The API permits it, a friend did it through their SelfBot

Amendment: That's on their word, but Zeta hasn't given me a reason to disbelieve them before _shrugs_

[2016-05-02 22:08] khionu commented on #41
Further testing: API works, RightClicking works, denied through the Memberlist

[2016-05-03 23:03] cookkkie commented on #25
Need! Got a lot of (at least 1 per shard per day) tcp zombies :tired_face: on music bot.

[2016-05-05 07:18] clickbait opened #47 "Extended Get Channel Messages functionality."
At the moment, the get channel messages endpoint is pretty meh; some ideas on how it could be improved for bot developers could be something like;
- limiting by message author, eg. grabbing the last 100 messages in a channel made by a specific user
- limiting by keyword, eg. finding messages that contain a specific keyword or phrase; this could also extend into adding search functionality to the c

[2016-05-05 18:05] jhgg commented on #47
We can't do this kind of filtering - because of how message data is stored.

Being able to search messages will eventually be available - but we're unsure if we want to expose that functionality to bots yet.

[2016-05-05 18:05] #47 closed, assigned to nobody

[2016-05-05 18:06] jhgg commented on #47
Also, re: your usecase, just have the bot keep a list of messages it's sent in a given channel... then you don't need to ask the API something it could potentially already know.

[2016-05-05 18:07] jhgg commented on #40
Docs needed /!\

[2016-05-06 01:26] clickbait commented on #47
@jhgg what about another use case, where the bot's deleting messages from a specific user?

say x person spams emojis for 20m, it'd be great if selecting their messages alone was possible.

[2016-05-06 04:40] jhgg commented on #40
API endpoint is live. Woo!

[2016-05-06 07:43] jhgg commented on #47
It's not possible until we release search. Our database is not indexed in such a way we can query for messages like that.

[2016-05-06 15:06] abalabahaha commented on #40
@jhgg a 400 doesn't really count as `live` .-.

[2016-05-07 01:49] jhgg commented on #40
Turns out our load balancer doesn't like bodies with DELETE requests, gonna move it to

[code]

[2016-05-07 12:33] kantenkugel commented on #41
Would you consider running a server-side patch that moves the old MANAGE_PERMISSIONS (channel-side) to the new offset? Cuz at the moment, the Channel-override just shows no overrides, but the API shows the old flag (now only used by ADMIN) which doesn't make sense on channel-side.

[2016-05-07 20:48] cookkkie commented on #40
To be clear, messages should be a list of strings right? not integers.

[2016-05-08 17:26] TheSilvus opened #51 "Ready event wrong properties"
The [documentation](https://discordapp.com/developers/docs/topics/gateway#ready) states the Ready event has the following properties:
- v
- user
- private_channels
- guilds
- read_state
- session_id

The ones I receive have the following ones:
- v
- user
- session_id
- relationships
- private_channels
- presences
- heartbeat_interval
- guilds
- [_trace]

Overall a few are missing and too much.

[2016-05-08 18:17] meew0 commented on #51
Seems like a duplicate of #37

[2016-05-09 19:31] din0s commented on #40
oh shit waddup (why isnt this live yet!!)

[2016-05-09 19:33] freyacodes commented on #40
:one:  more day :one: more day :one: more day :one: more day :one: more day
![image](https://cloud.githubusercontent.com/assets/2582617/15125524/9f3433c8-162d-11e6-92a0-69d1a1aa134d.png)

[2016-05-10 03:12] jhgg commented on #40
Deployed the new endpoint.

[2016-05-12 06:51] jhgg commented on #51
Closing as a dupe of #37

[2016-05-12 06:51] #51 closed, assigned to nobody

[2016-05-13 19:47] mrkcsc opened #55 "Missing presences field from the Guild resource on GUILD_CREATE event."
Plis

[2016-05-13 19:48] b1naryth1ef commented on #55
Pull requests accepted @mrkcsc

[2016-05-13 22:54] #41 closed, assigned to nobody

[2016-05-15 18:15] AraHaan commented on #40
I am thing about this and yeah messages are `strings` however if you go with a list of them you can check the `length` of them to see how many strings there is. I already do this in python myself on my bot. However with the current voice channel code I find it best if I had some help changing my code without removing any features but for use in multiserver. sadly with my code I have to do a manual

[2016-05-15 18:18] din0s commented on #40
~~what the fuck @AraHaan~~

[2016-05-15 18:22] AraHaan opened #56 "[API] MEMBER_KICKED event"
It would be convienent if there was a `MEMBER_KICKED` event to separate people who left at will from people you kicked if they want their bot to know for sure without having to use that bot to do the `kicking`.

Now another thing is to also add in `MEMBER_LEFT` which would only be called if they left at their `will` and will not be called any other time. This would be great as there is a event for

[2016-05-15 18:52] AraHaan commented on #40
what I mean is in python you can have something like this

[code]

and the size of that is `0`
but if you appened a strign to it which is simple to do.
then you can get the number of strings in it like so.

[code]

You can also cap the string list too this way as well with a `<=` part on it.

[2016-05-15 19:12] lauriys commented on #56
It would also be great if we could get information about who kicked/banned
too...

On Sun, 15 May 2016 20:22 AraHaan, notifications@github.com wrote:

[2016-05-15 19:19] AraHaan commented on #56
yeah thats another thing I want as well as who unbanned.

[2016-05-15 19:21] din0s commented on #40
IIRC you can use either Strings or Longs/Integers/WhateverTheyAreCalledInPython in the request's body. I'm not entirely sure what the issue is here...

[2016-05-15 19:26] night commented on #40
@MinnDevelopment @DinosParkour Please try to be more civil, thanks.

[2016-05-15 19:30] MinnDevelopment commented on #40
Ok, would you be able to give me an example of your problem so that I am able to help out. Sorry for my nerves

[2016-05-16 05:55] jhgg commented on #56
This will be coming with the audit log feature. I'll open an issue w/ more details when it's ready.

[2016-05-16 05:55] #56 closed, assigned to nobody

[2016-05-19 07:54] jhgg opened #58 "[API] Voice Channel user limit"
You can now set a user limit on a channel by passing `user_limit` in the request body when creating or updating a channel.

The user limit should be an integer between 0 and 99, where 0 refers to no limit, and every other number less than or equal to 99 refers to the user cap for the channel.

Note: if you have MOVE_MEMBERS permission in a channel, you can bypass the user limit.

[2016-05-20 05:31] jhgg commented on #58
Thanks @abalabahaha for contributing docs in #59

[2016-05-20 05:31] #58 closed, assigned to nobody

[2016-05-22 23:49] Fabricio20 commented on #17
I think we should be able to send a region string along with the shard id, so that specific shard would only return guilds that have voice servers on that region, allowing for better audio load balancing/ping rates.

[2016-05-23 03:25] nicholastay commented on #40
Without the Manage Messages permission, it seems like this endpoint automatically fails, even if all the messages within are by the bot itself. It would be useful to delete own messages in bulk on servers with limited perms!

[2016-05-25 19:21] b1naryth1ef opened #61 "API Error Codes"
As part of an ongoing effort to cleanup and make our API more library friendly, we're going to be adding a set of integral error codes that are returned alongside the current `message` key, within our JSON error responses.
### Codes

| Code | Description |
| --- | --- |
| 10001 | Unknown Account |
| 10002 | Unknown Application |
| 10003 | Unknown Channel |
| 10004 | Unknown Guild |
| 10005 | Unkno

[2016-05-25 21:21] jhgg commented on #17
Unfortunately that's not possible. We don't know of the guild region's ahead of time when sharding.

[2016-05-30 20:39] Syrou commented on #20
So the time has come. I'm trying to create a trade monitor bot which lists relevant text to the user.
The items can well go over 50 lines. Either we create some sort of nice JSON to pretty text output in Discord or I'd really need to get this increased :)

[2016-05-30 20:58] meew0 commented on #20
What's wrong with putting all the text in one message (or as many as you need given the character limit)?

[2016-05-30 21:12] mnlkrs commented on #20
@Syrou One message can contain up to 2000 characters

[2016-05-31 02:23] jhgg commented on #40
@nicholastay in that case, you'll need to use the individual message delete endpoint. which you can delete 5 message/sec for. This is for bulk deleting messages by an admin bot. Unfortunately we don't have plans to make it so this doesnt require manage_messages permission, as that would require pulling down each member object we want to delete to check the author id.

[2016-05-31 02:30] nicholastay commented on #40
Alright, that makes sense, thanks for the info

[2016-05-31 04:10] AraHaan commented on #40
@jhgg or you can force the lib to do the checking itself and append a list of message id's before sending the request that way you guys do not have too do it and just delete the messages that have the same id's in those requests. But doing so would require the channel id or server id in case of the default channel. But yeah it would be nice to have it like that. And best of all the endpoint would

[2016-05-31 04:43] din0s commented on #40
@AraHaan I don't think you can "force" any lib to do what you described.
After all it's an API and anyone could send the request independently, so relying on libraries to do permission checking is simply illogical.

[2016-05-31 05:49] AraHaan commented on #40
I was not talking about perm checking for on the libs I was talking about it checking for the id's of certain messages. like you can tell it to iterate through 100 messages and return only the ones from a user you told it to and then the lib sends those message id's to the endpoint with the channel id.

[2016-05-31 23:56] Fabricio20 commented on #17
What about a shard_move endpoint then? I could send a guild id to it and it's shard would be moved, allowing for the same thing I mentioned above about audio distribution.

(If you think that it would cause too much gateway spam, you could also Jake it).

[2016-06-02 10:13] cookkkie commented on #17
The best way to handle that would be to handle it in your bot code. Not that difficult in theory.

[2016-06-02 11:44] jhgg commented on #40
we would still have to check if they can actually delete those messages though... nothing changes... MANAGE_MESSAGE implies that they can delete any message in a channel, so we dont need to figure out the author to delete it.

[2016-06-03 05:05] Tom-Neverwinter opened #65 "[Feature Request] Emotes for text chat"
Slack has the ability to attach emotes to chat messages (reactions), could this feature be implemented into discord?

[2016-06-03 05:13] b1naryth1ef commented on #65
Thanks for the contribution, but we don't really utilize this repo for feature requests, rather things pertaining to the API. If you'd like to contribute ideas or feedback, a better place is our feedback page: https://feedback.discordapp.com.

[2016-06-03 05:13] #65 closed, assigned to nobody

[2016-06-03 05:13] Tom-Neverwinter commented on #65
I just noticed the feedback section, sorry for posting here. Thank you for your hardwork!

[2016-06-04 00:41] abalabahaha commented on #40
Docs for both the endpoint (#48) and gateway optimization (#66) were merged, so this can be closed now.

[2016-06-04 00:47] night commented on #40
👌

[2016-06-04 00:47] #40 closed, assigned to night

[2016-06-04 02:49] jhgg opened #69 "[API] Bot MFA/Two Factor"
On **June 17th, 2016** - bots will start considering their owner's two factor status on servers with two factor authentication enabled, meaning, they will be unable to perform functions which require "elevated" permissions functions on servers with two-factor authentication enabled until the application owner turns on two factor on their account.
## As an example:

Server A turns on two factor. Th

[2016-06-04 06:09] cookkkie commented on #69
👍

[2016-06-04 09:51] freyacodes commented on #69
I take it that I'm the only person here who doesn't use a phone on a regular basis? Guess I'll have to change that.

[2016-06-04 09:56] zet4 commented on #69
@Frederikam you could always use Authy or WinAuth.

[2016-06-04 10:06] Nanabell commented on #69
hmm im not a fan of it. As suggestion make it Possible to OptOut of this (only as ServerOwner ofc) ?

[2016-06-04 10:19] meew0 commented on #18
What sequence are we supposed to use when sending a heartbeat before READY? 0 works for me but it might not be ideal.

[2016-06-04 10:22] freyacodes commented on #69
Thanks @ZetaHunter. WinAuth was just what I needed.

[2016-06-04 10:39] MinnDevelopment commented on #69
What do you have to change for client api login? I assume you have to add a field containing an auth code to the request body?

[2016-06-04 10:51] freyacodes commented on #69
Thanks for reminding me that I ripped my selfbot. I found how to authenticate with the code.

**Edit: Removed because apparently automating this will get you banned.**

[2016-06-04 15:10] zet4 commented on #69
To generate code you need to use TOTP library with the secret you obtain when you first enabled mfa (the one you can "manually input"), here are libs for some languages: [Java](https://github.com/hrax/security-totp), [Python](https://github.com/pyotp/pyotp), [C#](http://totpnet.codeplex.com/), [Go](https://github.com/pquerna/otp)

[2016-06-04 15:11] din0s commented on #69
I was able to generate my 2FA key for Java using [this lib](https://github.com/aerogear/aerogear-otp-java). For anyone interested ^.^

[2016-06-05 07:48] vishnevskiy commented on #69
This does not mean the bot have to use 2 factor, it just means the owner of the bot has to have 2 factor. So no one can steal your account and steal your bot.

[2016-06-05 07:51] freyacodes commented on #69
@vishnevskiy but we are talking about selfbots, not just regular bots.

[2016-06-05 17:57] #55 closed, assigned to mrkcsc

[2016-06-06 07:30] jhgg commented on #69
Self bots aren't supported. You shouldn't be going through the 2FA login flow on your bot either. Log in on the client, grab the token from local storage and use that token in your self bot.

**Do not call `/api/login` or `/api/auth/mfa/totp`.**

I repeat. **Do not call `/api/login` or `/api/auth/mfa/totp`.**  If you are using a self bot on a 2fa enabled account, and you are automating the login a

[2016-06-06 08:09] meew0 commented on #69
Is it allowed to automate calling `/api/login` for non-2FA enabled accounts?

[2016-06-06 08:11] AlexFlipnote commented on #69
Or why not just deny self bots at all cost.... Making a test bot ain't that bad?

[2016-06-06 08:32] jhgg commented on #69
We won't ban for it. But it's strongly discouraged. Use tokens.

We're not interested in banning self bots. Some users use them to do cool things. However, if your self bot does stupid stuff (like spams the API due to a bug in your code), we're much less forgiving than we would be if you were using a dedicated bot account. Like I said earlier, be smart and use a bot account. Self bots are not supp

[2016-06-06 09:17] metagn commented on #69
so cache?

[2016-06-06 09:18] jhgg commented on #69
Yes. Cache the token. I think we discussed this on the API server a few months ago.

[2016-06-06 09:19] metagn commented on #69
yea a long time ago but got a little confused there, thought you meant something else

[2016-06-06 09:47] freyacodes commented on #69
@jhgg would it be acceptable behaviour to have a _selfbot_ log in with a _given_ TOTP code (sent by REST, DM or some other means)? This way two factor authentication is still in the hands of the user.
Or is the only way we can use the `/api/auth/mfa/totp` endpoint with an official Discord client?

[2016-06-06 09:50] night commented on #35
Is this still needed? Docs seem fine as-is to me (explanation of requesting guild members + link to response + response links to object refs)

[2016-06-06 09:53] gdude2002 commented on #35
It's been documented, so we're good. Feel free to close, can't do it from
email.
On 6 Jun 2016 10:50, "Night" notifications@github.com wrote:

[2016-06-06 09:54] #35 closed, assigned to night

[2016-06-06 10:44] jhgg commented on #69
`/api/auth/mfa/totp` is an endpoint for the official Discord client only. Do not call it from a bot or script. Use a token that's generated via the official client to log into a self bot.

[2016-06-06 12:05] meew0 commented on #69
Could custom clients use the endpoint? Previously you said that it cannot be automated, now you said that it's for the official client only; what of the two is it?

[2016-06-06 13:30] devsnek commented on #69
Can we automate the process of getting a generated token from the official client?

[2016-06-06 15:20] DV8FromTheWorld commented on #69
Considering JDA-Client is aimed at support Custom Client stuff, not SelfBots, we have 2FA stuff.  As a note, the 2FA isn't automated. You have to get the 2FA time-sensitive code from an Auth app like Google Authenticator and put it in just like as if you were on a client. JDA-Client actually has 2 users who are in preliminary stages of writing their own Client projects, so this is a crucial part.

[2016-06-06 17:35] jhgg commented on #69
Like I said earlier. **Do not call /api/login or /api/auth/mfa/totp.**. If you want to implement this on your library, I can't stop you. But you are putting your users at risk. We specifically do not want it implemented as in the future we may decide to implement additional security measures on these endpoints, which may consider bots/scripts an attack on the login, which the system may automatica

[2016-06-06 18:02] DV8FromTheWorld commented on #69
I see no reason why a custom client can't login in the same fashion as the currently client, especially if tokens are cached so that login need not occur again after a token has been successfully acquired.
I suppose though, at the end of the day, it is H&C decision on what is considered right or best.

I suppose I'll put a warning message to users who want to login with their email and password li

[2016-06-06 18:07] DV8FromTheWorld commented on #69
As a note though: If someone is trying to brute force a password or mfa codes, whether or not this is implemented into a library isn't going to change that all that much. The endpoints still exist. If they truly care they much, they'll attempt to brute force using their own REST wrapping. Furthermore, if they were really serious about it they would be jumping from IP to IP, so it seems that bannin

[2016-06-06 23:17] #18 closed, assigned to night

[2016-06-06 23:17] #25 closed, assigned to night

[2016-06-06 23:17] #33 closed, assigned to night

[2016-06-06 23:18] jhgg commented on #61
@night didn't see this in #71?

[2016-06-06 23:18] #37 closed, assigned to night

[2016-06-06 23:19] jhgg commented on #17
We have no plans to direct certain guilds to certain shards. The guilds are sharded based on the algorithm defined above.

[2016-06-06 23:20] #27 closed, assigned to night

[2016-06-06 23:21] night commented on #61
@jhgg https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/RESPONSE_CODES.md#json-error-response

[2016-06-06 23:22] #28 closed, assigned to night

[2016-06-06 23:22] #61 closed, assigned to night

[2016-06-06 23:24] #34 closed, assigned to night

[2016-06-07 01:02] #24 closed, assigned to nobody

[2016-06-07 13:29] Syrou commented on #20
@GexoXYZ Yeah, My message contains over 9000 :)
I guess one could just generate a url which uploads the large response there, and provides the user with that url

[2016-06-07 14:10] Syrou commented on #20
OR I guess limiting the text response to the bare essentials works too, and then just use sendMessage for each compressed message 👍

[2016-06-07 16:04] ShortCircuit908 opened #72 "[API] Missing documentation for user connection objects"
USER.md [references connection objects](https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/resources/USER.md#get-users-connections--get-usersmedocs_useruser-objectconnections), which are not documented and given a [dead link](https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/resources/USER.md#DOCS_USER/connection-object)

[2016-06-08 09:23] jhgg commented on #72
thanks for the report.

[2016-06-12 19:20] AraHaan commented on #69
Here is the Question How can the **BOT OWNER TURN ON 2FA** if they **DO NOT**  have a phone. I think it would be great to have a fallback to **EMAIL** option as well so that way you can **ACTUALLY** turn it on so that way there is no **issues**. **OR** if they do **NOT** have a phone give them a form that lets them set a pin on their account to enable it too.

[2016-06-12 19:22] AraHaan commented on #69
But then again account pin codes would be nice as well before it lets you login. :stuck_out_tongue:

[2016-06-12 19:27] freyacodes commented on #69
Why would you need another password which is numeric? 2FA should be plenty to keep your account safe.

[2016-06-12 19:28] AraHaan commented on #69
But it does horible if they have no phone, I sadly cant turn it on in the App itself because rn it only asks for phone which sucks.

[2016-06-12 19:28] metagn commented on #69
Its not only for the phone, there's apps for it on the desktop like Authy and WinAuth lol

[2016-06-12 19:29] abalabahaha commented on #69
As explained already, there are TOTP generators for desktop OSes (Authy, WinAuth, oath tool, etc.) in addition to mobile apps. There are also 10 regeneratable backup codes you could use.

[2016-06-12 19:29] freyacodes commented on #69
https://winauth.com/

[2016-06-12 19:33] AraHaan commented on #69
yeah I just found it now if only the discord app Mentioned that "For Microsoft® Windows® Operating Systems use [WinAuth](https://winauth.com/)." Or something like that so people that use windows can find it.

[2016-06-12 19:38] metagn commented on #69
i mean it says "win" in the name dude

and authy works on windows too iirc

[2016-06-15 08:31] jhgg opened #77 "[API] GET single message."
You can now use:

`GET /channels/:channel_id/messages/:message_id` to fetch a single message object.

On a guild channel will require the READ_MESSAGE_HISTORY permission.

Checklist:
- [x] deploy
- [x] add to docs #78

[2016-06-15 09:14] #77 closed, assigned to nobody

[2016-06-16 03:40] DV8FromTheWorld commented on #69
Is there a way to determine, using only information of the logged in bot, if the account which owns the bot has 2FA enabled? I'd rather write pre-checks (like I do with cached permissions) when working with functions that require `Elevated-Permissions` instead of passing it off to Discord and doing post-checks.

[2016-06-17 20:23] jhgg commented on #69
@DV8FromTheWorld it will be in the ready payload, under the user object.

[2016-06-17 20:24] jhgg commented on #69
also as a reminder - this comes out tonight.

[2016-06-17 22:31] jhgg opened #80 "[API] Message Pinning"
The API portion of message pinning is live (and the client update has rolled out to Canary).
## Gateway Changes
- The `MESSAGE_CREATE` and `MESSAGE_UPDATE` now have a `pinned` property.
## API Changes
- New PUT/DELETE to `/api/:channel_id/pins/message_id`.
- New GET to `/api/:channel_id/pins` to get a list of pinned messages.
- New error code for pinned messages.
- MANAGE_MESSAGES is the required

[2016-06-17 23:16] DV8FromTheWorld commented on #69
I wish that changes like these could be launched on a test gateway like a day or 2 before, so we can test and implement support before they are completely live. Especially since you say its going to be in the READY packet, building and testing against that system would be nice. Similarly to how we could use gateway v4 and implement and work on v5 without that going live immediately, so that we'd h

[2016-06-18 00:45] jhgg commented on #69
it's a field in the user object. if your code crashes because we add an additional field somewhere, you are going to have a bad time... i'd understand if we removed a field and something crashed... but adding a field should be a 💯 % backwards compatible change...

[2016-06-18 00:50] jhgg commented on #69
As a note, we will probably document what we consider breaking/non-breaking changes - and are working on implementing API versioning. But, adding a field to an object will never be considered a breaking change, and is something we will do from time to time with no prior warning. If your code breaks because an additional field is introduced into a response from our servers, you should write your co

[2016-06-19 10:29] jhgg opened #82 "[API] Guild Members / Breaking Change"
The guild members endpoint `GET /api/guilds/:guild_id/members` endpoint unfortunately must undergo a breaking change.

The `offset` and `limit` parameters are being changed to `after` and `limit`. Results will now be sorted by `user_id`, and to paginate through it, you would use the `after` query parameter, passing it the last user in the previous result returned (pretty much how the messages endp

[2016-06-19 16:36] MinnDevelopment commented on #80
It's `/api/channels/:channel_id/pins/:message_id` though, isn't it?

[2016-06-21 02:47] AraHaan commented on #69
What is the current version rn?

[2016-06-21 02:59] khyperia opened #84 "Gateway Close Event Code 4006 not documented"
This commit - https://github.com/hammerandchisel/discord-api-docs/commit/08036cec2a9f5665d3dd2d05515e8ccbef6d9807 - removed code 4006 from the websocket close codes.

I would understand if it was removed from the API entirely, but I'm still getting close events (followed by websocket close) with code 4006 a few minutes after connecting, and I have no idea what they are or how to handle them. (The

[2016-06-21 03:14] jhgg commented on #84
gateway v5 does not send 4006 anymore - hence why we removed it. the docs reflect the latest version of the gateway.

[2016-06-21 03:14] #84 closed, assigned to nobody

[2016-06-21 04:31] jhgg commented on #69
There is no version right now.

Also, this change should be going out tonight.

[2016-06-21 22:14] jhgg commented on #80
did i forget a colon?

[2016-06-24 03:54] adenflorian opened #85 "User Object missing "bot" field in documentation"
The User Object table on the below page is missing the new(ish) bot field. I can see the bot field in the user object in the JSON for some bots in my server in the guild create event.

https://discordapp.com/developers/docs/resources/user#user-object

[2016-06-27 00:50] Fabricio20 opened #87 "Guild verification levels for bots"
Today I noticed bots also fall into the guild verification level check (HIGH), making it impossible to send messages if the bot hasn't been on the guild for 10 minutes.

But since bots, to be added, require someone with MANAGE_SERVER permission, I think that they should ignore this verification level, it's simply weird that a bot that was added by an admin can't talk for 10 minutes after being add

[2016-06-27 00:51] ducc commented on #87
This has severely effected the functionality of sponge boy and it must be stopped!

[2016-06-27 01:00] vishnevskiy commented on #87
I agree. Added as internal ticket for fixing.

[2016-06-27 03:14] #85 closed, assigned to nobody

[2016-06-27 21:58] night commented on #87
What are the reproduction steps for this? We already let bots bypass verification levels. Make sure you're using an actual bot user, not a user functioning as a bot.

[2016-06-27 22:01] Fabricio20 commented on #87
I just received this on LewdBot (Currently 6K Guilds), BOT account.

net.dv8tion.jda.exceptions.VerificationLevelException: Messages to this Guild can not be sent due to the Guilds verification level. (HIGH).

[2016-06-27 22:09] Almighty-Alpaca commented on #87
That actually is most likely an issue with JDA then. We still check for verification level on our end.

[2016-06-27 22:10] DV8FromTheWorld commented on #87
@Almighty-Alpaca I was thinking about that as well. I do believe you are correct.

[2016-06-27 22:21] Fabricio20 commented on #87
Confirmed with DV8 to be an issue with JDA. Closing issue. (If any other libs also have this problem, it's  not on discord's side).

[2016-06-27 22:21] #87 closed, assigned to nobody

[2016-06-27 22:23] #80 closed, assigned to nobody

[2016-06-29 19:31] jhgg opened #90 "[Gateway] VOICE_STATE_UPDATE"
**Voice State Update**

Looks like there was a bug in last night's deploy that's preventing bots from disconnecting from voice. We'll fix it with a hotfix tonight.

[2016-06-29 21:38] macdja38 commented on #90
A temperary fix for bot authors whos bot's are stuck in a channel is to do as follows.

[code]

Kicking the bot and re-inviting or restarting the bot also seem to work.

[2016-06-29 23:28] jhgg commented on #82
This change is being released tonight.

[2016-06-30 07:09] jhgg commented on #90
fixed.

[2016-06-30 07:09] #90 closed, assigned to nobody

[2016-06-30 08:25] jhgg commented on #82
This change has been released.

[2016-06-30 08:25] #82 closed, assigned to nobody

[2016-06-30 08:26] jhgg commented on #69
Closing this as it's been released for a week now.

[2016-06-30 08:26] #69 closed, assigned to night

[2016-06-30 17:37] Fabricio20 opened #91 "[OAuth2] Missing documentation for grant type"
Looks like there isn't any documentation on which grant type I should use to get a token back from `/token` with the code received from `/authorize`.

As tested, `offline` is not supported, `full_stack` is not a thing, `application` is not a thing and `authorization_code` is not a thing too (invalid grant type).

[2016-06-30 19:31] abalabahaha commented on #91
authorization_code works. Check to make sure you are posting data in the correct format

[2016-06-30 21:49] #91 closed, assigned to nobody

[2016-07-01 15:34] TobiTenno opened #93 "Denying "Read Messages" Permission doesn't hide channel if granted with a role other than everyone"
| Permission | Value | Description |
| --- | --- | --- |
| READ_MESSAGES | 0x00000400 | Allows reading messages in a channel. The channel will not appear for users without this permission |

is inaccurate. Someone who has had this permission revoked will still have the channel appear if they have any role that is granted this permission.

[2016-07-01 16:25] khazhyk commented on #93
Can confirm. This seems like a bug. If you deny to an individual person, it overrides groups, but if you grant read to any group, no other group deny overrides it, regardless of order.

[2016-07-01 16:43] meew0 commented on #93
It's always been this way though - user-specific overrides are more important than role-specific ones and allows are more important than denies.

[2016-07-01 17:10] TobiTenno commented on #93
Except if a higher role that a user has is denied viewing, shouldn't it be the same as if no role has viewing privs?

[2016-07-01 23:54] jhgg commented on #93
I can't replicate this.

![image](https://cloud.githubusercontent.com/assets/5489149/16536825/68db847c-3fac-11e6-9793-d9a947d5bc1a.png)
![image](https://cloud.githubusercontent.com/assets/5489149/16536826/6fdccd94-3fac-11e6-9b8f-a5d901cdd830.png)
![image](https://cloud.githubusercontent.com/assets/5489149/16536828/747d50bc-3fac-11e6-88b6-952dcb277aa2.png)

On wew's client:
![image](https://cloud.g

[2016-07-01 23:54] #93 closed, assigned to nobody

[2016-07-02 00:56] khazhyk commented on #93
@jhgg Give a group that isn't everyone deny, then give a different group allow, and add someone to both groups. Regardless of the order of Deny group and the Allow group, the allow trumps the deny. But meew0 is saying this was known, so I guess it's not a bug, but a limitation.

[2016-07-02 01:43] TobiTenno commented on #93
@jhgg something like:

Channel setup
![image](https://cloud.githubusercontent.com/assets/7128721/16537564/a9ab742a-3fcb-11e6-9b3e-e7f8cc264075.png)
![image](https://cloud.githubusercontent.com/assets/7128721/16537565/b04a4946-3fcb-11e6-942b-b140ce823e9e.png)
![image](https://cloud.githubusercontent.com/assets/7128721/16537566/b778a0dc-3fcb-11e6-875b-5b210e984331.png)

User roles and channels befor

[2016-07-02 01:50] TobiTenno commented on #93
To lay it out more:
1. Add a channel
2. Restrict everyone from seeing it
3. Add a role "member" that is allowed to see/send messages
4. Add a role "hide-channel" that is not allowed any permissions in that channel, and is above "member"
5. Add both of these roles to a user
6. The user will still be able to see the channel, and see mentions

[2016-07-03 23:56] vishnevskiy commented on #93
Hierarchy has never had an effect on permission overwrites.

[2016-07-04 19:26] einsteinK commented on #69
Related to not being allowed to automate:
We're still allowed to "automate" loging in using 2FA, as long as getting the code isn't, right?
Basicly, I have my bot first login, see if it requires MFA, and if it does, ask the console for a code.
I'm pretty sure that's allowed, but, just in case, asking it here.

[2016-07-04 19:49] metagn commented on #69
I don't think so, you shouldn't login every time you start the bot, cache the token somehow (this applies regardless if your acc is 2fa or not)

[2016-07-04 19:50] einsteinK commented on #69
How long is the token valid, though?
For now, I did take the token from the Dev Console.

[2016-07-04 21:13] metagn commented on #69
Until you change your password/your 2fa token changes

[2016-07-05 07:17] AraHaan commented on #69
Or if it is a bot account until you invalidate the token and regenerate a new one.

[2016-07-05 09:43] metagn commented on #69
2fa doesn't exist for bots...

[2016-07-05 10:00] AraHaan opened #95 "[API] Add Endpoint to separate kicks from bans for servers when bots cant separate bans due to lack of permissions."
Yes, they can use the `on_member_removed` event. But it fails if they do not have permsions to get the bans list and ignore it if they are in the list to get the kicks and it proves to be a issue. I would also thing this event is also reiggered when they leave at will so it would be nice if there was a endpoint/event to just get the `kicks` for any and valid logging to know if they broke any rules

[2016-07-05 10:02] AraHaan commented on #69
I know, but it does rely on the owner to have it on.

[2016-07-05 14:31] TobiTenno commented on #93
Why? Is revoking the position for a role not the same as users without the permission?

[2016-07-05 17:55] b1naryth1ef commented on #95
Thanks for your input on this, but we're not using this repo for feature requests. We're looking at options to include what your asking for in the upcoming audit log features.

[2016-07-05 17:55] #95 closed, assigned to nobody

[2016-07-05 17:58] #72 closed, assigned to nobody

[2016-07-05 18:32] metagn commented on #69
But the owner token doesnt change if you invalidate the bot's token

[2016-07-05 18:36] night commented on #69
Bot tokens only change when you change them via the "My Applications" page on the developers site. You **should not** automate logging into Discord at all, **either with or without 2fa**. Do so at your own risk, and take note that _[we have already stated we will ban offenders for it](https://github.com/hammerandchisel/discord-api-docs/issues/69#issuecomment-223886862)_.

[2016-07-06 07:42] AraHaan commented on #17
or if they have less than 2500 servers the bots would be uneffected however my bot sometimes disconnects randomly and its in less than 150 Servers. RIP :stuck_out_tongue:

[2016-07-10 20:16] jhance opened #100 "Clarify what extra fields `EVENT_GUILD_CREATE` is guaranteed to provide"
Currently the documentation doesn't mention that the "Guild Channel" resource from the `EVENT_GUILD_CREATE` provides `channels`.

[2016-07-11 00:25] SinisterRectus commented on #100
The documentation for a [guild object](https://discordapp.com/developers/docs/resources/guild#guild-object) is missing several fields, which lead me to believe that the object documented is that which is received on the create guild API call; however, there are still some discrepancies:

After creating a brand new guild with a user account, the object returned via HTTPS has at least:
- id
- embed_

[2016-07-11 16:55] jhance commented on #100
It seems like an attempt was made, based on the fact that it says it provides `presences` but was never updated for the other fields that are provided.

[2016-07-11 18:40] abalabahaha commented on #100
The presences field was due to #55 and #68

[2016-07-18 20:34] jhgg opened #108 "[Libraries] Rate limit compliant"
We're going to start delisting API libraries that are not properly implementing rate limits. The whole "get 429ed and then retry" method doesn't work that well, as it seems this is incredibly prone to getting the bot in a cascading failure mode that just spams the API server. We don't want to keep having to ban bots every day who are getting stuck in these loops (it's becoming a bit of a problem)

[2016-07-18 20:45] meew0 commented on #108
discordrb, whose REST API calls are sync but usually called from multithreaded code, uses mutexes to lock API calls after a 429 happens. The most relevant piece of code is this:

https://github.com/meew0/discordrb/blob/master/lib/discordrb/api.rb#L67

This means that after a call fails once, any further calls during `retry_after` will be prevented and instead sent after the period ends. (If too ma

[2016-07-18 20:46] night commented on #108
we are discussing this already, and will be exposing headers soon

[2016-07-18 20:51] Auralytical commented on #108
Discord.Net 0.9 throttles individual requests on receiving 429s
1.0 (in dev) has pre-emptive limits with throttling buckets on 429 as a backup, and request timeouts.

1.0 relies on knowing bucket info (both sizes and intervals) though for pre-emptive to work, otherwise it can trigger multiple 429s at once due to async calls and latency.

EDIT: https://github.com/RogueException/Discord.Net/blob/dev

[2016-07-18 21:03] SinisterRectus commented on #108
The current version of Discordia backs off after receiving a 429. Due to an oversight, users can still make API calls from a coroutine that is different from the one that experienced the 429.

Discordia 1.0 (unfinished) features a [RateLimiter](https://github.com/SinisterRectus/Discordia/blob/master/discordia/utils/RateLimiter.lua) class that keeps track of previous X calls and how much time had e

[2016-07-18 21:11] abalabahaha commented on #108
Eris currently tracks ratelimits (hard-coded bucket sizes and intervals) and blocks them client-side, so there are very little (if any) 429s unless Discord changes something.

discord.js currently holds requests when it sees a 429, and waits for retry_after. However, it makes async requests, so multiple requests can go through at once before one returns a 429. There are plans to make this better i

[2016-07-18 21:39] bwmarrin commented on #108
discordgo ~~develop branch...~~ keeps a "bucket" per endpoint url and anytime a given endpoint gets a 429 it locks that "bucket" so no requests can be sent to it until after retry_after time.   This allows it to handle any rate limit changes Discord makes but it probably doesn't match perfectly with the discord buckets.

~~The master branch doesn't ratelimit - should be updating dev to master soon

[2016-07-18 21:39] DatBlindArcher commented on #108
DiscordUnity stops requests directly after the first 429 exception. It holds the socket for the amount of ms given in the retry after variable. (probably even a for a few ms longer because of how unity works)
I haven't had a case yet where a request got through after a 429, even when I was spamming lists of requests, like it's supposed to work. Maybe in the future I will change it to work seperatl

[2016-07-18 23:40] davidcole1340 commented on #108
DiscordPHP Version 3 is synchronous so 429 blocks stop all other code from executing: https://github.com/teamreflex/DiscordPHP/blob/master/src/Discord/Helpers/Guzzle.php#L126-L130

DiscordPHP Version 4 is now asynchronous, however once receiving a 429 it stops all other requests until the 429 duration has been slept. Currently working on implementing buckets to pre-rate-limit.

[2016-07-19 00:40] austinv11 commented on #108
Discord4J throws a [RateLimitException](https://github.com/austinv11/Discord4J/blob/master/src/main/java/sx/blah/discord/util/RateLimitException.java) upon hitting a 429 response code from any REST endpoint (discord or not) via my [Requests](https://github.com/austinv11/Discord4J/blob/master/src/main/java/sx/blah/discord/api/internal/Requests.java#L165) class. This means that bot devs have to acco

[2016-07-20 14:50] satom99 commented on #108
_litcord_ sleeps given _Retry-After_ interval and sets a variable to _true_ to know whether requests done during this period should also sleep. Once it is over, variable is set to _false_ and requests on hold are executed, including the errored one.

https://github.com/satom99/litcord/blob/master/litcord/client/rest.lua#L82
https://github.com/satom99/litcord/blob/master/litcord/client/rest.lua#L21

[2016-07-21 04:43] SinisterRectus commented on #108
I have a question about what the protocol is for hitting not one, but multiple 429s. My understanding is that it is okay to receive a 429 as long as no requests specific to the rate-limited endpoint are made that will surely receive the same 429 during the provided retry-after time.

What if a client tries to send 100 messages in 5 seconds? Even if the client is sure to not send a request during t

[2016-07-28 15:13] AraHaan opened #112 "[API] Add way to get the 'user' object of the person or bot that changes server or channel settings."
I know that some people like to mess up server settings / channel settigns for the fun of it.

without being able to have a bot tell who it is to properly ban them in the act of sabotage of a server's settigns or a server's channel settings.

Why is this needed for gateway v7?

Because anyone can hack into someone's server and litterally screw it up.

[2016-07-28 15:30] The-Pathogen commented on #112
I need this too, someone was obviously "trolling" me by muting my bot in all channels—which was obviously stupid considering the bot had Admin perms and the mute wouldn't have worked anyways.

[2016-07-28 17:27] night commented on #112
Audit logs are coming soon™.. please be patient..

[2016-07-28 17:27] #112 closed, assigned to nobody

[2016-07-31 21:23] MinnDevelopment opened #114 "`GUILD_MEMBER_LEAVE` should have a "type" field containing the reason for the member removal"
Something like

[code]

That would make it clear whether a user is banned/kicked or left the guild.
Possible types `ban|kick|self`

[2016-07-31 21:25] ducc commented on #114
Pain for lib & bot devs to differentiate leaves and bans w/o having to handle two events.

[2016-07-31 21:26] b1naryth1ef commented on #114
This repo isn't the place for API feature requests, use the feedback page + discord for that. We have some API things planned for when audit log is released.

[2016-07-31 21:26] #114 closed, assigned to nobody

[2016-07-31 21:26] ducc commented on #114
god dammed that b1nzy api support man at it again

[2016-08-04 15:18] JohanRetro opened #116 "Token keep changing."
Me and my friend HyperCoder have experienced that the token of our bots keep changing even though we haven't pressed "generate a new token"
I have been pressing saved all the time but when I go and check if the token haven't changed but it still continues. Here is a gif of the issue.

https://gyazo.com/079f66350a6b4cec31ac9a1d3673edca

[2016-08-04 15:21] jagrosh commented on #116
The second part of the token will change on each refresh, that is intended

[2016-08-04 15:35] JohanRetro commented on #116
Oh I see thank you!

[2016-08-04 17:23] abalabahaha commented on #116
Part of the token is time based, so it will keep changing. Existing tokens will still be valid until you click `Generate New Token`, so you don't have to keep updating

[2016-08-05 05:30] #116 closed, assigned to nobody

[2016-08-07 00:53] nguyenquyhy opened #117 "Should nonce token be interger?"
Currently, the nonce token is listed in the documentation as ?interger although the API support a string value. In my opinion, nonce should be string to support more flexible validation from application.

Can I confirm if the token will be enforced into interger in the future?

[2016-08-07 21:04] b1naryth1ef commented on #117
Documentation is actually kind of invalid here, nonce should really only be a `snowflake`. This will be enforced in the future as well.

[2016-08-10 00:57] night opened #119 ""Bot" Token Type Soon to be Required"
Starting Monday, September 5th we will begin requiring token type in Authorization headers. This means for bot users that you must now display the "Bot" token type, similar to "Bearer" for OAuth requests.

Example:

[code]

[2016-08-12 18:14] night commented on #108
Rate limits have been improved. Please see the docs: https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/RATE_LIMITS.md

When your lib supports the new rate limits headers comment and we will validate your lib.

[2016-08-13 04:24] austinv11 commented on #108
Discord4J as of version 2.5.3 supports the new rate limit headers and will pre-emptively ratelimit when possible and it will track endpoints to prevent successive 429s from firing. Relevant class: https://github.com/austinv11/Discord4J/blob/2.5.3/src/main/java/sx/blah/discord/api/internal/Requests.java#L79

[2016-08-13 20:33] khazhyk opened #122 "x-ratelimit-remaining is off-by-one"
you'll get remaining: 0 twice in a row before you get rate limited, and if you use 1 ticket, it says you have 8 remaining, although you should have 9 left (when total # of tickets is 10)

[2016-08-14 20:32] jhgg commented on #122
a fix for this should be out tonight.

[2016-08-14 20:34] jhgg commented on #117
A fix for this will be released soon.

[2016-08-15 06:24] jhgg commented on #122
fixed

[2016-08-15 06:24] #122 closed, assigned to nobody

[2016-08-17 01:48] b1naryth1ef commented on #108
dscord latest is compliant as of [this commit](https://github.com/b1naryth1ef/dscord/blob/master/src/dscord/api/ratelimit.d)

[2016-08-17 18:56] b1naryth1ef commented on #108
As an FYI, we plan on adjusting the recommended library list on **September 20th**. Libs that do not have compliant implementations by that time will be removed.

[2016-08-18 09:41] ScreamZ opened #124 "Question about doc making"
Hello,

First of all I would like to congratulate you for the job you're doing, that's really cool.
I started using discord API for developers and I really like the way you designed it.

I would like to know if you used a specific framework to generate pages like this one : https://discordapp.com/developers/docs/resources/channel

Or it's all self-made ? I've saw you're using React.js, is there an

[2016-08-18 09:59] davidcole1340 commented on #124
As far as I know they are using React.js with [simple-markdown](https://github.com/Khan/simple-markdown) as the markdown parser. However, they have an extension for the tables that isn't released.

[2016-08-18 17:57] jhgg commented on #124
Thanks for the question @ScreamZ - this issue tracker is for issues with the API, documentation, etc... and not community questions. @uniquoooo's answer is correct though.

A better place for these questions is the discord community at: https://discord.gg/discord-api

Thanks!

[2016-08-18 17:57] #124 closed, assigned to nobody

[2016-08-19 14:48] dteh commented on #20
Are these rate limits calls/seconds or calls/minutes?

[2016-08-19 15:45] amishshah commented on #108
Is it possible to change the `X-RateLimit-Remaining` header to a `Retry-After` form? Bots that are a second or two out of sync will keep hitting 429s otherwise.

[2016-08-19 17:12] night commented on #108
`X-RateLimit-Reset` is an epoch time of when the rate limit resets on the method. Additionally, if your time is out of date you should consider installing ntpd.

Edit: I should also note that there is a `Date` header returned from the server if you want to depend on that too.

[2016-08-19 17:17] amishshah commented on #108
@night but wouldn't it be more consistent to keep `Retry-After` instead of `X-RateLimit-Reset`? Since 429 responses include a `Retry-After`, it would make sense if all requests did too, instead of a timestamp...

[2016-08-19 17:18] austinv11 commented on #108
I understand the `X-RateLimit-Reset` and its purpose, but I don't understand why ratelimit headers are inconsistent given that when you receive a 429 there's a retry after period. It would also make it more user friendly since I doubt most bot makers will know that the reason their library's rate limit measures are failing are due to their system configuration.

[2016-08-19 17:24] night commented on #108
Our Rate Limit headers are [pretty](https://developer.github.com/v3/rate_limit/) [standard](https://api.imgur.com/#limits) [to](https://dev.twitter.com/rest/public/rate-limiting) [most](https://developer.vimeo.com/guidelines/rate-limiting) [APIs](https://developer.foursquare.com/overview/ratelimits), so I think they are pretty reasonable to expect from us too.

[2016-08-19 17:28] austinv11 commented on #108
@night I feel like your comparison is a fallacy. Being content with something just because others do it doesn't necessarily make it the best option.

[2016-08-19 17:34] night commented on #20
These limits are no longer valid. If you're looking for info on managing rate limits in your bot please read our new docs: https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/RATE_LIMITS.md

[2016-08-19 18:10] amishshah commented on #108
discord.js (development) supports the new Rate Limit headers, see [here](https://github.com/hydrabolt/discord.js/blob/75ff9fb0960e0f39fda02fdd569b0820a4920bca/src/client/rest/RequestHandlers/Sequential.js)

[2016-08-19 23:55] Rapptz opened #125 "Libraries list uses noreferrer"
This makes it so we can't see how many people come from the official API site. It would be nice if it came with some referrer information so we can track the traffic stats via GitHub.

[2016-08-20 00:34] davidcole1340 commented on #108
discordphp did it here https://github.com/teamreflex/DiscordPHP/commit/56d388ba0a14571745514f2adf59c59f1b110520

[2016-08-20 01:51] satom99 commented on #108
_litcord_'s indev branch [now supports](https://github.com/satom99/litcord/commit/ddaaa868c4b84c822c179b2d6929749e0ee5f772) the new rate limits.

[2016-08-20 11:04] SpaceManiac commented on #108
discord-rs has [implemented](https://github.com/SpaceManiac/discord-rs/commit/b71d1e34c5c6f40c6d3613bbed98eb9d96326c1a) the new rate limit handling, hopefully correctly...

[2016-08-23 08:21] Vaerys-Dawn opened #126 "Spelling mistake within Topics > Gateway > Events > Guild Integration Update."
The word in bold below is grammatically incorrect and should instead be **were**

"guild_id |snowflake |   id of the guild whose integrations **where** updated"

pulled from: https://discordapp.com/developers/docs/topics/gateway#guild-integrations-update-event-fields

![image](https://cloud.githubusercontent.com/assets/5305116/17884951/4b252d9e-695e-11e6-9bfb-7dda3767cc2c.png)

[2016-08-23 08:30] jhgg commented on #126
you can open a pull request to fix this if you want :P

[2016-08-23 09:08] ghost opened #127 "X-RateLimit-Reset and Retry-After Ratelimit headers"
After hitting the ratelimit a few times through the [ratelimit-compliant](https://github.com/hammerandchisel/discord-api-docs/issues/108) RequestBuffer in the [Discord4J Java API](https://github.com/austinv11/Discord4J), I visited the docs for ratelimits in search for an answer -- why was I hitting the ratelimit. I found @hydrabolt commenting about the use of `X-RateLimit-Reset` instead of `Retry-

[2016-08-23 11:02] satom99 commented on #127
Someone, perhaps @night himself, pointed out the [`Date`](https://tools.ietf.org/html/rfc7231#section-7.1.1.2) header. Which, being Discord's time UTC, may be used to get the exact time `before the payload is generated` - and thus do a simple subtraction.

[2016-08-23 17:29] b1naryth1ef commented on #127
The `Retry-After` header still exists for ratelimited requests.

[2016-08-23 17:29] #127 closed, assigned to nobody

[2016-08-25 00:45] jhgg commented on #125
We use `rel="noreferrer"` on all links to protect `window.opener`: https://mathiasbynens.github.io/rel-noopener/

[2016-08-25 00:45] #125 closed, assigned to nobody

[2016-08-26 22:20] nopjmp commented on #108
I'm showing that discord.py has this implemented in [this commit](https://github.com/Rapptz/discord.py/commit/1fba1b06faca31d07c9296b2badabfe22f173001).

[2016-08-26 22:43] abalabahaha commented on #108
@nopjmp that listens to the `retry_after` key returned in the JSON response of a 429. These headers are different from retry-after

[2016-08-27 17:11] Marqin opened #128 "explain "method" in RATE_LIMITS.md"
[RATE_LIMITS.md](https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/RATE_LIMITS.md):

What is `method` in this context? HTTP method like `POST`, `PUT`, etc. or API-endpoint?

Some people on unofficial server say it's api-endpoint, some other say it's HTTP method and even some other say it's HTTP method \* API-endpoint.

I've digged into some sources and eg. Discord4J seem

[2016-08-27 17:20] Marqin commented on #128
And if it's for endpoints then when I GET `/channels/4242424242/messages` the `X-RateLimit` headers are for GETing:
- `/channels/4242424242/messages`
- `/channels/#{channel_id}/messages`
- `/channels/4242424242/`
- `/channels/#{channel_id}/`
- `/channels/`
  ?

[2016-08-27 17:41] MinnDevelopment commented on #128
It is HTTP Method + Route.
Rate limits are per channel.

[2016-08-27 18:43] Marqin commented on #128
@MinnDevelopment ok, but for which version of those listed in my comment?

[2016-08-28 15:46] meew0 commented on #108
discordrb handles the new rate limits now, although the changes are unreleased. [Here](https://github.com/meew0/discordrb/compare/b7a4775fc4d4f2a101b286f949513318b0ae5fed...b2cd3ccf30973a12aa1717d78ff360a4e253a962) are the relevant changes, [here](https://github.com/meew0/discordrb/blob/new_ratelimits/lib/discordrb/api.rb) is the whole relevant file.

(These changes are currently unreleased; if ne

[2016-08-29 04:08] macdja38 commented on #17
The limit should probably be added to the official documentation ahead of it's release so that those that don't follow the api server and this github have time to prepair when using the docs.

It may also be helpfull to include the rate at which subsequent shards should attempt to connect in the documentation. (would be nice if this was a bit lower, especially for bot's like aethex that require a

[2016-08-29 04:41] jhgg commented on #17
The rate at which you can connect to the gateway is 1 connection per 5 second per account. That means it'd take 60 seconds to connect to 12 shards - which I think is completely acceptable.

Will add these to docs.

[2016-08-31 20:33] jhgg opened #130 "Role PUT/DELETE for member API"
Planned:

`PUT/DELETE /api/guilds/{guildId}/members/{userId}/roles/{roleId}`

To add/remove a given role to/from a user with out having to know the user's roles ahead of time.

[2016-08-31 20:39] #126 closed, assigned to nobody

[2016-08-31 20:39] b1naryth1ef commented on #126
Fixed, thanks.

[2016-08-31 21:45] #100 closed, assigned to nobody

[2016-08-31 22:45] Rapptz commented on #130
Would it be possible for batch role addition/removal support?

[2016-08-31 22:50] jhgg commented on #130
Wdym?

[2016-08-31 22:54] Rapptz commented on #130
Like adding or removing multiple roles instead of one without having to do 1 HTTP request per.

[2016-08-31 22:55] night commented on #130
could make multiple calls or send the whole role list in a PATCH as you probably already do.

[2016-09-04 13:45] Nekka-Lucifer opened #131 "Broken Rate Limiting Link"
On [API-Reference page](https://discordapp.com/developers/docs/reference) there is a broken link. Rate limiting section. [Rate Limits](https://discordapp.com/developers/docs/reference#RATE_LIMITS/rate-limits)

Not sure what the correct link is.

[2016-09-04 20:05] daworld commented on #130
When will this be available?

[2016-09-06 08:04] Marqin commented on #108
I've digged into code of `dscord` and `Discord4j` that are marked as `properly` and it looks that both of them are not implementig it `properly` (but also it's not documented how it's really properly, please, respond to #128):
- `dscord` - they make map of not-compiled routes, so when sending to two different channels it counts as one and can trigger 429
- ~~`Discord4j` - they just make map where

[2016-09-06 08:07] Marqin commented on #108
All of those problems are because docs say

but doesn't say in which case it applies to not-compiled endpoint and when to compiled URL with IDs. Please exaplain this if you want us to implement RateLimit in our libraries.

[2016-09-06 11:14] Rapptz commented on #128
Danny - Today at 5:54 AM
GET /channels/123
GET /channels/124

two different rate limits?
night - Today at 5:54 AM
yes

[2016-09-06 11:52] austinv11 commented on #108
@Marqin it's unfair to say that d4j does it improperly as if you had done the research, you would see that I fixed that awhile ago (as of [this commit](https://github.com/austinv11/Discord4J/commit/6edb60d11ce137021430cd9557337328016a3464)).

[2016-09-06 14:15] Marqin commented on #128
And it's for everything?

`/channels/123/messages/456` and `/channels/123/messages/457` have different Rate-Limits?

And how it's with `/guilds`, `/users`, `/invites` and `voice`?

[2016-09-06 18:22] nixxquality opened #133 "Not able to set a Role as mentionable via API or is it undocumented?"
There is a mismatch between the documentation for [PATCH /guilds/{guild.id}/roles](https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/resources/GUILD.md#batch-modify-guild-role--patch-guildsguildiddocs_guildguild-objectroles) and [Role Objects](https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/PERMISSIONS.md#role-object).

The former does not document th

[2016-09-06 18:45] b1naryth1ef commented on #128
@night should be working on adjusting the documentation to clarify this, we've changed some stuff internally since the first pass at the docs so things need adjustment and clarification.

[2016-09-06 18:51] b1naryth1ef commented on #108
I think there is some confusion based on the fact that whats in the current rate limit documentation is not entirely accurate. We adjusted things internally to conform with our original plans for rate limiting, and those things haven't been fully expressed in the documentation yet. We'll wait to review libs until @night has finished and published the final version of those docs.

[2016-09-06 21:52] Rapptz commented on #133
It is undocumented. Of course you're able to do it -- otherwise the checkbox in the UI would not work.

[2016-09-07 00:06] night commented on #133
We do accept PRs if you're interested in helping out. If not, we'll eventually get to it.

[2016-09-07 00:07] night commented on #131
This is because the docs site does not yet populate solely from this repo. This is changing soon. For now you can view the docs on GitHub: https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/RATE_LIMITS.md

[2016-09-07 23:04] abalabahaha commented on #133
#134 resolved this

[2016-09-08 01:01] #133 closed, assigned to nobody

[2016-09-08 02:14] night commented on #131
This is now resolved.

[2016-09-08 02:14] #131 closed, assigned to nobody

[2016-09-08 02:24] Daniel-Worrall commented on #131
I can see the new section on the docs, but the link still does not go to the right place
https://discordapp.com/developers/docs/reference#rate-limiting

Link currently is: https://discordapp.com/developers/docs/reference#RATE_LIMITS/rate-limits
Link should be: https://discordapp.com/developers/docs/topics/rate-limits

[2016-09-08 03:36] night commented on #131
fixed by 2a97095ba6d0cad613bbd6f8a2998fa2c5a9f104

[2016-09-08 23:21] jhgg commented on #119
The `Bot` prefix is now required for the HTTP Authorization headers. We do not plan to require it for the `token` in the `IDENTIFY` payload to the gateway. For there, we'll take both the prefixed & nonprefixed version.

[2016-09-08 23:27] #119 closed, assigned to nobody

[2016-09-09 03:08] iopred opened #135 "Document the GUILD_UPDATE event."
@b1naryth1ef

[2016-09-09 17:47] MinnDevelopment opened #136 "Voice Region Documentation doesn't contain all fields."
[code]

The documentation is missing `deprecated` and `custom`.
[Related Documentation](https://discordapp.com/developers/docs/resources/voice#voice-region)

[2016-09-11 15:33] milktao opened #138 "Rate Limits Hyperlink on Web Version of Documentation"
I've checked the special markdown syntax for the Rate Limits Link in Reference.md
`For more information on rate limiting of requests, please see the [Rate Limits](#DOCS_RATE_LIMITS/rate-limits) section.`

Its correct, however the web version links to:
https://discordapp.com/developers/docs/reference#RATE_LIMITS/rate-limits

Which returns the person back to the same Reference page, opposed to:
http

[2016-09-14 19:24] plaaeo opened #140 ""array of channel objects" takes to undefined#undefined on Guild Resource page"
Clicking "array of channel objects" in [guild object](https://discordapp.com/developers/docs/resources/guild#guild-object) redirects the page to [undefined#undefined](https://discordapp.com/developers/docs/resources/undefined#undefined)

[Screenshot](http://uploads.annoyingdog87.cf/Djeoqz22.png)

[2016-09-14 19:48] jhgg commented on #140
/cc @night - i think your changes broke this.

[2016-09-14 19:51] night commented on #140
I mean it probably existed prior to my change because the link is wrong in the docs

[2016-09-14 19:52] #140 closed, assigned to nobody

[2016-09-14 19:54] night commented on #138
This was already fixed when you reported it, but was not yet live in #131

[2016-09-14 19:54] #138 closed, assigned to nobody

[2016-09-15 12:20] Lunarexxy commented on #20
That URL no longer works. Use https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/Rate_Limits.md

[2016-09-16 07:07] milktao commented on #138
Ahh I see, I did not think to check the closed issues, apologies.

[2016-09-21 01:25] DV8FromTheWorld commented on #108
As of now, the `3.0` branch of JDA now supports Ratelimit headers based on the expanded, unmerged ratelimit documentation in the `rate-limit-docs` branch of this repository. https://github.com/hammerandchisel/discord-api-docs/commit/7e5f326cd0a1b3fa8397ba94f2b9fd9f565cb3a6  Would be nice if these changes could be merged into master so that the official docs has the proper information considering,

[2016-09-21 06:45] Marqin commented on #108
They have [merged it](https://github.com/hammerandchisel/discord-api-docs/commit/1a5f1f33a238449a4c8aa70bfc9b68533d8a3daf).

[2016-09-23 20:28] b1naryth1ef commented on #108
Alright lads & lasses, its that time. The official complete(ish) version of the new rate limit documentation is live [here](https://discordapp.com/developers/docs/topics/rate-limits). I implore you to read DV8's implementations (see two comments above), or the [dscord implementation](https://github.com/b1naryth1ef/dscord/blob/master/src/dscord/api/ratelimit.d) if you have questions or want code ex

[2016-09-23 21:02] austinv11 commented on #108
Discord4J has updated its implementation to reflect the clarification to the docs as of [this commit](https://github.com/austinv11/Discord4J/commit/725efe3ee7588e8b27c3a3e1b346e500f264c88b).

[2016-09-24 09:38] meew0 commented on #108
I've merged the discordrb implementation into master now, and modified it to account for night's PR.

It handles rate limits using mutexes: there is a hash of mutexes, one for each `[route, major_parameter]` pair, and before doing any request, the method waits for the particular mutex to unlock. If the request returns a 429, or if the `X-RateLimit-Remaining` header has been found to be zero, the m

[2016-09-24 17:20] amishshah commented on #108
As of now, discord.js's indev branch supports the new rate-limiting, see https://github.com/hydrabolt/discord.js/commit/aef0b83c34bea1ea04b8938cd4845b67034ae497

[2016-09-24 21:06] amishshah commented on #108
discord.js's support for the new rate-limiting has been released on NPM now as 9.3.0

[2016-09-26 23:38] #128 closed, assigned to night

[2016-09-26 23:39] #117 closed, assigned to nobody

[2016-09-27 22:23] Hinara commented on #17
Just a question about that how to know on how many guilds are the bot ?
If I've got true there is actually no way for the bot to know that they are on more than 2500 servers without loading the guilds array on the web socket.

[2016-09-27 22:58] b1naryth1ef commented on #17
@robbix1206 https://discordapp.com/developers/docs/resources/user#get-current-user-guilds

[2016-09-28 12:01] Hinara commented on #17
Thanks ^^ Haven't seen it.

[2016-09-30 19:20] meew0 commented on #108
discordrb's support for the new changes has been released to RubyGems as version 3.0.0.

[2016-10-09 21:12] MOZGIII opened #148 "Register API call"
Hello, I'm wondering what's with the temporary user registration API? From the unofficial docs I knew it was there, but later on it disappeared. Now it always responds with 400: `{"code": 20001, "message": "Bots cannot use this endpoint"}`.

What I need is to add discord to the website as a chat app.
I found out `iframe` method was blocked via `X-Frame-Options: SAMEORIGIN` header.

I decided to ma

[2016-10-10 00:42] abalabahaha commented on #148
It was removed from the unofficial docs and other places because devs didn't want automated registration.

[2016-10-13 03:17] jhgg commented on #148
You cannot automatically create an account. If you want someone to join a discord server, just use a perma instant invite link, which will launch the client if they have it, or let them sign up with just a username on the web client.

[2016-10-13 03:17] #148 closed, assigned to nobody

[2016-10-13 19:08] Auralytical commented on #108
Discord.Net supports the new system as of 1.0b2

[2016-10-13 19:10] meew0 commented on #108
[discordcr](https://github.com/meew0/discordcr/blob/master/src/discordcr/rest.cr#L25) has implemented the rate limits in much the same way as discordrb and should also be compliant.

[2016-10-13 19:22] abalabahaha commented on #108
Eris supports the new system as of 0.4.0 on NPM

[2016-10-13 21:35] b1naryth1ef commented on #108
Done the best I can to audit all the libraries for people who've implemented the rate limits, closing this now. If any of y'all who missed the deadline finish your integrations/implementations, please open a pull request adding your lib w/ details on its rate limiting implementation.

[2016-10-13 21:36] #108 closed, assigned to nobody

[2016-10-13 21:41] #136 closed, assigned to nobody

[2016-10-15 00:27] jhgg opened #151 "[Breaking Change] /users/@me/guilds"
The `GET /users/@me/guilds` will soon return at-most 100 guilds. For providers using this endpoint for the OAuth2 `guilds` scope - this should have no practical difference, as users are capped to 100 guilds.

For bots that need to grab their list of guilds, outside of a gateway connection you'll need to paginate through the results by using either the `before` and `after` query param, combined wit

[2016-10-15 00:45] b1naryth1ef commented on #151
It should also be noted that any bots/libraries using this endpoint to calculate shard counts/offsets should switch to using the newly added `/gateway/bot` endpoint (see #146).

[2016-10-16 03:20] klausenbusk opened #153 "Document message types"
Hello

It seems like there is a undocumented type field for the MESSAGE_CREATE event, and maybe other events?
I found it when looking for a way to hide the `<x> pinned a message to this channel.` and stumbled on this commit to discord.py
https://github.com/Rapptz/discord.py/commit/a128249b6324dd045561cb0be85cdabf8acd7694

Could this be documented?

Kristian

[2016-10-16 04:00] darichey commented on #153
This is only on gateway v6 which has not been documented yet and is not officially released as far as I know.

[2016-10-17 13:39] aeruhxi opened #155 "Reason field returned by Get Guild Bans not documented"
This endpoint: https://discordapp.com/developers/docs/resources/guild#get-guild-bans
returns a structure like:

[code]

[2016-10-17 18:07] b1naryth1ef commented on #155
Reason is always null currently, feel free to open a PR for this if you'd like.

[2016-10-18 01:10] Rapptz opened #156 "Better Role Creation"
At the moment the role creation endpoint returns a placeholder "new role" role. To actually create the role you want, you need another API call to edit the role to fit the actual fields you want. This is two API calls for something that could have been done in one.

It'd be nice if the role creation endpoint supported passing parameters to override the placeholder stuff with.

[2016-10-18 01:11] b1naryth1ef commented on #153
V6 documentation is still a WIP.

[2016-10-18 07:34] aeruhxi commented on #155
I have opened a PR

[2016-10-20 21:58] meew0 opened #158 "`embeds` format in `multipart/form-data` requests to webhooks is not documented"
It is possible to make requests to the _Execute Webhook_ endpoint with a content type of `multipart/form-data`. However, `multipart/form-data` only supports the sending of flat fields; sending more complex nested structures like the `embeds` field requires it is not possible in a standardised way. It should be documented what format Discord uses in this case; or if it is impossible to send `embeds

[2016-10-21 07:58] jhgg commented on #158
You can't send embeds in `multipart/form-data` requests - it's mostly worthless and I think we'll remove it. /cc @night

[2016-10-21 07:58] jhgg commented on #151
This change is live.

[2016-10-21 08:04] jhgg commented on #158
update: it exists so you can send files in a webhook. but no embeds. pick one or the other I guess.

[2016-10-21 13:35] cookkkie commented on #151
It wasn't rate limited before btw. Now it is... :( @jhgg why...

[2016-10-22 03:26] briantanner commented on #151
What are the rate limits now?

[2016-10-22 03:32] SinisterRectus commented on #151
Rate limits are described [here](https://discordapp.com/developers/docs/topics/rate-limits).

[2016-10-22 03:36] briantanner commented on #151
I mean what are the rate limits for /users/@me and /users/@me/guilds

[2016-10-22 04:49] khazhyk commented on #151
Make a request with a bot account and read the headers

[2016-10-22 04:52] briantanner commented on #151
would like to just get an answer to what the rate limit is for these endpoints lol or if it's documented somewhere that I missed

[2016-10-25 00:54] jhgg commented on #151
Its a 1 request per second limit.

[2016-10-26 19:29] #158 closed, assigned to nobody

[2016-10-26 19:40] meew0 commented on #158
I still think this fact should be documented, hence I left the issue open.

[2016-10-26 19:57] night commented on #158
You are welcome to revise the existing notice, but it does state that multipart form data is for uploading files.

[2016-11-03 21:06] jhgg opened #166 "[Reactions] Document this API"
- REST: Add Reaction
- REST: Remove Reaction
- REST: Remove /all/ reactions from a message
- REST: List Reactions
- Message struct added reactions field.
- WS: Reaction Events

[2016-11-03 22:10] jhgg opened #167 "[Messages] Bots able to use rich embeds."
Like webhooks, bots and user accounts will be able to use rich embeds.

## TODO:
- [x] Update message create/edit endpoint to add embed support.
- [x] Update relevant docs

[2016-11-05 06:43] DV8FromTheWorld opened #169 "Users/@me PATCH doesn't follow PATCH mentality"
When using PATCH `users/@me` if you don't provide the `avatar` field, the avatar will be completely removed from the account. Of course, you can avoid this by always providing the `avatar`, however that isn't really what PATCH is.

Is this a bug or intended functionality?

Additionally, it appears that `username` is also a required field, failing if it isn't present.

[2016-11-05 09:45] khazhyk commented on #169
iirc, most of the PATCHs in the api are lies

[2016-11-06 19:59] SinisterRectus opened #173 "Setting @everyone role returns 204"
If you include an @everyone role ID in the role array when editing a member, a 204 response is received (assuming all else was successful), despite the fact that the role is not actually applied. Because no member object is returned and because the 204 indicates a success, API users might incorrectly assume that the role was added.

[2016-11-07 03:41] troyhayes opened #174 "Modifying channel position does not re-assign positions for other channels"
Whenever I modify a channel's position, the surrounding channels' positions are not re-assigned accordingly like they are in the client.
I am able to set multiple channels to have the same position, or assign very large or even negative integers for channel positions and they will remain that way when retrieved until a channel is moved by a user in the client, at which point the positions are rese

[2016-11-07 03:49] Rapptz commented on #174
You have to use the batch modify endpoint to change positions. I think it's a bit odd too.

[2016-11-07 03:49] darichey commented on #174
Roles have similar behavior. [According to b1nzy, this is intended behavior](https://cloud.githubusercontent.com/assets/7011721/20007630/0342149a-a295-11e6-94fc-efe9042252ff.png). Yes, it's odd.

[2016-11-07 16:35] #174 closed, assigned to nobody

[2016-11-07 20:44] night commented on #173
Since every person in the server has the everyone role, and it cannot be added or removed from members. We return a 204 response because the role is already applied to every member.

[2016-11-07 20:44] #173 closed, assigned to nobody

[2016-11-07 20:53] night commented on #169
Most PATCHs should function as PATCHs these days, the exception being arrays of modified data. This is one of the few remaining ones that have not been fixed.

[2016-11-07 20:59] SinisterRectus commented on #173
The reason why I raised this issue is because my library relies on the HTTP response to decide whether the cached object should be immediately updated, in case a user synchronously accesses the data before the gateway payload has a chance to arrive. I will add the logic to filter the everyone ID from the array, but based on your explanation, a 304 sounds more appropriate here. Thanks for the reply

[2016-11-07 21:10] night commented on #173
A 304 is only a valid response for GET and HEAD requests. 304s are also only used for the purposes of caching, which we do not employ here.

[2016-11-07 21:13] SinisterRectus commented on #173
I was not aware. Good to know.

[2016-11-07 21:34] khazhyk commented on #169
Nice, thanks for the clarification.

On Mon, Nov 7, 2016, 12:53 Zack notifications@github.com wrote:

Most PATCHs should function as PATCHs these days, the exception being
arrays of modified data. This is one of the few remaining ones that have
not been fixed.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
https://github.com/hammerandchisel/discord

[2016-11-09 18:32] #166 closed, assigned to nobody

[2016-11-11 14:39] NekoTony opened #177 "Quick question"
How would i use the webhooks to send custom messages to that channel?

[2016-11-11 14:41] z64 commented on #177
you use the Execute Webhook POST request. at the least, `content` is required.

https://discordapp.com/developers/docs/resources/webhook#execute-webhook

Small questions like these are better asked on the Discord API server -

https://discordapp.com/invite/discord-api

[2016-11-11 14:44] NekoTony commented on #177
I'm kinda banned on that server for advertising, maybe you can ask them to unban me?

[2016-11-11 14:52] z64 commented on #177
I can't appeal your ban, no. You would have to get in touch with one of the moderators somehow.

[2016-11-13 21:15] cookkkie commented on #167
Thumbnail and Image seem to be broken. Or is it just me? @jhgg

[2016-11-15 21:10] jhgg commented on #167
@cookkkie ye its a bug. it will be fixed soon :tm:

[2016-11-16 06:07] jhgg opened #179 "[API] Guild Member Role PUT/DELETE"
New endpoint will let you put/delete a single role from a guild member.

`PUT/DELETE /guilds/<guild_id>/members/<user_id>/roles/<role_id>`

Will allow you to add/remove a role from a given user without having to get the entire role list ahead of time. Will return 204 if the role was successfully added or deleted, otherwise 404, or 403 depending on whether the role, guild, user exists, and you can

[2016-11-16 08:24] jhgg commented on #167
@cookkkie its fixed

[2016-11-16 08:48] jhgg commented on #130
Closing as dupe of #179

[2016-11-16 08:48] #130 closed, assigned to jhgg

[2016-11-16 09:34] night commented on #169
This is now resolved.

[2016-11-16 09:34] #169 closed, assigned to nobody

[2016-11-16 09:35] #177 closed, assigned to nobody

[2016-11-22 05:38] jagrosh opened #182 "Inaccurate HTTP Response Headers"
The headers responses for Creating a Message Reaction are inconsistent with the 429 Retry-After value. The X-RateLimit-Reset value is only accurate down to one second, and the X-RateLimit-Limit for creating reactions is 1. After creating a reaction, the provided header in the response lists the X-RateLimit-Reset as exactly 1 second after the provided Date. This would imply that the ratelimit for c

[2016-11-22 06:59] jhgg commented on #182
We don't intend to fix this issue - sub-second rate limits are rare  (only this endpoint). It's better to just rate limit it to 1/1 like the rate limit advertises, than to go any faster than that (which is possible - but not what the rate limit headers say).

[2016-11-22 06:59] #182 closed, assigned to nobody

[2016-11-22 07:09] khazhyk commented on #182
1/1 is a rather low allowance, so pretending the rate limit is that is kind of bad.

Since the true allowance is 4x higher, this really seems like a bug that should be fixed, rather than pretending that the rate limit is much lower. If the point of the headers is to accurately portray the true rate limits, if they don't actually show the true rate limits people are just going to go back to ignorin

[2016-11-22 07:33] jhgg commented on #182
If you'd like, we can make the rate limit 1/1 for bots so that it becomes accurate. We're not going to change the API response headers to have a decimal - as that will break other things - and already baked in implementations that expect a whole number.

[2016-11-22 07:35] khazhyk commented on #182
Why not just make the rate limit 4/1 ?

[2016-11-22 10:02] Rapptz commented on #182
If the rate limit is bad can we at least have batch-add reactions to make up for it? Using reactions for polls or UX is really hampered by a low rate limit of 1/1.

[2016-11-22 13:21] DV8FromTheWorld commented on #182
@khazhyk makes a valid point. Why not make the rate limit 4/1? You get identical functionality for all rate limit systems across the board. It seems only logical that all rate limits would conform to the same time basis of per second in relation to what the headers state.

Disregarding the above statement about 1/1s being a low allowance, the followup statement about perceived allowance vs true al

[2016-11-22 13:56] SinisterRectus commented on #182
4/1 is not the same as 1/0.25. I like the batch reaction add suggestion.

[2016-11-22 15:32] MinnDevelopment commented on #182
@SinisterRectus 4/1 is a step in the right direction. Jake already pointed out that the headers will not be changed to use milliseconds and thus the 4/1 would be the most reasonable change to make in this case.

[2016-11-22 22:46] jhgg commented on #182
There is a technical reason as to why it's 1/250ms, and not 4/1. We are not changing it. Bulk adding reactions to use them as buttons is not a use-case of the API we're wanting to support/encourage.

There are talks internally of adding an API to add buttons - but we don't have any official plans yet.

For those curious, the 1/250ms rate limit means that only 1 request can happen concurrently ever

[2016-11-23 00:54] #167 closed, assigned to nobody

[2016-11-23 12:39] Cyan101 commented on #182
What about letting messages ship reactions already on them? you guys talked about using it for polls but if takes a while to load all the reactions if there is say 5 options

[2016-12-04 00:59] jhgg opened #184 "Bot`private_channels` in READY payload"
Due to changes in how we handle DMs, we're no longer able to provide bots with a list of recently opened DMs in their ready payload. ~~This means that this array will always be empty starting later tonight/tomorrow.~~ No ETA until we can resolve the issue below.

Additionally, `/users/@me/channels` will not return a list of recent DMs as well.

[2016-12-04 01:36] khazhyk commented on #184
This seems like it could be potentially breaking for bots receiving DMs from users expecting a channel to exist.

[2016-12-04 02:10] jhgg commented on #184
Yup. We just realized that too. Thinking over how to solve this.

[2016-12-05 08:30] rickselby opened #185 "Channel Deletion requires ADMINISTRATOR not just MANAGE_GUILD"
`DELETE /channels/{channel.id}` for a guild channel is listed as requiring MANAGE_GUILD but it appears to need ADMINISTRATOR permissions.

I'm not sure if this is a documentation issue or that the implementation is incorrect.

[2016-12-05 08:37] khazhyk commented on #185
It requires manage channels. Administrator is not strictly required for most (any?) things.
![image](https://cloud.githubusercontent.com/assets/1542025/20878286/ff9527f0-ba82-11e6-9caa-c4708800fa21.png)

[2016-12-05 08:44] rickselby commented on #185
I swear I tried that last week and it didn't work. It's working now. Mind you, I was creating and instantly deleting the same channel as a test, so that might have been the issue. Thanks - I'll put in a PR to update this.

[2016-12-05 08:46] #185 closed, assigned to nobody

[2016-12-21 22:54] DV8FromTheWorld opened #190 "Incorrect Ratelimit Bucket Information"
After testing, it has been determined that the following statement is not true:

`
By "per-route," we mean that unique rate limits exist for each path you are accessing on our API, not including the HTTP method (GET, POST, PUT, DELETE) and including major parameters. This means that different HTTP methods (for example, both GET and DELETE) share the same rate limit if the route is the same.
`

Whi

[2016-12-26 18:05] itslukej commented on #17
When is the 2500 guild limit going to be enforced? It's been over two months now

[2016-12-26 23:07] b1naryth1ef commented on #17
@itslukej when we deploy it. Bots should already be respecting this limit, and we will likely give no notification when it eventually goes out.

[2016-12-30 23:16] jhgg commented on #190
:+1: We should update the documentation to include the current rate limit buckets, and places where this is an exception to the rule.

[2016-12-31 10:33] theIglooo commented on #135
What about this needs documenting? I can't tell how you'd expand on it.

[2017-01-01 01:17] AraHaan opened #195 "[DELETED]"
Ok, so seems like my discord account was mysteriously deleted or hacked or something even though I had 2fa enabled sadly I was an admin to a server. I was also part of some NSFW servers but was not participating. Was my account deleted by discord or something?

Could it be that my account was hacked or banned for the ``_`` in my email and for it being an yahoo email? I don't see why that would be

[2017-01-01 01:19] AraHaan commented on #195
The last thing I sent on it was messages to a programming server for C++. It was a great server too. Also someone did told me on a server that they had a friend who accidentally seen the token database when they exploited something in the servers of discord.

[2017-01-01 01:21] darichey commented on #195
This really isn't the place for this kind of thing. Contact support.

[2017-01-01 01:22] AraHaan commented on #195
I DID but it wont let me enter my email of seandhunt_7@yahoo.com it says email incorrectly formatted even though it is a valid email and the email I use to login to that discord account. So I had to enter my gmail one so it has something to do with the ``_`` in it. And when I try to login to it on discord online it says the email does not exist.

[2017-01-01 01:23] odensc commented on #195
Please close this issue as it is not an issue with the Discord API. If you are having trouble logging into Discord support, you can also tweet them @discordapp.

[2017-01-01 01:25] AraHaan commented on #195
hmm ok.
*tries to remember my twitter login*

[2017-01-01 01:25] Fabricio20 commented on #195
Ara pls, GitHub is for API support

[2017-01-01 01:26] zatherz commented on #195
There is no "token database".

[2017-01-01 01:31] #195 closed, assigned to nobody

[2017-01-01 01:32] AraHaan commented on #195
Ok, posted on Twitter. I dont like the limited number of characters per message there though.

[2017-01-01 01:33] AraHaan commented on #195
Anyway if any of you still in the Discord Devs server and if you can mention ``@Decorater`` let me know here ok? I need to know for sure if the account was actually deleted or not.

[2017-01-01 01:34] Fabricio20 commented on #195
I can mention your account sir, now talk on Twitter (poke me if you need me to test things). (Adm_Fabricio20)

[2017-01-02 21:53] #179 closed, assigned to nobody

[2017-01-03 14:24] Almighty-Alpaca opened #197 "Documentation of `oauth2/applications/@me`"
The [documentation](https://discordapp.com/developers/docs/topics/oauth2#get-current-application-information) indicates that the response contains the int `flags`, but this key doesn't exist in the actual response.

The question now is if the documentation is wrong or if the response is missing that field? And if it's the latter what is `flags` used for?

[2017-01-03 22:38] jhgg commented on #197
This documentation is actually entirely incorrect. We should fix it.

(Flags is your application flags though - not documented - but it's for whitelisted apps)

[2017-01-04 00:03] jhgg commented on #17
To anyone watching this issue, we (finally) plan to roll this out tonight.

[2017-01-04 12:07] #17 closed, assigned to nobody

[2017-01-06 18:40] LaxSlash opened #198 "Requirement to connect to gateway once before sending messages via the HTTP API is not documented"
The requirement for new bot accounts to connect to the gateway at least once in order to send messages via the HTTP REST API is not documented anywhere.

[2017-01-06 23:43] b1naryth1ef opened #200 "Fix documentation of CHANNEL_UPDATE"
It does not give a proper guild channel object, permission overwrites is on the outter object.

[2017-01-07 00:08] b1naryth1ef commented on #200
imdumb

[2017-01-07 00:08] #200 closed, assigned to nobody

[2017-01-07 09:50] jhgg commented on #155
Closing this issue. We'll update docs once a reason field is actually used (with release of Audit Log)

[2017-01-07 09:50] #155 closed, assigned to nobody

[2017-01-08 15:51] Spiderixius opened #203 "[Feature Request] Expand (edited) to include an overview of edited text"
Hello :) Sorry if this is the wrong repository to request a feature.

I would like to have the option to see an overview of edited text. I have drawn an image illustrating the concept. Basically clicking/hovering over the edited tag will bring up a window showing an overview of what was edited.

![image](https://cloud.githubusercontent.com/assets/10165995/21751147/7d65309e-d5c2-11e6-829c-c61563cf3

[2017-01-08 16:00] Almighty-Alpaca commented on #203
It is indeed the wrong place. The correct place is the [Discord Dream Land](https://feedback.discordapp.com/).

[2017-01-08 16:07] #203 closed, assigned to nobody

[2017-01-08 16:10] Spiderixius commented on #203
Thanks @Almighty-Alpaca I have moved my request there :)

[2017-01-09 00:30] jagrosh opened #204 "Missing fields when viewing a bot's own application"
When making a `GET` request to `https://discordapp.com/api/oauth2/applications/@me` as a Bot user, some fields are missing from the application information. Some of these fields, such as "bot_require_code_grant" and "bot_public" are semi-public information anyway (any user with a bot's oauth link can see if a bot requires code grant or if it is public), so it seems odd that these are not included

[2017-01-10 01:25] jhgg commented on #204
this sounds reasonable. i'll see what i can do.

[2017-01-10 09:25] Bastian opened #206 "Wrong bulk delete description"
While implementing the bulk delete feature to my library, I came across an error in the documentation of the endpoint.
According to the docs this endpoint "Fires multiple Message Delete Gateway events", but at least for me it fires a "MESSAGE_DELETE_BULK" event.

[2017-01-10 10:35] jhgg commented on #206
This is because you are using gateway v6 - these docs are for v5 where it does fire multiple delete events.

[2017-01-10 10:35] #206 closed, assigned to nobody

[2017-01-10 14:18] Bastian commented on #206
But than I don't understand why there is already a documentation for the event?
https://discordapp.com/developers/docs/topics/gateway#message-delete-bulk

[2017-01-10 14:31] SinisterRectus commented on #206
v5 has MESSAGE_DELETE_BULK

[2017-01-10 14:39] Bastian commented on #206
Just tested it again in v5: The event seems to exist in v5, too.

[2017-01-10 14:42] din0s commented on #206
In v5, **both** the bulk delete event and the individual message delete events get fired. I believe that's changed in v6, where only bulk delete gets dispatched.

e: Looking back to [this issue](https://github.com/hammerandchisel/discord-api-docs/issues/40), i might have confused gateway v4 and v5 (?). my bad

[2017-01-10 14:44] Bastian commented on #206
I did not receive any delete event, only the bulk delete event.

[2017-01-10 14:52] SinisterRectus commented on #206
According to #48, "multiple events" were documented prior to an optimization in v5, explained at #40.

[2017-01-13 03:01] jhgg opened #208 "Emergency Breaking API Change"
The bulk_delete endpoint will no longer delete messages older than 2 weeks.

This was not a decision made lightly, as I've finally narrowed down the root cause of the recent API stability issues to people using bulk delete to purge channels with extensive message history, creating excessive table fragmentation within our cassandra cluster.

We'll be introducing a proper "purge channel" endpoint at

[2017-01-13 03:10] LaxSlash commented on #208
Good job tracking down the issue. 👍

[2017-01-13 04:07] Waspyeh commented on #208
Awesome work guys

[2017-01-13 04:08] galenguyer commented on #208
No messages can be deleted with a bot, even messages sent within the last hour.

EDIT: Issue fixed now

[2017-01-13 04:33] #197 closed, assigned to jhgg

[2017-01-13 04:33] #204 closed, assigned to nobody

[2017-01-13 04:39] jhgg commented on #208
When I pushed this out, I deleted a line of code that actually broke bulk deletes entirely. Whoops.

It's fixed now 👌

[2017-01-13 05:16] #151 closed, assigned to nobody

[2017-01-13 05:22] #198 closed, assigned to nobody

[2017-01-13 05:35] #156 closed, assigned to nobody

[2017-01-13 05:54] #190 closed, assigned to nobody

[2017-01-13 07:39] iopred commented on #135
At the time the docs didn't have the *'s on the Guild event describing which fields were present in the update event. This is probably out of date.

[2017-01-13 07:39] #135 closed, assigned to nobody

[2017-01-13 09:47] AraHaan commented on #208
:man_facepalming: Well there goes my fun with bulk delete.

[2017-01-14 05:29] flaw600 opened #210 "Confusion over what Presences are returned by the Ready Event"
My apologies if this question has already been answered and/or documented. I was looking through the docs and noticed that on a Ready event, an array of Presences for the user's friends (not applicable to bots) would be returned. Is that array supposed to contain the Presences for _all_ of the user's friends or just some subset of them? I ask because currently for my app, only a small subset of Pr

[2017-01-17 03:51] jhgg commented on #210
This field is only for user accounts and thus doesn't fall under the scope of this API documentation - nor are we offering support for it.

[2017-01-17 03:51] #210 closed, assigned to nobody

[2017-01-17 04:03] flaw600 commented on #210
@jhgg then why put it in the documentation at all? This API documentation does actually document the user friend Presences in the Ready event, so I'm unclear why the question isn't in-scope. To be clear, the reason that I figured that it would be in-scope is because the API documentation does document the field and we're told to visit this GH repo to submit PR's and ask questions. I'm not asking f

[2017-01-17 05:05] jhgg commented on #210
Looks like those are there erroneously - I'll remove them - as the fields aren't relevant to bot accounts - and thus are irrelevant from this documentation (as we're not documenting the API from a user client perspective).

However, to answer your question though, presences omit offline friends.

[2017-01-17 05:36] flaw600 commented on #210
@jhgg There are a number of fields that are user only that are documented (in addition to the ones that you removed in the latest commit), so is it possible to keep them and just put a note that questions about them won't be answered, for the sake of consistency? The documentation already has notices for conditions that you want to put on for various other fields on information, so it shouldn't be

[2017-01-17 08:15] jhgg commented on #210
Indeed - the documentation does have its flaws. To avoid confusion, we want to write the documentation from the perspective of a bot only - libraries and authors looking to integrate with Discord shouldn't have to worry about user only fields/API endpoints - as we reserve the right to break and change them as we see fit (which makes them a very volatile target to develop against as a 3rd party aut

[2017-01-17 08:45] flaw600 commented on #210
@jhgg My point wasn't to highlight the documentation's "flaws," (my point was that I don't consider them as flaws) but to merely point out that for sake of consistency, it is better to leave the documentation as-is. I'm not suggesting that you don't have the right to break or change the endpoints as you wish, nor am I suggesting that you don't in the future. My point is that you've established the

[2017-01-17 17:36] macdja38 opened #211 "document 1000 series disconnect codes"
The discord docs page https://discordapp.com/developers/docs/topics/gateway#disconnections contains some 4000 series disconnect codes but I've had by bot receive a ton of 1006 and possibly other disconnect codes. Proper documentation for the causes of such disconnects and how to handle them would be fantastic!

[2017-01-17 17:37] macdja38 commented on #211
Apparently those are not discord specific codes.

[2017-01-17 17:37] #211 closed, assigned to nobody

[2017-01-17 17:38] DV8FromTheWorld commented on #211
True, however, @meew0 put together a nice flowchart that contains the specific meanings in relation to Discord: http://i.imgur.com/Lwc5Wde.png

[2017-01-19 00:05] cryptiklemur opened #212 "Update current users' Nick undocumented"
`PATCH /guilds/{guild.id}/members/{user.id}/nick`
`PATCH /guilds/{guild.id}/members/@me/nick`

Seem to not be documented right now.

[2017-01-19 09:27] jhgg commented on #212
Feel free to open a PR :)

[2017-01-19 18:08] jhgg commented on #212
Thanks for the PR #213

[2017-01-19 18:08] #212 closed, assigned to nobody

[2017-02-01 20:44] jhgg opened #215 "Session Start Rate Limit"
We're deploying a change soon that will hopefully automatically reset your bot's token if you're starting way too many sessions within a 24 hour period. Right now - that limit is 1,000 sessions (meaning successfully calling `IDENTIFY` via the websocket -`RESUME`s do not count).

The reasoning behind this is that due to bad restart scripts/code, bots tend to get into "restart loops" - indefinitely

[2017-02-04 04:54] AraHaan commented on #215
Now what if the user loses internet or what if cloudflare becomes evil and decides to terminate the bot's connection to discord forcing you to have to relogin to the bot's account to simulate an ``reconnect`` so that way you can bypass cloudflare crapping on you and so forth without manually having to restart the bot which is *NOT ALWAYS POSSIBLE* if for some reason I am over 100 miles from **my**

[2017-02-04 05:04] TiltMeSenpai commented on #215
1. If the user loses internet, how is it going to try to connect with the websocket?
2. If cloudflare becomes evil and starts dropping ws connections, let's face it. We created skynet and now we're all dead.
3. If downtime really affects you, your bot setup most likely allows you to do shit from 100 miles away. My setup does. It's great.
4. There's no cooldown if you get your token changed. Just g

[2017-02-04 05:09] AraHaan commented on #215
...
first of all my internet is fine. Second of All I SAID it can lose it's websocket even when my internet is functioning properly and makes my bot disconnect because of cloudflare in the first place. Which is why it spams the ``IDENTIFY`` as there is no ``reconnect`` endpoint for when cloudflare does do it. That is something similar to ``IDENTIFY`` but is not quite ``IDENTIFY``.

[2017-02-04 05:20] Auralytical commented on #215
The Gateway API already has a [RESUME message](https://discordapp.com/developers/docs/topics/gateway#gateway-resume).

[2017-02-04 05:29] AraHaan commented on #215
Well then I guess the Client class in discord.py needs to add an function named resume that reopens an event loop for asyncio that it closes and then requests that endpoint. At least it would help for those using the `run` method that have to hack the event loop back open in the first place using ``asyncio.new_event_loop()``

[2017-02-04 05:53] jhgg commented on #215
Not sure your concerns are valid at all. The limit only applies if you reconnect 1000 times in under 24 hours.

Also, intermittent connectivity issues are easily addressable using the resume logic provided by the gateway.

[2017-02-10 17:03] cookkkie commented on #215
So basically, if I have 100 shards, I can deploy 10 updates/fixes only a day, right? 😛 @jhgg

I'll probably have to separate the shards/client from the rest of the bot. So that I can deploy things without restarting the shards. Maybe using **amqp** between the two.

[2017-02-10 18:41] jhgg commented on #215
That's right @cookkkie. Python has hot code reloading functionality though. I know d.py has cog reloading. You shouldn't need to restart your bot to deploy updates/fixes o;

But, separating the gateway connection from the actual app logic is a legit strategy. I think that's how nightbot works.

[2017-02-10 19:59] cookkkie commented on #215
Yep I'll probably setup a rabbitmq. The exhange/queues couple seems great for pushing events. I wonder where should I store the state though.

[2017-02-11 03:54] jhgg commented on #215
you could probably do everything with redis - for state & brokering

[2017-02-15 16:53] SharkFinPro opened #220 "How do i remove a user token?"
I think it has to do with this
https://discordapp.com/api/oauth2/revoke
But i'm not sure how to use it
I currently have 2 tokens, and people have 1 of them, i need to remove one badly or else they will keep banning me from my servers and removing all my friends.
Please Help

[2017-02-15 16:54] abalabahaha commented on #220
If you mean a regular user token, just change your password.

[2017-02-15 16:59] SharkFinPro commented on #220
WOuld that create a new one and get rid of previous 2? @abalabahaha

[2017-02-15 16:59] abalabahaha commented on #220
Yes

[2017-02-15 17:00] SharkFinPro commented on #220
Ok, Ill try that

[2017-02-15 17:01] SharkFinPro commented on #220
YUS THANKS @abalabahaha :D :D
THANKKK UUUU

[2017-02-15 17:01] #220 closed, assigned to nobody

[2017-02-16 03:42] AraHaan commented on #215
Hmm isn't it possible to log the connection state (and save it to a file) and restart a bot so fast that instead of it doing ``IDENTIFY`` that it could use ``RESUME`` instead? or no?

[2017-02-20 01:54] AraHaan commented on #215
hmm the only challenge about reloading the stuff is that the cogs cannot be shared in all shards. Making you have to somehow hack reload all the cogs for all the shards somehow (which can be a challenge if you cant be on a server that has every last shard it has.)

[2017-02-21 07:37] ZornTaov opened #224 "android app back functionality"
would it be possible for you to change the android app back button use to instead first open the left side panel with server/channel list before closing the app on the next press of back? wasn't sure where to post this issue.

[2017-02-21 07:39] khazhyk commented on #224
feedback.discordapp.com

[2017-02-21 07:46] #224 closed, assigned to nobody

[2017-02-27 19:26] cryptiklemur opened #226 "Add resources like a permission calculator"
Just making an issue for the comment @b1naryth1ef made in #225

People ask for a permission calculator all the time.
Might be handy to have that, along with a generatable oauth URL in the application page.

[2017-03-17 03:59] thegnome249 opened #228 "nuke_1"
long((time.time() - 14 * 24 * 60 * 60) * 1000.0 - 1420070400000L) << 22

[2017-03-17 04:00] #228 closed, assigned to nobody

[2017-03-21 21:10] Fiddlekins opened #231 "Voice Connection sending voice packet with what seems to be malformed RTP header"
Okay, so I'm attempting to use the discord.js library to write a bot that joins VC and records the audio.
I've been having problems with this: for some users the incoming voice data cannot be decoded from opus into PCM.

I've finally traced what might indicate what the problem is: the first byte of the voice packet that comes in over the UDP channel is a different value to what the docs say it wil

[2017-03-21 21:13] AraHaan commented on #231
I would so go for the example packats I would like to se? So you are experimenting with voice receive on a bot right?

[2017-03-21 21:16] Fiddlekins commented on #231
Here's a link to 10 packets worth: https://my.mixtape.moe/shamdc.zip
These are the final 10 packets for a single transmission, named after the timestamp they were received at (and thus chronologically ordered) so you should see 5 that contain not silence followed by 5 that are the terminating silent frames.

And yes, this is a bot. The webapp client doesn't have any trouble playing back the audio

[2017-03-21 21:23] devsnek commented on #231
cc @programmix @hydrabolt just in case

[2017-03-21 23:28] Fiddlekins commented on #231
So... I've found a bandaid resolution to this issue.

You take your voice packet, decrypt it as you'd expect to, get the opus data. Try to decode it (I've been using node-opus and opusscript to attempt this, far as I know they are both effectively libopus) and if it says it can't decode it, then chop off the first 8 bytes and try again.

Needing to ditch the first 8 bytes seems so far to correlate

[2017-03-25 02:01] Yahweasel commented on #231
~~I have the same issue, but also when I've stripped off the faulty bits, I've gotten decodeable but still garbled audio. Not random, but garbled.~~ Turns out I wasn't stripping the padding properly. The audio data is fine.

In tests, these broken prefixes only come up in data sent by the browser client, not the desktop client. It's bizarre that that matters, but there we are.

After a bit of diag

[2017-03-25 21:27] EndenDragon commented on #226
@aequasi For now, this may be helpful! https://discordapi.com/permissions.html

[2017-03-25 21:34] EndenDragon opened #232 "What does the docs mean when Redirect URIs to be matching partially?"
At the applications page it stated

What does it mean when a url must match **partially**? I have a site that allows users to authenticate via oauth and also add the bot to their guild. Both are under similar (but not the same) url endpoints.
For instance:
- `http://example.com/user/oauthcallback`
- `http://example.com/user/addbot`

Both of which are under `/user/` endpoint. When I typed `http://e

[2017-03-25 22:21] cryptiklemur commented on #226
Yeah, multiple Permission calculators are available in the API server.

[2017-03-27 07:43] night commented on #232
This looks like it's mislabeled. They are exact match in the library we use for oauth2.

[2017-03-27 08:07] night commented on #231
The data between clients basically pass through our servers unmodified. If there's any malformed data in third party libraries you should open issues on their respective bug trackers.

Additionally, it does appear that Google may send time offsets. You can check a unit test for this in their Chromium WebRTC code showing this: https://chromium.googlesource.com/external/webrtc/+/master/webrtc/module

[2017-03-27 08:07] #231 closed, assigned to nobody

[2017-03-27 17:30] Fiddlekins commented on #231
Thanks for the clarification night.

I think it would be fair to say that the [Discord docs](https://discordapp.com/developers/docs/topics/voice-connections) could use updating to reflect this fact though, right?

[2017-03-27 19:02] EndenDragon commented on #232
@night In that case, would it be possible if I suggest switching over to a partial URL system?

[2017-03-27 21:55] night commented on #232
I don't think there's much value to a partial URL system, and it opens up potential for attacking sites which are not properly handling redirects.

[2017-03-27 23:36] EndenDragon commented on #232
@night Would get query parameters work?

[2017-03-29 18:43] night commented on #232
No, they do not.

[2017-04-03 17:31] night commented on #232
This is fixed in master, will be deployed soon™

[2017-04-03 17:31] #232 closed, assigned to nobody

[2017-04-03 21:42] LaxSlash opened #238 "Channel topic is exposed to users that don't have read messages"
Exactly what issue title says.

[2017-04-03 21:43] b1naryth1ef commented on #238
This is intended.

[2017-04-03 21:43] #238 closed, assigned to nobody

[2017-04-07 07:22] yupi2 opened #240 "Incorrect response field-name in docs"
In [Get Current Application Information](https://discordapp.com/developers/docs/topics/oauth2#get-current-application-information) there's a `bot_requires_code_grant` documented yet the field in the actual response is `bot_require_code_grant`. Note the lack of the `s` in the response's field-name.

[2017-04-08 04:04] #240 closed, assigned to nobody

[2017-04-14 19:29] Krognol opened #250 "User Settings Object not documented."
[Clicking the this link in the Gateway section of the docs takes you no where.](https://discordapp.com/developers/docs/resources/user#user-settings-object)

[2017-04-19 08:03] night commented on #250
fixed by https://github.com/hammerandchisel/discord-api-docs/commit/7413e8ae62bb1d475fc0b4b2b3aef9086375e5e8

[2017-04-19 08:03] #250 closed, assigned to nobody

[2017-04-24 06:43] harrisonhoward opened #253 "setGame, bot removes "Playing" tag."
When using
`    if (message.author.id === '190775609532612608') {
        if (!argresult) argresult = null;
        if (message.content.startsWith(prefix + 'setgame')) {
        this.client.user.setGame(argresult)
           }
       }
       else
       {
           message.channel.sendMessage(`${message.author}, You do not have Administrative permission to use that command`)
       }`

Code in D

[2017-04-24 08:23] jhgg commented on #253
Hi, @Forbidden-Duck

This issue tracker is for issues related to the Discord API & Documentation only. Looks like the right place to get help is here: https://github.com/WeebDev/Commando

[2017-04-24 08:23] #253 closed, assigned to nobody

[2017-04-25 23:08] cookkkie opened #254 "Receiving INVALID_SESSION after sending IDENTIFY"
Hi, I noticed this behavior happening a lot. Does that mean something in particular, or maybe I'm doing something wrong?

[2017-04-26 02:26] jhgg commented on #254
Either means your session was unable to start - because of an internal error - or because you are connecting too fast and hitting the rate limit.

[2017-04-26 15:32] cookkkie commented on #254
Ok, then can I have let's say two instances of shard 0-100? Or would I receive an INVALID_SESSION too?

Never mind, seems to work 👌

[2017-04-26 17:12] #254 closed, assigned to nobody

[2017-04-30 21:52] karbowiak opened #258 "[BUG] POST /api/invites/<code> Non functional?"
Hi there!

So it seems that the POST endpoint for /api/invites/ is broken.

If you do a post to it with an invite code, and `Authorization: Bearer <accessToken>` it returns
```{"code": 20002, "message": "Only bots can use this endpoint"}```
But the documentation says specifically bots can't use this endpoint.

Looking at the Discord API server in #api, it seems i'm not the only one with this issue

[2017-04-30 23:31] jhgg commented on #258
You need to have a bot linked to your application - and the bot needs to be in the server that you are accepting the invite to.

Feel free to re-open if you have any other questions - or ask in the #api channel on the server.

[2017-04-30 23:31] #258 closed, assigned to nobody

[2017-05-08 17:10] ChrisTalman opened #262 "Audit Logs Documentation"
Have the API aspects of the Audit Logs been documented? I have not been able to locate any documentation on this topic.

[2017-05-08 17:13] z64 commented on #262
No

[2017-05-08 17:50] ChrisTalman commented on #262
@GusCaplan Cool. I'm not in any rush, personally. I'm just curious to see what has been exposed in the API. The documentation for the Discord API has been very nice, and I was a bit surprised that the Audit Logs have not been documented just yet. I'll look forward to when they are. 😉

[2017-05-22 12:02] MinnDevelopment commented on #262
Is there a preferred way to send unicode emojis / special characters via the `X-Audit-Log-Reason` header? The standard only allows using iso-8859-1.

[2017-05-23 14:46] ScreamZ opened #264 "OAuth2 Skip User Consent Screen for Repeated Authorizations"
hey,

Added an issue on the forum for that problem : https://feedback.discordapp.com/forums/326712-discord-dream-land/suggestions/19371859-oauth-authorization-endpoint-using-click-button-an

Could be nice to improve the doc on that point, I think many people get interested in it...

Best regards

[2017-05-23 17:30] Rapptz opened #265 "Audit Log Bugs"
Audit logs have a couple of odd behaviours currently that could be by design or a bug.

- X-Audit-Log-Reason does not support non-ASCII characters portably.
  - This is because headers are [essentially ASCII only](https://stackoverflow.com/a/4410331/1381108)
  - A good solution IMO would be to support unicode escapes so `'\ud83d\udd2b'` is equivalent to :gun:
- Some bot actions aren't logged.
  -

[2017-05-27 16:49] jagrosh commented on #265
Additionally, action type 72 (message delete) does not include the ID (or IDs) of the message(s) that were deleted. This means that, even with an external cache of messages, it is impossible to detect which message a moderator deleted if the user deletes another one of their own messages in the same channel around the same time. A possible solution would be to add an array of message IDs to the op

[2017-05-28 00:29] devsnek commented on #265
@jagrosh are you sure target_id doesn't have the message id

[2017-05-31 08:52] Rapptz commented on #265
Just discovered that if the action type is an invite related one (`40`, `41`, or `42`), and the `inviter_id` points to a user that left the guild, that user is not in the `users` object.

[2017-05-31 20:29] jhgg commented on #265
## Todo:
- [x] turn on role update logging for bots (This is live now)
- [x] use uri encoding for X-Audit-Log-Reason.
- [x] fix populating users with `inviter_id`
- [x] deploy

## Wont fix:
 - we aren't logging bot delete/bulk deletes from bots.
 - we aren't logging self deletes

[2017-06-08 04:12] MinnDevelopment commented on #265
I've come to notice that reasons added via the `X-Audit-Log-Reason` header on a ban do not show up in the created ban but only in the audit log entry.
Using the query parameter works all the time but the header does not. This isn't a big issue but I would like to know whether this is intended or not.

[2017-06-08 05:33] jhgg commented on #265
This is intended behavior, the `x-audit-log-reason` header is just for the audit log, and has nothing to do with the ban reason.

[2017-06-13 13:14] ghost opened #271 "Wrong SteamID instance"
Discord currently stores and/or exposes a users SteamID64 with the wrong instance. [The instance for user accounts is 1, but Discord uses 0.](https://developer.valvesoftware.com/wiki/SteamID#As_Represented_in_Computer_Programs)

![Screenshot](https://img.guurgle.me/7a2d-4c3b.png)
As shown in the screenshot, the first SteamID64 is the one Discords API/front-end exposes, the second one is the one it

[2017-06-15 14:44] allen-liaoo opened #272 "Unknown Last Message ID"
When I request getting guild channels ([Get Guild Channels](https://discordapp.com/developers/docs/resources/guild#get-guild-channels)), one of the text channel has no message. I remember I use a bot to bulk delete messages in that text channel, which was sent by a Github webhook. When I received the json of the text channel,

[code]
Where the "last_message_id" is suppose to be null. So the proble

[2017-06-15 21:52] b1naryth1ef commented on #272
This is actually an intentional design decision / limitation. We do not update `last_message_id` when a message is deleted from a channel. This value is generally used to get a list of messages using the before/after syntax of that endpoint, which properly works with a message ID that doesn't exist.

I've adjusted the docs to be more clear about this.

[2017-06-15 21:52] #272 closed, assigned to nobody

[2017-06-16 00:44] night commented on #271
This is a design decision that was made back when Steam sync was added and cannot be changed.

[2017-06-16 00:44] #271 closed, assigned to nobody

[2017-06-17 23:13] allen-liaoo opened #275 "Permission For Modify Channel"
Should the [Modify Channel](https://discordapp.com/developers/docs/resources/channel#modify-channel)'s permission be `Manage Channels` instead of `Manager Guild`? (Is Manage Guild called "Manage Server" in the Discord UI?)
I tested it and I got 403 FORBIDDEN for managing channels with only `Manage Guild` permission.

[2017-06-18 15:59] bkuhl opened #276 "Permissions needed for creating Webhook via OAuth"
I have a site where visitors login with OAuth and then my objective is to create a webhook via OAuth.  The [OAuth2 webhook documentation](https://discordapp.com/developers/docs/topics/oauth2#adding-webhooks-to-channels) is vague in this area, providing no details on what the request should look like:

I'm using the _exact_ same form values I use for OAuth (see below) and am seeing a `Client error:

[2017-06-19 13:13] #276 closed, assigned to nobody

[2017-06-19 13:15] bkuhl commented on #276
`'grant_type' => 'authorization_code',`

needed to be

`'grant_type' => 'client_credentials',`

[2017-06-19 13:21] bkuhl opened #277 "webhook.incoming scope not including webhook in response"
I believe the OAuth process for creating `webhook`'s is not providing the correct response.  I spent some time in the Discord API and a few others agree this is a bug.

Directing the user to select server/channel:
[code]

Upon submission of that form, the webhook is created.  Next I take the code and attempt to get the `webhook`:

[code]

This response does **_not_** include a webhook object:

[co

[2017-06-20 01:05] night commented on #277
`bot` and `webhook.incoming` are one-time authorizations that do not get saved to access tokens for future use, which is why they are not rendered in the `scope` of the access token.

[2017-06-20 01:05] #277 closed, assigned to nobody

[2017-06-20 01:09] #275 closed, assigned to nobody

[2017-06-20 01:15] bkuhl commented on #277
@night Can you help me see what I'm missing then?  The [OAuth webhook documentation](https://discordapp.com/developers/docs/topics/oauth2#adding-webhooks-to-channels) suggests that the endpoint from the Discord API should include a `webhook` object.  It's even in the example response.

[2017-06-20 02:04] night commented on #277
Ah, so you're saying that the `webhook` payload is not being returned. Apologies. That would be because you're requesting a token with client credentials. We currently only support authorization code flow for that at present (webhooks are not a real scope internally, but are a state on authorization code grants).

[2017-06-20 02:05] bkuhl commented on #277
Hrmm...

Sorry, I'm not sure I understand how this impacts what I"m trying to do and what you're saying isn't possible.

Are you saying the docs describe functionality that isn't possible?

[2017-06-20 03:28] bkuhl commented on #277
It sounds like you're talking about this as an internal developer who understands the inner workings of how this is built.  As a consumer, does webhooks not being a real scope something that should matter to me?

[2017-06-20 04:48] night commented on #277
It's not really inner workings, we just do not support what you're trying to do. You need to use the authorization code flow: https://tools.ietf.org/html/rfc6749#section-4.1

[2017-06-20 04:51] bkuhl commented on #277
This is what we do when we log the user in via OAuth.  I don't understand how this user workflow is supposed to work with adding webhooks via OAuth.

[2017-06-20 04:53] night commented on #277
Please see our existing documentation: https://discordapp.com/developers/docs/topics/oauth2#adding-webhooks-to-channels

[2017-06-20 04:57] bkuhl commented on #277
Yes... that's the documentation that has led me up to this point.  The above code is an attempt to add the webhook via OAuth.  The code sample I provided does, to the best of my understanding, meet this criteria:

Which is why I posted here about the webhook object missing.  I initially had `'grant_type' => 'authorization_code',` but kept on getting a 401 UNAUTHORIZED.  Using `client_credentials`

[2017-06-20 05:01] night commented on #277
As the documentation states (as well as I've said a couple times already), it is for the authorization code flow. If you try using client credentials you won't be able to get a webhook. If you're struggling to implement OAuth2, I suggest relying on a pre-existing library or finding more readable reference documentation on the protocol.

[2017-06-20 05:09] bkuhl commented on #277
`it is for the authorization code flow` - You're saying use the authorization flow for creating a webhook, correct?  That's what you mean by "it is for".  So essentially the same OAuth steps, but with `webhook.incoming` as the scope, right?

[2017-06-20 05:12] bkuhl commented on #277
:sigh: I must've changed something else along the way... using `authorization_code` is working this time.... thanks for responding to this ticket so diligently.

[2017-06-20 23:31] allen-liaoo opened #278 "Multiple Guild Role Update Events"
When I update a single role (For example, change the role from `not mentionable` to `mentionable`), multiple GUILD_ROLE_UPDATE events get fired. There are 7 roles in the guild (Including `@everyone` role), and 8 role update events were received. The first seven are json informations about all the roles (but not updated information), and the eight one is the updated information.
Is this a bug or?

[2017-06-20 23:41] b1naryth1ef commented on #278
This does indeed look to be a bug with the way the frontend saves roles, I've raised the issue internally with our frontend team. That said, this is no really the medium for that type of bug report, so I'm going to close this. If you find issues like this in the future, please report in in the [Discord Testers](http://discord.gg/discord-testers) server. Thanks!

[2017-06-20 23:41] #278 closed, assigned to nobody

[2017-06-21 12:07] MattariOnline opened #279 "Usernames listed as unavailable when there are still available entries for said username; this also incorrectly uses up one of two hourly username changes."
While attempting to Bug Hunt for Discord Testers, I discovered two issues with usernames. Unfortunately, no kudos in Discord Testers as I was redirected here.

**The first issue:**
When changing your name, where it would result in your discriminator ID changing (such as for gags, or in this case, bug hunting), if you attempt to change your username back and there is too large a number of users wit

[2017-06-21 15:23] devsnek commented on #279
there is a new limit where you can only change your discrim once per day

[2017-06-21 16:37] b1naryth1ef commented on #279
All of this is intended behavior.

[2017-06-21 16:37] #279 closed, assigned to nobody

[2017-06-21 20:45] MattariOnline commented on #279
Hm, well the latter issue is just result of lazy programming, as the choice of a username which is unavailable should not count towards the hourly limit. Just so it's on record here.

[2017-06-23 20:52] sudojunior opened #280 "Message Embed Header Link not redirecting."
At line 100 in [this file](https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/resources/Channel.md) the link to redirect a user to the message embed header creates a new tab in the browser when using the documentation [here](https://discordapp.com/developers/docs/resources/channel) *not on github because github doesn't recognize the links that the site documentation uses*.

![ima

[2017-06-23 23:23] heinreich opened #281 "Suddenly having trouble using 'embeds'"
I've been working on a project using webhooks and am using the 'embeds' content type in the JSON.
It's been working for about a week and suddenly broke today, so I'm asking for your assistance on finding what is causing the 400 status code.

I'm having no troubles using the 'content' content type to POST simple text, but I get a 400 response when I try using the embeds.

This is what I've been try

[2017-06-23 23:27] heinreich commented on #281
It was my fault, I didn't specify the name of the json paramter in my python 'request' request. Is working just fine now.

[2017-06-23 23:27] #281 closed, assigned to nobody

[2017-06-23 23:34] jhgg commented on #265
these have been deployed as of like last week. whoop.

[2017-06-23 23:34] #265 closed, assigned to nobody

[2017-06-25 01:30] Hinara opened #282 "[Voice_Connections] 'Local' IP and UDP port"
Local is used to describe the user's internet IP address, however 'Local' is commonly used to describe your current computer IP address.

Example :

I think 'External' or something like that will be more appropriate than 'Local'

[2017-06-25 02:27] Ryonez commented on #282
Or even wanip.
LAN - Local Area Network (Local home network)
WAN - Wide Area Network

Local is a incorrect term for the wan IP.

[2017-06-27 21:33] #280 closed, assigned to nobody

[2017-06-27 21:37] #282 closed, assigned to nobody

[2017-06-30 22:56] Z3USS opened #283 "A question about selfbot"
I'm starting to mess with the discord API now and I was seeing that it has Bot and SELFBOT, is it allowed to use SELFBOT to play music or just what can BOTS do?

[2017-06-30 23:22] b1naryth1ef commented on #283
Closing, self bots are not allowed nor supported.

[2017-06-30 23:22] #283 closed, assigned to nobody

[2017-07-04 21:57] jhgg commented on #184
We're going to solve this by dispatching a CHANNEL_CREATE event before each DM message is received for bot accounts. Based on our calculations this should be very cheap.

Gateway v7 may contain the channel info in the message create event.

[2017-07-04 22:22] kantenkugel commented on #184
Will the CHANNEL_CREATE event also be fired for MESSAGE_DELETE and MESSAGE_EDIT of DMs?

[2017-07-04 22:22] jhgg commented on #184
no - just as it never has been.

[2017-07-04 22:23] khazhyk commented on #184
This seems like it could be potentially breaking for bots receiving DM deletions or edits from users expecting a channel to exist.

[2017-07-04 22:23] kantenkugel commented on #184
yea but before, we already had the channel via READY event

[2017-07-04 22:24] kantenkugel commented on #184
also MESSAGE_PIN

[2017-07-04 22:25] jhgg commented on #184
this was always the case already. if you close a channel and someone edits a message in the channel, we don't send a new channel_create event.

[2017-07-04 22:25] khazhyk commented on #184
yes, but it is not strictly necessary that a message_create is seen before a message_delete, reaction_add, etc.

Edit: guess some important context here is currently bots are limited to 10 open DMs at a time currently, so many of the issues noted above should be already occuring.

[2017-07-04 22:32] jhgg commented on #184
we've never sent `channel_create` events for those events if the DM was closed on the bot's end.

[2017-07-04 22:40] night commented on #184
we also auto-close dms when you have too many open, so it should be expected functionality that you get a create channel event on message and have a non-existent channel for other actions.

[2017-07-04 23:08] hedgehog1029 commented on #184
I think the point here is that on new connection, bots which do not know of currently open DM channels will break or fail quietly if they receive any payloads referencing the DM channel which the gateway believes is open, but the bot has no reference to.

Unless I don't know enough about this system and DMs are closed quite a lot.

[2017-07-05 00:21] jhgg commented on #184
the point of the change is for all message create events for a DM we will be issuing a channel create event - so the bot should know what the channel is.

[2017-07-06 14:46] d3ullist opened #287 "Firefox: developer intro shows whitepage"
on W10 proffesional - Firefox 54.0.1 (32-bits)

try to load https://discordapp.com/developers/docs/intro

a white page shows up, and the following error occurs

https://gyazo.com/c2d5c49b573a57321c08dab0e48950ba

[2017-07-06 14:50] ghost commented on #287
Can reproduce, Ubuntu 16.04 Firefox 54
Works fine on Chrome.

[2017-07-06 14:55] allen-liaoo commented on #287
Same problem here. I'm on MacOS Sierra, using Firefox 54.0.1(64 bit).
The whole site has the problem (The page turns white after loading).
Works fine on Safari.

[2017-07-06 17:11] allen-liaoo opened #288 "Webhook Name Max Length"
Is the max length of a webhook's name 32 or 100?
It says 32 when editing the webhook,
![ss 2017-07-06 at 12 09 09 pm](https://user-images.githubusercontent.com/16383622/27923477-191e34a0-6244-11e7-83f8-d61de2fb5588.png)
but 100 when creating the webhook (In the api doc)
![ss 2017-07-06 at 12 09 21 pm](https://user-images.githubusercontent.com/16383622/27923476-191e0b2e-6244-11e7-937c-e180f8aff82d.

[2017-07-06 17:22] #288 closed, assigned to nobody

[2017-07-06 18:35] jhgg commented on #287
We're aware of the issue. Some refactoring on our markdown generated pages caused an issue on FF. We should be pushing a fix soon.

[2017-07-07 01:21] #287 closed, assigned to nobody

[2017-07-07 04:08] jhgg commented on #184
:white_check_mark: This change has been deployed.

[2017-07-07 04:08] #184 closed, assigned to nobody

[2017-07-07 15:59] vladfrangu opened #289 "No rate limited message when getting ratelimited by making too many bot accounts"
If you make bots on the webpage, following the cycle of `create app -> create bot account -> delete bot account`, after a while you'll reach a point where the "Create Bot App" button does nothing.

In the console, theres an output of an error, as shown here:
![image](https://hypesquad.dabbit-pri.me/5dfd28.png)

I suppose there should be a popup saying `you are making too many bot accounts, please

[2017-07-07 16:05] cookkkie opened #290 "Invalid Session out of nowhere"
What does it mean when you receive an invalid session OP with `d: false` and you're not actually resuming and you already received a READY payload?

[2017-07-07 16:07] MinnDevelopment commented on #289
The important question is why you make so many applications

[2017-07-07 16:12] shortcord commented on #289
That's QA, doing things that don't make sense so you know what happens to your app when someone inevitably breaks it.

Regardless, it should definitely show a dialog or something rather than breaking.

[2017-07-07 16:14] b1naryth1ef commented on #289
This is an old and known bug, which is quite low priority for exactly the point @MinnDevelopment was alluding too with his question.  Closing as this does not relate to the API or docs themselves.

[2017-07-07 16:14] #289 closed, assigned to nobody

[2017-07-07 21:19] night commented on #290
As the docs state, the data field is a boolean for if the session can or cannot be resumed. There's certain cases where a session can disconnect internally or even die completely, and this boolean accounts for recoverability of your session.

[2017-07-07 21:19] #290 closed, assigned to nobody

[2017-07-09 13:43] nhooyr opened #291 "timestamp field of embed object is of type timestamp and not type date"
The timestamp field of the [embed](https://discordapp.com/developers/docs/resources/channel#embed-object) object is of type timestamp and not type date.

[2017-07-09 13:55] SinisterRectus commented on #291
I think the bigger issue is that "timestamp" has different meanings depending on where it is used in the API. In messages it is an ISO8601 string with microsecond precision and +00:00 for the tz, which I assume is from a [Python datetime.](https://docs.python.org/3/library/datetime.html#datetime.datetime.isoformat) In TYPING_START, is is a Unix time in seconds. In embeds, it is an ISO8601 string w

[2017-07-09 14:11] nhooyr commented on #291
The TYPING_START timestamp is already clarified: https://github.com/hammerandchisel/discord-api-docs/commit/f60fad215ca0183e6648d47824ce301222a3cf65

For messages and embeds, their timestamps are of type timestamp and in fact, time libraries can handle the differences between their timestamps transparently as long as you parse it as a ISO8601 (or RFC3339) timestamp. Using date as the timestamp typ

[2017-07-09 14:17] SinisterRectus commented on #291
If it were up to me, I would have the type be "string" and leave the details for the description, since I don't consider "timestamp" to be a proper type. You and Discord can decide on that, but I just wanted to point out that there is a difference.

[2017-07-09 14:20] nhooyr commented on #291
I agree. That would aid in clarity.

[2017-07-09 15:48] nhooyr commented on #291
Argh, now I noticed similar issue in the guild object. The joined_at field is a RFC 3339 timestamp too right. It's type is "datetime". I think that should be changed then too. I'm writing a discord API library so I'm gonna go through every single resource and find all instances of this and then update my PR.

[2017-07-09 15:49] SinisterRectus commented on #291
Yes, and joined_at for members.

[2017-07-09 19:32] night commented on #291
if you want you can rename them all to `ISO8601 timestamp` but i don't see the value in having a custom definition for something that's basically a standard in JSON (though not defined as such).

[2017-07-09 19:41] Rapptz commented on #291
The timestamps aren't actually 100% compliant ISO8601.

It's more like this regex that is a subset of ISO8601:

`^(\d{4})-(\d\d)-(\d\d)([T ](\d\d):(\d\d):(\d\d)(\.\d+)?(Z)?)?$`

In particular it doesn't accept timezone aware ISO8601, e.g. `+00:00` or `+01:00` etc. This inconsistency would raise Bad Request to be responded in e.g. embed timestamps. Even though for other fields, such as `Message.tim

[2017-07-09 19:45] night commented on #291
@Rapptz that used to be the case, but I fixed it a while back. It should indeed work now :)

[2017-07-09 20:08] nhooyr commented on #291
@night is what I did in #292 fine? I added a section to Reference.md explaining the timestamp format and renamed every instance of datetime and date to timestamp. Or should I instead just rename every single type to RFC 3339 timestamp and remove the extra section?

[2017-07-09 20:29] night commented on #291
I would prefer you reference them as `ISO8601 timestamp` if anything. RFC 3339 is basically ISO8601 but there are subtle differences. The extra section isn't really necessary.

[2017-07-09 20:40] nhooyr commented on #291
Ok done.

[2017-07-10 22:41] nhooyr opened #294 "JSON param links do not link correctly"
E.g. on https://discordapp.com/developers/docs/resources/channel#create-message if you click the button next to `JSON Params`, rather than linking you to that table, it links you to the JSON param table for Modify Channel.

This happens throughout that page and others.

[2017-07-10 22:43] b1naryth1ef commented on #294
@amadeus can you have someone take a look at this?

[2017-07-11 00:13] SEAPUNK commented on #294
Issue is the headers having the same name, thus generating the same element ID. Browser can't tell which is which from the link alone.

The proper solution will be to give the headers unique names, like "Modify Channel JSON Params", rather than just "JSON Params". My only concern is that if we change this, we should probably change most, if not all of the table headers to follow that same conventi

[2017-07-11 00:20] b1naryth1ef commented on #294
We auto generate the headers, I imagine we can do this programmaticly to ensure there is more entropy in the anchor.

[2017-07-11 00:23] SEAPUNK commented on #294
Yeah, I'm digging through it right now. I want this to be more deterministic though, to ensure the IDs will remain more or less the same throughout builds, so the unchanged content's links still work.

[2017-07-11 00:25] b1naryth1ef commented on #294
I'm guessing the easiest and most consistent way is to use the last header of a larger size (e.g. h3 -> h2).

[2017-07-11 01:08] SEAPUNK commented on #294
I have a patch ready. Once merged, the links should be fixed on next deploy.

[2017-07-11 02:44] Artuto opened #295 "[Suggestion] Adding a way to see if user is "premium""
Well, today a friend and me were wondering if on Discord API was a way to know if a user has a "status" like Nitro, Hype Squad, etc.

And we'd like to implement it into our bot (I know that depends on the library).

[2017-07-11 05:09] devsnek commented on #295
Bots cannot see user profiles, which was a deliberate choice.

[2017-07-11 17:19] msciotti commented on #294
Thanks @SEAPUNK! Saved me the trouble of going and editing all the anchor names and links

[2017-07-11 17:53] SEAPUNK commented on #294
Patch is merged. Will be fixed on next deploy, which will likely happen sometime today.

[2017-07-11 17:53] #294 closed, assigned to nobody

[2017-07-11 21:11] Artuto commented on #295
Maybe a new way on the API to check it? Without checking profiles

[2017-07-11 22:23] cookkkie opened #296 "Consistant Map keys types in etf mode"
In etf mode, map keys are either strings or atoms. Is it planned to switch them to atoms only?

[2017-07-12 00:59] night commented on #295
Why do you need this information? It is currently intentionally only available on the profile.

[2017-07-12 01:33] z64 commented on #295
Most people I've seen ask this  (a fair amount since badges came out) want this information to provide "their own nitro perks" - a special role, channel, access to bot features - in their own servers, like one might do for integrations (twitch/yt subs) or other kinds of connections.

Personally, at least with regards to nitro, I dont think I'd want to see a lot of bots that gate features like that

[2017-07-12 04:51] devsnek commented on #296
or maybe strings only <.<

[2017-07-12 04:53] vishnevskiy commented on #296
Nope, this would be just too much work and computation to standardize.

[2017-07-12 15:58] Artuto commented on #295
Hmm No, I want this because I have a User Info command and would be cool
showing an emote of Nitro/HypeSquad.

El jul 11, 2017 8:34 PM, "Zac Nowicki" <notifications@github.com> escribió:

[2017-07-12 16:00] nhooyr opened #297 "Guild delete endpoint returns 204 No Content"
https://discordapp.com/developers/docs/resources/guild#delete-guild says that it should return the deleted guild but it does not. It returns 204 No Content instead.

It definitely deletes the guild though.

[2017-07-12 16:20] devsnek commented on #295
that is fine, but not everyone is you. the above scenario would 100% happen, and I don't think the pro of "nitro emojis in user info" outweigh the cons of people making the platform worse with pay2use bots.

[2017-07-12 16:49] nhooyr commented on #295
I think you guys are exaggerating your reasoning. Why would someone gate features for nitro users? What do they get out of it? Nothing. I don't see it happening, at least not on a scale where it becomes a real problem.

And discord could instantiate a policy to ban bots that do that.

[2017-07-12 16:56] Artuto commented on #295
No, you are misunderstanding, I'll never make a "nitro-only" feature on my
bot (I dont have even nitro). I only want a way to check if a user has
Nitro or something to add the Nitro emoji to their profile info.

[2017-07-12 17:01] z64 commented on #295
@nhooyr quoting myself, I've already said that I'm exaggerating:

Myself, I wouldn't put it past some people (and I've seen several who have explicitly said they wanted to do something like I described), regardless of how "dumb" it might be in the bigger picture.

Moreover ; enforcing a "ban" on people who do this is a waste of Discord's time (if they were inclined to do so) when they can just not

[2017-07-12 18:10] #296 closed, assigned to nobody

[2017-07-12 18:19] #297 closed, assigned to nobody

[2017-07-12 18:22] night commented on #291
resolved with 5a4812473012ae08738503747d708b92848ca897

[2017-07-12 18:22] #291 closed, assigned to nobody

[2017-07-12 18:33] night commented on #295
This is not something we want to expose to bots at this time.

[2017-07-12 18:33] #295 closed, assigned to nobody

[2017-07-14 20:52] jhgg commented on #262
@MinnDevelopment you can send it as url encoded utf8.

Python example:

[code]

[2017-07-14 21:07] MinnDevelopment commented on #262
I had already implemented it as soon as it was deployed, thank you for trying though!

[2017-07-17 18:37] TTtie opened #301 "NSFW channels cannot be unset, they are set as NSFW again when reloaded in the client."
### Reproduce steps
- Make a channel NSFW
- Unset the NSFW channel
- Reload Discord and see the channel settings (or refetch the channel data)

### Expected result
Channel isn't NSFW and Channel.nsfw is false

### Actual result
Channel persists to be NSFW and Channel.nsfw is not present

[2017-07-17 19:13] Alcaro commented on #301
Pretty sure this isn't the right repo, but on the other hand, I don't think there is a correct repo; most of Discord seems to be closed source.

Either way, can confirm this bug exists. It's quite annoying.

[2017-07-17 19:17] z64 commented on #301
Refer to [the Discord Tester's server](https://discord.gg/discord-testers) as the proper place to report bugs. FWIW, I can't reproduce this. This issue tracker is almost exclusively for topics surrounding Discord's API documentation and sometimes as a means to announce upcoming breaking changes.

~~Additionally, if you didn't know, the only thing that dictates if a channel is NSFW is whether the c

[2017-07-17 19:20] TTtie commented on #301
@z64 The Bug Hunters sent me here
![screenshot_20170717-212015](https://user-images.githubusercontent.com/17570452/28285630-c6fbd0b0-6b35-11e7-91d4-478e1e622f1b.png)

[2017-07-17 19:25] TTtie commented on #301
Closing because of this not being a released feature, wrong place to report it and being a partial client bug. ![Image](https://cdn.discordapp.com/attachments/168311874624946176/336587869198221312/unknown.png)

[2017-07-17 19:25] #301 closed, assigned to nobody

[2017-07-19 17:22] msciotti commented on #153
Message types are now documented as of https://github.com/hammerandchisel/discord-api-docs/commit/af57ad329a5278f22be18556859b30ad6eb3e5bb

[2017-07-19 17:22] #153 closed, assigned to nobody

[2017-07-19 17:22] msciotti commented on #215
Documented as of af57ad3.

[2017-07-19 17:23] #215 closed, assigned to nobody

[2017-07-20 04:42] nhooyr opened #303 "what are the fields of the gateway identify properties object?"
https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/Gateway.md#gateway-identify

There is an example provided, but it's not fully documented anywhere.

[2017-07-20 04:43] nhooyr opened #304 "confliction regarding when to begin sending heartbeats"
https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/Gateway.md#gateway-heartbeat says one cannot send a heartbeat before authenticating but https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/Gateway.md#connecting says that the client should begin sending heartbeats soon as it gets the hello payload and then identify.

[2017-07-20 05:35] devsnek commented on #304
it means you should start your interval as soon as you get hello, and assumes it won't take you 41250ms to do a fully identification flow

[2017-07-20 05:46] nhooyr commented on #304
Ah, ok I got it now. I was working off an implicit assumption that I should write the heartbeat payload before the interval. I read the discordgo source and https://github.com/bwmarrin/discordgo/blob/master/wsapi.go#L205 is doing it before the interval, not after. Of course I should only do it after the interval, makes sense now, but since I read the discordgo, I assumed it was doing it correctly

[2017-07-20 05:46] #304 closed, assigned to nobody

[2017-07-21 18:15] #303 closed, assigned to nobody

[2017-07-23 16:22] SinisterRectus opened #311 "Channel Pins Update last_pin_timestamp"
While documenting the `CHANNEL_PINS_UPDATE` event in #309, I ran into some confusion with the `last_pin_timestamp` field.

When pinning messages, the timestamp makes sense; it's the time that the message was pinned, with microsecond precision.

When unpinning a message, different results are seen. Firstly, there is only millisecond precision, and the milliseconds may be different from the original

[2017-07-23 16:45] SinisterRectus commented on #311
Thinking about this some more... should a timestamp be sent if the unpinned message is not the most recently pinned message?

[2017-07-23 18:11] nhooyr opened #312 "Gateway will not respond with Ready to Resume"
In https://github.com/hammerandchisel/discord-api-docs/blob/4624b9ec1d0cd5e94d9310cc36eae89ea7d59ef3/docs/topics/Gateway.md#connecting

The language implies that the Ready event will be received in response to a Resume payload, which is not true and clarified in the following Resumption section. But this is still a contradiction in the docs and should be fixed.

[2017-07-23 18:16] nhooyr opened #313 "too late to resume, why wait a random amount of time before sending an identify op?"
The docs (https://github.com/hammerandchisel/discord-api-docs/blob/4624b9ec1d0cd5e94d9310cc36eae89ea7d59ef3/docs/topics/Gateway.md#resuming)  say

Why a *random* amount of time between 1 and 5 seconds? Is this rate limit connected to Identify Ops being allowed only once every 5 seconds? Just confused on why I should wait a *random* amount of time? Why not an exact time? Or why not make a client en

[2017-07-23 18:21] nhooyr opened #314 "when receiving a resumable invalid session, do I close the entire connection?"
The docs do not mention how this should be handled. Should I just send a ~~reconnect~~ (resume) OP without closing the connection (same as sending an identify OP when the session is not resumable) or do I close the entire connection and then send a ~~reconnect~~ (resume) OP?

[2017-07-23 18:25] SinisterRectus commented on #312
https://github.com/hammerandchisel/discord-api-docs/pull/309/commits/d4ccc367966eef95b05c8e82ca6cac333ab586db

[2017-07-23 18:26] nhooyr commented on #313
@Voltana answered this on the discord API server

[2017-07-23 18:26] #313 closed, assigned to nobody

[2017-07-23 18:34] nhooyr commented on #312
@SinisterRectus Two ~~questions~~ clarifications.

1. For the Invalid Session Op, the linked commit states:

Out of those scenarios, when can `resumable = true`? In the first case, an identify Op is sent which does not include the session ID so the gateway cannot tell if the session is resumable. In the second scenario, if a client connects with a invalid or expired session ID, why would they care

[2017-07-23 18:35] SinisterRectus commented on #314
The docs do explain this. Reconnect is not a payload that is sent by the client; it is sent from the server to tell the client that it should completely reconnect to the gateway.

After reconnecting, you receive the hello op/payload like usual. At this point, you can choose to attempt to resume or identify. If you have a session ID and sequence, you should try to resume. If not, or if the resume f

[2017-07-23 18:37] nhooyr commented on #314
My bad, I meant resume up there. Fixed now.

Thanks for clarifying.

[2017-07-23 18:37] #314 closed, assigned to nobody

[2017-07-23 18:44] SinisterRectus commented on #312
I think you're reading between the lines too much.

When the gateway tells you it is.

A session ID is never sent by the client when identifying. The gateway servers give you the session ID.

Who is "they"?

There are likely certain circumstances that make a session resumable, but you don't need to worry about that. If d is true on an invalid session and you have a session ID and sequence, then yo

[2017-07-23 18:46] SinisterRectus commented on #312
If I had to speculate, I'd assume that d would never be true following a failed resume, if that's what you're worried about.

[2017-07-23 18:53] nhooyr commented on #312
I want to make sure I understand the gateway fully, so that I can implement it in my library to the best of my abilities.

But when is that? Why would the gateway send me a Invalid Session Op with resumable = true?

That's exactly what I said. Without the session ID, the gateway could not tell whether the session is resumable so it could not be true if the Invalid Session Op is sent in response to

[2017-07-23 19:09] SinisterRectus commented on #312
I'm not really sure what you're getting at.

An invalid session can occur for multiple reasons, most of which are not known to end-users. Think of an invalid session like a soft disconnect that happens after a failed attempt to start a session or after an active session ends. In either case, the session that you are operating on becomes invalid, but the socket does not close. If you had a previous

[2017-07-23 19:12] nhooyr commented on #312
That makes sense! In that case, the Op is not fully described in the commit you linked. It states that the Invalid Session Op is sent when

You should describe it the way you just described it to me in your previous comment. It cleared up all my confusion.

[2017-07-23 19:14] SinisterRectus commented on #312
I'm not sure how that doesn't fully explain to users what they need to know.

[2017-07-23 19:17] nhooyr commented on #312
It doesn't include the part about an active session ending. It only includes failed attempts to start a session where it doesn't really make sense to send a Invalid Session Op with `reconnect = true` because if the attempt failed, there is no session that can be resumed by the client. However, it makes sense to send a Invalid Session Op with `reconnect = true` at the end of a active session.

[2017-07-23 19:21] SinisterRectus commented on #312
It's really hard to figure out what you're saying when you keep using run-on sentences, but I think I got it now. I'll make the change and see if you approve.

[2017-07-23 19:22] nhooyr commented on #312
I'm sorry, I'm trying my best, I know I can be very unclear sometimes. Glad you got me though :D

[2017-07-23 19:30] night commented on #311
the timestamp in your latter example should show message 5's `last_pin_timestamp` until that pin is removed. it looks like it's sometimes being returned

[2017-07-23 19:32] SinisterRectus commented on #312
Does this work? https://github.com/hammerandchisel/discord-api-docs/pull/309/commits/112aeff817e1f32785f42061e48492061dd81b13

I hope that I haven't changed it enough to make it inaccurate.

[2017-07-23 19:33] nhooyr commented on #312
Perfect.

[2017-07-23 19:48] night commented on #311
i see the bug, it's flip flopping between `null` and the most recent pin

[2017-07-23 20:24] nhooyr opened #315 "does gateway rate limiting include any message sent?"
https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/Gateway.md#rate-limiting

Does any message sent across the web socket count towards the limit? Even heartbeats/identifies/reconnects etc?

[2017-07-23 20:31] night commented on #311
this is fixed in master, will be out this week.

also the discrepancy in time was due to two timestamps being generated, i've changed them to share the same

[2017-07-23 20:31] #311 closed, assigned to nobody

[2017-07-23 20:37] night commented on #315
The gateway rate limits are separate from our REST API's rate limits.

[2017-07-23 20:37] #315 closed, assigned to nobody

[2017-07-23 20:40] nhooyr commented on #315
That was not my question. I'm asking whether all messages sent on the web socket count towards the rate limit, e.g. even heartbeats/identifies/resumptions etc. I'm not sure whether these three are because they are required always. Are only the Status Update, Voice State Update, Voice Server Ping, and Request Guild Members ops rate limited because they are not always necessary?

[2017-07-23 20:41] night commented on #315
Then the answer is yes, all payloads sent count.

[2017-07-23 20:47] nhooyr commented on #315
When reconnecting, is the rate limit reset? Is it ever reset?

[2017-07-23 20:49] SinisterRectus commented on #311
Great, thanks!

[2017-07-23 23:06] nhooyr commented on #315
According to `@#1 cute anime girl` in the discord server, they only reset upon reconnecting.

[2017-07-24 11:37] Marqin opened #316 "documentation first"
Hi,
your API is great, but I'd like to suggest something for your next team Retrospective meeting - moving to `documentation first` method, where first (as part of feature specification) write docs, and then tests+code. This way we would have much less "missings" and undocumented stuff.

With apology for disturbing your workflow,
Marqin

[2017-07-24 15:16] snightshade opened #317 "Can set voice channels as NSFW / NSFW voice channels have NSFW text channel icon"
Proof: http://owo.solutions/22d29b.png / http://owo.solutions/79e6fb.png

How to replicate (Discord.py 1.x [rewrite]):
[code]

[2017-07-24 16:44] jhgg commented on #316
Hi,

Although we appreciate the feedback - this issue tracker is not the appropriate issues for discussing our development flows.

[2017-07-24 16:44] #316 closed, assigned to nobody

[2017-07-24 17:18] msciotti commented on #317
Very odd bug. I am able to reproduce as well using `PATCH /channels/<channel_id>` with a json body of `nsfw: true`. I've made note of this and sent it along to our engineers.

@night @b1naryth1ef

[2017-07-24 17:52] msciotti commented on #317
Investigation results: this is intended API functionality, but a UI bug. Passed on accordingly and closing the issue.

[2017-07-24 17:52] #317 closed, assigned to nobody

[2017-07-24 19:52] #262 closed, assigned to nobody

[2017-07-25 04:16] nhooyr opened #318 "a payload sent after receiving an invalid session op closes the connection?"
I'm confused on how I should handle a small detail and it isn't clarified in the docs. What if I receive an Invalid Session Op when my active session expires but while the Invalid Session Op is in flight, I have sent a payload and it is also in flight, e.g. a Voice State Update Op.

According to someone on the discord server, this means that the connection will be closed. This may be what happens

[2017-07-26 00:58] msciotti commented on #318
The folks in the server are correct. As to why it's designed this way, I unfortunately can't give you a better answer than "because it is". But, your library should be able to handle invalid sessions, resumes, and re-identifying properly, so it shouldn't be that big of an issue.

[2017-07-26 00:59] #312 closed, assigned to nobody

[2017-07-26 01:24] nhooyr commented on #318
I'm writing a library which is why I'm trying to fully understand it.

According to your response, the information I received in https://github.com/hammerandchisel/discord-api-docs/issues/314 is incorrect. Now I'm not sure, can you check that issue to make sure I'm not misinterpreting anything in it?

[2017-07-26 01:27] msciotti commented on #318
OK let me make sure we're on the same page here. You mentioned `Voice State Update OP`, so I assume you mean the voice socket. The protocol for the normal gateway and voice socket are slightly different:

**Normal Gateway:** An invalid session OP means you should attempt to resume or re-identify

**Voice Socket:** An invalid session OP in regards to voice is always a full reconnect. We disconnect

[2017-07-26 01:49] nhooyr commented on #318
I'm talking about the normal gateway. https://github.com/hammerandchisel/discord-api-docs/blob/master/docs/topics/Gateway.md#gateway-op-codes

I have to send a Voice State Update Op to change voice channels over the gateway web socket.

[2017-07-26 01:50] nhooyr commented on #318
You can replace the payload with any payload I can send, maybe I send a Request Guild Members Op. Doesn't matter.

[2017-07-26 06:40] night commented on #318
the gateway processes requests asynchronously, which means until we acknowledge your identify/resume your connection is not identified, thus sending a voice state update after an identify/resume without first waiting for a successful response will cause your connection to be closed since you're not authenticated yet.

[2017-07-26 06:42] nhooyr commented on #318
I'm talking about when I receive a Invalid Session Op when my active session expires. E.g. I connect to the gateway, identify, receive events for a while, my session expires and I receive a Invalid Session Op. It's this Invalid Session Op that my original post is about.

[2017-07-26 06:49] night commented on #318
Yes, if you get an invalid session event from our servers you need to identify or resume as Mason stated. If you do not identify or resume and instead send any other payload you will be disconnected as you're not authenticated. The "proper" way to handle receiving an invalid session event is to not send anything to our gateway other than identify/resume until you're reauthenticated with our gatewa

[2017-07-26 06:51] nhooyr commented on #318
But I can't control that. A Voice State Update Op could already be in flight when I receive the Invalid Session Op.

[2017-07-26 07:02] msciotti commented on #318
OK, I think we finally are on the same page. Your hypothetical situation is as follows:

1. I send some sort of payload - **A** - to the gateway
2. The gateway sends me an invalid session OP - **B** - while **A** is still "in flight" on the wire
3. The gateway sent me **B**, and is waiting for an Identify/Resume payload - **C**
4. However, my payload **A** then hits the gateway, it was expecting *

[2017-07-26 07:16] nhooyr commented on #318
Ok, thank you.

[2017-07-26 07:16] #318 closed, assigned to nobody

[2017-07-26 08:30] chriskolenko opened #320 "OAuth2 Bot joined which Guild?"
Before I start. This is some of the best Documentation I've seen in a long time. Keep up the good work.

I'm looking for an easy way to get Guild the Bot just joined after an OAuth2 Full Grant.

IE. https://discordapp.com/oauth2/authorize?client_id=xxx&permissions=xx&response_type=code&scope=bot+email+identify&state=xx
User add bot to Guild
Redirect
Exchange code for token
Use token to find which

[2017-07-26 08:48] devsnek commented on #320
if you have a redirect uri, the bot scope will add `guild_id` to the callback query.
`redirect_uri=https://example.com` and user selects guild `1337` discord will callback with `?guild_id=1337` (and `code` if you are doing any of the other scopes)

[2017-07-26 08:53] chriskolenko commented on #320
@devsnek That's perfect. I was relying on the URL configured inside Discord App for the redirect.
For this piece of information. I will happily put in a PR.

[2017-07-26 14:12] shylor opened #322 "Instant Invite Channel causing 500 error in widget.json (server -> widget settings)"
This is random. We are not sure what starts it. However, randomly the Instant Invite Channel on the Widgets settings will break causing the widget.json link to start throwing 500 errors.

Work Around: Change the Instant Invite Channel to another channel.

Here is an example (https://discordapp.com/api/guilds/223517176005394432/widget.json). It might be "working/changed to a new channel" again by t

[2017-07-26 17:36] night commented on #322
Your server has too many invites, so you need to delete some. Changing the channel should not fix it, so you might be mislead that it does if widget.json gets cached with an invite code after an invite expired freeing up room for 1 more.

[2017-07-26 17:44] shylor commented on #322
Thanks for pointing this out. Also, 500 might not be a great error number for this.

This seems like a way to attack a server also. I'm on a different server and looked at the invites. This might take weeks to delete all these.
![image](https://user-images.githubusercontent.com/1676257/28635427-95d3fefc-7208-11e7-8251-7c19a6f4c8ae.png)

[2017-07-26 17:46] night commented on #322
If you run a public server you might wish to disable invites and give people a permanent invite to link to people.

[2017-07-26 17:47] night commented on #320
also worth noting as it stands that a query string param alone cannot be used as more than a hint that the bot joined the guild.. you should not associate a user account to a guild based on that (or someone could potentially associate their bot with anyone's guildid at that point). you should at least query that the user account that went through your full flow has manage server permission in the

[2017-07-26 20:11] msciotti commented on #322
Agreed with Night. The best way to secure against that is permissions. @shylor, you can also delete invites programmatically (https://discordapp.com/developers/docs/resources/invite#delete-invite).

Are there any additional questions or issues on this topic, or may I mark this as closed?

[2017-07-28 00:31] #322 closed, assigned to nobody

[2017-07-28 03:24] EPICZEUS opened #325 "NSFW prefixed channels have nsfw property marked as false."
https://imgur.com/0pUHHjz

[2017-07-28 03:29] z64 commented on #325
Hi there! As of a recent update, the `nsfw` literal prefix *no longer dictates* the nsfw status of channels. It is a property of the channel model itself now, and shown in the UI as a "#" with a caution sign over it.

In the future, please consider reporting suspected bugs to the [Discord Testers](https://discord.gg/discord-testers) server, or inquiry about API behavior in the [Discord API](https:

[2017-07-28 03:46] night commented on #325
@z64 is correct on the prefix changing. Our client is backwards compatible with the prefix and I believe we are also converting channels to use the new boolean when someone opens a channel's settings.

Regarding bug reporting: this is definitely the right place at the moment for API bugs. You can ask on the Discord API server if you're unsure if you've found a bug, but it's unofficial and not all

[2017-07-28 03:46] #325 closed, assigned to nobody

[2017-07-28 11:18] nhooyr opened #326 "keeping track of guild members is very difficult"
edit: I accidently opened this before I was finished typing. Hold on.

[2017-07-28 12:36] nhooyr commented on #326
Never mind, I think I solved my problem myself.

[2017-07-28 12:36] #326 closed, assigned to nobody

[2017-07-30 18:44] #320 closed, assigned to nobody

[2017-07-31 01:56] allen-liaoo opened #328 "Get Guild Channels Endpoint still not updated."
This is one of the channel json object I received at the endpoint `/guilds/{guild.key}/channels`.
[code]
The channel type is not updated to an integer yet.

[2017-07-31 02:00] MinnDevelopment commented on #328
Did you use the right api version?

[2017-07-31 02:07] allen-liaoo commented on #328
Nvm, I think I got it.

[2017-07-31 02:07] #328 closed, assigned to nobody

[2017-08-02 11:42] liampwll opened #331 "Was removal of the channel delete event from the docs intentional?"
I noticed this and thought it might be a mistake:

https://github.com/hammerandchisel/discord-api-docs/commit/4169c543c0133437433006e68aa68debc690f9fb#diff-b307d936b736f302bc7cc153f0d8a0a3L441

[2017-08-02 15:24] msciotti commented on #331
You are correct, thank you. Got lost in the refactoring PR.

[2017-08-02 20:14] #331 closed, assigned to nobody

[2017-08-04 21:23] allen-liaoo opened #333 "Internal Server Error"
When I send the following json to [CREATE GUILD](https://discordapp.com/developers/docs/resources/guild#create-guild) endpoint, I got `500 INTERNAL SERVER ERROR`.
[code]

[2017-08-04 22:38] night commented on #333
we were already aware of this and it's been fixed in master but not yet in production

[2017-08-08 08:32] ghost commented on #226
Adding another permissions & scopes calculator: https://discord.now.sh

[2017-08-08 13:34] ye0jun opened #335 "Path must be a string. Received undefined at assertPath"
![image](https://user-images.githubusercontent.com/16712307/29074215-67b68f0e-7c89-11e7-9ecf-995550e835cb.png)

I making windows app using electron (javascript)
and I located to https://discordapp.com/oauth2/authorize?client_id=MYCLIENTID&scope=guilds.join&response_type=code then I see that error
What can I do?

[2017-08-08 17:41] SinisterRectus opened #336 "Snowflake format"
The section on Snowflakes in https://discordapp.com/developers/docs/reference requires clarification / confirmation.

Are Snowflakes signed or unsigned?

Are Snowflakes strings over ETF?

[2017-08-08 18:47] b1naryth1ef commented on #336
They are effectively unsigned (not something we have to worry about for another ~60 years), and over ETF I believe they are sent as strings.

[2017-08-08 19:07] SinisterRectus commented on #336
Someone once told me that Snowflakes are sent as ints over ETF, and I notice that [erlpack](https://github.com/hammerandchisel/erlpack/blob/master/js/decoder.h#L219-L258) goes through the effort of converting "big" ints to a string in JS, so I wasn't sure. I haven't had a chance to work with ETF encoding yet, otherwise I'd check myself.

[2017-08-08 19:08] b1naryth1ef commented on #336
paging dr @jhgg

[2017-08-08 19:16] jhgg commented on #336
Big ints are silently truncated in JS. Which is why we store them as strings.

[2017-08-08 19:22] SinisterRectus commented on #336
Alright, thanks.

[2017-08-08 20:58] b1naryth1ef commented on #336
![image](https://user-images.githubusercontent.com/599433/29094281-a1495988-7c41-11e7-9ddc-f8cff9b291d8.png)

[2017-08-09 04:17] nhooyr opened #337 "confusing Retrieving Voice Server Information docs"
The [Retrieving Voice Server Information](https://discordapp.com/developers/docs/topics/voice-connections#retrieving-voice-server-information) docs say

It states that the [Voice State Update](https://discordapp.com/developers/docs/resources/voice#voice-state-object) event contains a key, but the event does not.

[2017-08-09 04:18] night commented on #333
we deployed this yesterday, so it should work now

[2017-08-09 04:18] #333 closed, assigned to nobody

[2017-08-09 04:21] night commented on #335
You may need to turn off node integration on the window as it may be conflicting with `require` in our JavaScript.

[2017-08-09 04:22] nhooyr commented on #337
Oh, it means session_id is a key. Sorry for the noise.

[2017-08-09 04:22] #337 closed, assigned to nobody

[2017-08-09 07:18] ghost opened #338 "Cannot create new app on Safari/Edge"
Cannot create a new app on 'My Apps' page on Safari 10.1.1 (12603.2.4) (on macOS 10.12.5 Sierra), but works fine on Chrome.
Frozen on 'Building a sweet new app!' permanently.
Reported by Colesey#7863 and datlof#0390 (me) on the Discord API guild.

Frozen on:
http://i.imgur.com/vhvTQvw.png

[2017-08-09 15:31] MinnDevelopment commented on #336
Is it true that you -as client- can send them as either int or string?

[2017-08-09 15:35] nhooyr opened #340 "broken presence link on guild object"
https://discordapp.com/developers/docs/resources/guild#guild-object

The link for presences is broken and leads to https://discordapp.com/developers/docs/topics/gateway#gateway-status-update but it should be https://discordapp.com/developers/docs/topics/gateway#presence-update

Also, what exactly is a partial presence object?

In addition, the docs for the [Gateway Identify Object](https://discord

[2017-08-09 15:42] nhooyr opened #341 "voice state guild_id is only sent in the voice state update event"
[Voice State Objects](https://discordapp.com/developers/docs/resources/voice#voice-state-object) have a guild_id field that is only populated when sent in a [Voice State Update](https://discordapp.com/developers/docs/topics/gateway#voice-state-update) event. Thus, I think it would be more clear to make guild_id a field of the Voice State Update event and remove it from the Voice State Object. Then

[2017-08-10 01:17] #335 closed, assigned to nobody

[2017-08-10 01:40] dfltr commented on #338
Sorry for the breakage, website team will look into it 👍

[2017-08-10 04:34] jhgg commented on #336
Yes we coerce them properly on the server side.

[2017-08-10 17:05] msciotti commented on #337
For what it's worth, voice connection info is getting overhauled in a PR. So this and other sections should be much more clear moving forward.

[2017-08-10 22:38] #340 closed, assigned to nobody

[2017-08-10 23:32] msciotti commented on #341
For now, we're going to keep it as is. I think it's better to have all of the object's fields in one place rather than having to refer to multiple parts of the documentation for one object.

[2017-08-10 23:49] #341 closed, assigned to nobody

[2017-08-12 05:27] nhooyr commented on #341
Conceptually, the guild_id is not really part of the voice state. It's part of the voice state update event. Given other objects have similar semantics, it is imo inconsistent to ignore this issue especially since it's backward compatible.

[2017-08-12 21:29] msciotti commented on #341
Conceptually perhaps, but in actuality, it is a field that belongs to that object. We're going with the same philosophy as the channel object refactor. If you prefer to separate it in your own library, you are welcome to, but the documentation should maintain parity with what the API actually is.

This will be exponentially more so when we, at some point, have auto-generated routes and objects. We

[2017-08-15 09:53] justgerd opened #349 "Bot Account invisible"
After I accidentally turned my application into an app with rich presence, I was also inable to use the bot account anymore. It doesn't show up in the members list in the server settings, it says that it has no permissions when I try to send a message and it is not reacting to messages.
I already tried to reauthorize the bot, that didn't change anything

Application ID: 311717140690370564

[2017-08-15 17:05] msciotti commented on #349
Hey @gerd2002. I was not able to replicate this. These are the steps I took. Can you confirm or clarify that these are the steps you took?

1. Create a new application
2. Add bot to server
3. Connect bot, confirm can send messages
4. Enable rich presence
5. Reconnect bot

In my case, my bot is still able to send and react to messages.

[2017-08-15 17:20] msciotti commented on #349
You might want to check that your bot's token hasn't been reset. You could be using an outdated token, and therefore your bot isn't ever actually connecting.

[2017-08-16 08:44] justgerd commented on #349
<img width="1193" alt="screen shot 2017-08-16 at 16 48 55" src="https://user-images.githubusercontent.com/15901933/29355258-df955004-82a2-11e7-8578-e9813ea49198.png">
The Bot is indeed connecting, and I can still send messages with the API, but as a response I get a permission missing answer.

I even get this after rejoining the bot to any of my servers and replacing the channel id.

base in the u

[2017-08-16 09:07] night commented on #349
If your bot does not show up in the member list and cannot send messages to the channel, then it definitely doesn't have read messages permission in the channel.

[2017-08-16 09:12] justgerd commented on #349
It is not even in the server, after reauthorizing it with admin permissions.

And it doesn't show up in the member list in the server settings.

[2017-08-16 09:15] night commented on #349
What is your bot's user id and the guild id in which the bot is supposed to be a member but is not?

[2017-08-16 09:16] justgerd commented on #349
UserID: 311717140690370564
GuildID: 247413544897740800

[2017-08-16 09:20] justgerd commented on #349
Also, what I didn't mention before is that doing a request to https://discordapp.com/api/users/@me/guilds returns an empty json array.

[2017-08-16 09:21] night commented on #349
That user id does not exist as a member within that guild id. You would need to go through the authorization flow to add the bot back into the guild: https://discordapp.com/oauth2/authorize?client_id=311717140690370564&scope=bot

[2017-08-16 09:22] justgerd commented on #349
I did that, multiple times.

That problem seemed to be temporarily, it actually worked this time.

[2017-08-16 09:24] #349 closed, assigned to nobody

[2017-08-16 18:04] TobiasFeld22 opened #350 "Make it easier to see if endpoints are bearer or bot only on the documentation."
Some endpoints (/guilds/:id for example) can only be used by a bot account.
It would be very useful if there was a small bot icon or a user icon that has something like a cross if the endpoint doesn't support that type of account.

@msciotti

[2017-08-18 14:24] zet4 commented on #350
As far as I can see it, official API docs are there only for bot accounts, not user accounts.
Furthermore, automating user accounts is against the ToS. There is no reason the docs should have any information to assist in using the API with a user account.

[2017-08-18 16:24] Alcaro commented on #350
As far as I can see ([TOS §2.5, as of latest master](https://github.com/hammerandchisel/discord-api-docs/blob/15e83977bb9f971cca311c0a044137e210716c53/docs/Legal.md)), 'automating user accounts' refers to having a user account send messages or join guilds without the account owner explicitly permitting sending that message or joining that guild.

But if it is permitted, it's perfectly fine (§2.5a,

[2017-08-18 16:37] msciotti commented on #350
User bots/self bots are expressly not permitted. The OAuth flow is limited specifically to the OAuth scopes we provide and is to be used with a bearer token retrieved from the oauth flow. User bots and self bots use tokens provided by other means to access bot-only endpoints as if the actions were coming from a user.

[2017-08-18 16:44] MinnDevelopment commented on #350
"User bots/self bots are expressly not permitted" I feel like this stance has changed too often now.

[2017-08-18 16:45] z64 commented on #350
This was discussed at some length on the Discord API server when this issue was opened, but I'll reiterate my thoughts on this here.

First, that's right, the documentation is explicitly only for making API calls with `Bot`-type and `Bearer`-type tokens. User tokens, and endpoints that only user accounts can use are not / will not be documented.

So, if this is to suggest we add some kind of marki

[2017-08-18 16:48] MinnDevelopment commented on #350
All scopes should have documentation that explicitly states what endpoints will be available, in my opinion.

[2017-08-18 17:05] msciotti commented on #350
They do. https://discordapp.com/developers/docs/topics/oauth2#scopes-oauth2-scopes

[2017-08-19 23:17] isabelcoolaf opened #357 "Having all scopes on an OAuth2 link makes it impossible to scroll to the very top"
1. Open an auth link with all scopes, for example http://bit.ly/ScopesBugExample.
2. Attempt to scroll to the very top

You'll see it's impossible to scroll to the very top to see info like the application name without using the Zoom feature. I did this on default Zoom on latest Chrome.

[2017-08-21 19:45] msciotti commented on #336
Fixed by #339

[2017-08-21 19:45] #336 closed, assigned to nobody

[2017-08-23 12:45] Exahilosys opened #360 "Audit Log Typo"
afk timout duration changed

timeout *

[2017-08-23 12:46] MinnDevelopment commented on #360
Open a PR instead of an issue

[2017-08-23 18:10] #360 closed, assigned to nobody

[2017-08-24 00:43] GamingAndStuffs opened #362 "Incorrect JSON when getting invites"
This is the JSON response when getting an invite for me with POST /channels/`id`/invites

`{"max_age":86400,"guild":{"icon":null,"name":"meme-a","id":"<server id>","splash":null},"temporary":false,"code":"<invite code>","max_uses":0,"channel":{"name":"general","id":"<channel id>","type":"text"},"created_at":"2017-08-23T23:25:20.333000+00:00","uses":0,"inviter":{"bot":true,"id":"299650615477534721"

[2017-08-24 00:46] night commented on #362
You are not specifying an API version, so you're getting v3 data instead of v6 data.

[2017-08-24 00:46] #362 closed, assigned to nobody

[2017-08-24 09:26] ghost opened #363 "Cannot create a new app in Microsoft Edge"
I can't create a new app in the latest Microsoft Edge for Windows 10. Freezes when trying to click `Building a sweet new app!`. Similar to #338.

![Image](http://i.imgur.com/VN1Nq5X.png)

[2017-08-24 17:24] msciotti commented on #363
@dfltr Seems related to the Safari issue. Tagging as bug here as well.

[2017-08-24 23:41] chriskolenko opened #364 "Out of Scope"
I just got rejected from Discord trying to become a partner.

I wouldn't have signed up for the partner program if I knew the minimum requirements.

Also, I have no idea about the extras. IE.. if you're a partner does more of the API open up? or is it just vanity URLs?

Should this be something we document?

[2017-08-24 23:44] b1naryth1ef commented on #364
This is the incorrect place for this question, if you have questions about the partners program please direct them to our support team on twitter or via email.

[2017-08-24 23:44] #364 closed, assigned to nobody

[2017-08-25 00:24] jhgg commented on #363
Dupe of #338

[2017-08-25 00:24] #363 closed, assigned to nobody

[2017-08-25 07:36] Bottersnike opened #365 "Document voice recieving"
Connecting to voice is documented, as is heart-beating and sending voice data, however receiving voice data is not. Is this something that should be added to the documentation?

[2017-08-25 16:51] msciotti commented on #365
I suppose an argument could be made for including it explicitly. I assumed it would be assumed that receiving would be, in essence, sending in reverse. However, I can see the argument. Will add this to TODO

[2017-08-26 20:27] MinnDevelopment opened #367 "Webhook documentation incomplete"
The webhook documentation should document the maximum amount of embeds you can send in a message. From testing I figured out that it only displays the first 10 embeds.
I believe that the embed size limit is the same that applies to bots (6000 characters) but that might be worth noting and in addition documenting the maximum file size can't hurt.
The rate limits on webhook execution are also specia

[2017-08-26 20:37] night commented on #367
it should be reporting 5/2, the 30/60 was added as a limit to the channel itself and was incorrectly configured. will commit a fix

[2017-08-26 20:58] night commented on #367
a fix for this is committed. it doesn't fix the whole 5 per 2 not working with 30 per 60 limit.. will need to speak with the engineer (no names, no names) who added the limit itself to work out a standardized limit for this endpoint. we should not have more than 1 limit per endpoint per our docs (for user accounts that rule does not apply).

[2017-08-26 20:59] MinnDevelopment commented on #367
Thank you for the quick reply, I hope that this can be resolved.

[2017-08-26 22:16] jhgg commented on #367
We have multiple rate limits per route. The 30/60 limit is meant to combat people having a bunch of webooks and rotating them per message send to send a lot of messages to a single channel in bulk. The 2/5 rate limit is intended to limit the burst of how quickly you can consume the 30/60 rate limit. It is indeed a bit confusing. Not sure how to fix yet though.

[2017-08-27 07:57] isabelcoolaf opened #368 "Using messages.read OAuth2 scope doesn't change the "cannot read or send messages" message at the bottom of the authorization page"
1. Use `messages.read` in an authorization link, here's one for example: http://bit.ly/2wzwKst
2. Notice how the message saying the application cannot read or send messages doesn't change.

Here's a screenshot better detailing the issue:
http://i.imgur.com/2mr1ZWH.png

[2017-08-27 12:01] kantenkugel commented on #367
It would already be nice if a successful request would always return the 5/2s headers as you are more likely to hit that one by "normal" means.

Or at least the ratelimit that has currently fewer usages left.
For example: after a successful request, if there are 0 left of the 5/2s bucket and 20 left of the 30/60s bucket, return the 5/2s headers so that the application knows that the next request w

[2017-08-28 18:01] msciotti commented on #368
You are correct, that text is static. This is for RPC-only, but it might be worth fixing depending on the complexity.